<div class="sidebar" data-color="purple" data-background-color="white" data-image="">
    <div class="logo"><a href="/AdminDashboard" class="simple-text logo-normal">
            Admin Panel
        </a></div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="/AdminDashboard">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/conet">
                    <i class="material-icons">group</i>
                    <p>Conet</p>
                </a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="/conexplus">
                    <i class="material-icons">groups</i>
                    <p>ConexPlus</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/conexspeaker">
                    <i class="material-icons">speaker_group</i>
                    <p>Conex Speaker</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/subscription">
                    <i class="material-icons">speaker_group</i>
                    <p>Subscriptions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/resetmypassword">
                    <i class="material-icons">admin_panel_settings</i>
                    <p>Reset My Password</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="" onclick="logout()">
                    <i class="material-icons">no_encryption</i>
                    <p>Logout</p>
                </a>
            </li>


        </ul>
    </div>
</div>
<script src="/public/Main_Page/frontend_Js/logout.js"></script>
