<header id="header" class="fixed-top">
  <div class="container">
    <div class="logo float-left">
      <a href="/" class="scrollto"
        ><img src="/public/img/logowhite.png" alt="" class="img-fluid"
      /></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/incur">Incur</a>
        </li>
        <li>
          <a href="/workshop">Workshop</a>
        </li>
        <li class="drop-down">
          <a href="#">Certification Courses</a>
          <ul>
            <li class="drop-down">
              <a href="#">Development</a>
              <!--Drop Down 3-->
              <ul>
                <li>
                  <a href="/404">Android Development</a>
                </li>
                <li>
                  <a href="/404">Full Stack Development</a>
                </li>
              </ul>
            </li>
            <li class="drop-down">
              <a href="#">Technology</a>
              <!--Drop Down 3-->
              <ul>
                <li><a href="/404">AWS Solution Architect</a></li>
                <li>
                  <a href="/404">Cyber Security</a>
                </li>
              </ul>
            </li>
            <li class="drop-down">
              <a href="#">Data Science</a>
              <!--Drop Down 1-->
              <ul>
                <li><a href="/404">Big Data</a></li>
                <li><a href="/404">Data Science</a></li>
                <li>
                  <a href="/404">Machine Learning</a>
                </li>
              </ul>
            </li>
            <li class="drop-down">
              <a href="#">Programming Languages</a>
              <!--Drop Down 2-->
              <ul>
                <li>
                  <a href="/404">C & C++ Programming</a>
                </li>
                <li>
                  <a href="/404">Core and Advanced Java</a>
                </li>
                <li>
                  <a href="/404">Data Structures and Algorithms</a>
                </li>
                <li><a href="/404">Python Programming</a></li>
              </ul>
            </li>
            <li class="drop-down">
              <a href="#">Business Analytics</a>
              <!--Drop Down 1-->
              <ul>
                <li><a href="/404">Microsoft Power BI</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- .main-nav -->
  </div>
</header>
<!-- #header -->
