<!-- footer -->
<footer class="footer footer_bg_1">

    <div class="footer_top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 15 1440 320"><path fill="#fff" fill-opacity="1" d="M0,224L80,186.7C160,149,320,75,480,
            85.3C640,96,800,192,960,202.7C1120,213,1280,139,1360,101.3L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="/">
                                <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://wa.me/919995111184" target="_blank">
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.facebook.com/conex365" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/conex365/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                
                            </ul>
                            <ul style="padding-top: 10px">
                                <li>
                                    <a href="https://www.youtube.com/channel/UCtYlw1N-kqsLLdaFOUIYDQA" target="_blank">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="https://www.linkedin.com/company/conex365edu" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 10px;">
                                <a href="https://www.f6s.com/conex365?follow=1" target="_blank"
                                    title="Follow ConeX365 on F6S"><img
                                        src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78"
                                        height="22 " alt="Follow ConeX365 on F6S"
                                        style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-2 col-md-2 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Resources
                        </h3>
                        <ul>
                            <li><a href="/speaker">Speakers</a></li>
                            <li><a href="/team">Our Team</a></li>
                            <li><a href="/about"> About Us</a></li>
                            <li><a href="/contact"> Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-md-2 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul>
                            <li><a href="/workshop">Workshop</a></li>
                            <li><a href="/conexion">Conexion</a></li>
                            <li><a href="/conetregistration" target="_blank">CoNet</a></li>
                            <li><a href="/conexplusregistration" target="_blank">Conex Plus Event</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Address
                        </h3>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Headquarters</h5>
                                <p>
                                    ConeX365 EduCorp Consulting<br>
                                    NRA-37<br>
                                    Ramavarmapuram P.O,<br>
                                    Thrissur, Kerala <br>
                                    680631
                                </p>
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Annex</h5>
                                <p>
                                    ConeX365 EduCorp Consulting<br>
                                    Innerspace Coworking,<br>
                                    SRM Road, Kaloor, Kochi - 682018
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="blue-line">
            <div class="row">
                <div class="col-sm">
                    <center><a href="/privacy" style="color: white;" target="_blank">Privacy Policy</a></center>
                </div>
                <div class="col-sm">
                    <center><a href="/TofS" style="color: white;" target="_blank">Terms Of Service</a>
                    </center>
                </div>
                <div class="col-sm">
                    <center><a href="/carfp" style="color: white;" target="_blank">Cancellation and Refund
                            Policy</a></center>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->