<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/workshop"
                                            style="font-weight: bold; padding-bottom: 10px; width: 150px;border: solid; padding-top: 10px; border-radius: 10%">Live
                                            Workshop&nbsp&nbsp&nbsp<i class="fa fa-circle" aria-hidden="true"
                                                style="color: red"></i></a></li>
                                    <li><a href="/">Home</a></li>
                                    <li><a>Certification Courses</a></i>
                                        <ul class="submenu">
                                            <!--<li><a href="/trainings">Trainings</a></li>-->
                                            <li><a href="/Certification/MachineLearning">Machine Learning</a></li>
                                        </ul>
                                    <li><a>Services</a></i>
                                        <ul class="submenu">
                                            <!--<li><a href="/trainings">Trainings</a></li>-->
                                            <li><a href="/virtual">Virtual</a></li>
                                            <li><a href="/onSite">On-Site</a></li>
                                            <li><a href="/conexion">Newsletter</a></li>
                                            <li><a href="/conextoc">Conex to College</a></li>
                                            <li><a href="/conextoi">Conex to Industry</a></li>
                                            <li><a href="/conetregistration" target="_blank">CoNet</a></li>
                                            <li><a href="/conexplusregistration" target="_blank">Conex Plus Event</a>
                                            </li>

                                        </ul>
                                    <li><a>About Us</a></i>
                                        <ul class="submenu">
                                            <li><a href="/about">What are we?</a></li>
                                            <li><a href="/objectives">Objectives</a></li>
                                            <li><a href="/csr">CSR</a></li>
                                            <li><a href="/speaker">Speakers Panel</a></li>
                                            <li><a href="/team">Team Members</a></li>
                                        </ul>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="https://www.explara.com/c/Conex4students" target="_blank"
                                            style="font-weight: bold; padding-bottom: 10px; width: 150px;border: solid; padding-top: 10px; border-radius: 10%">VIP
                                            Membership</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>