<!-- footer -->
<footer class="footer footer_bg_1">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="index.html">
                                <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                        <p>
                            "Cognitive thinking has made Conex 365 not to simply go through and turn the page but to
                            apply our cognitive skills so as to bring in a change!!"
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/conex365" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/conex365/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCtYlw1N-kqsLLdaFOUIYDQA" target="_blank">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul style="padding-top: 10px">
                                <li>
                                    <a href="https://wa.me/919995111184" target="_blank">
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                </li>
                                <a href="https://www.f6s.com/conex365?follow=1" target="_blank"
                                    title="Follow ConeX365 on F6S"><img
                                        src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78"
                                        height="22 " alt="Follow ConeX365 on F6S"
                                        style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-2 col-md-2 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Resources
                        </h3>
                        <ul>
                            <li><a href="/speaker">Speakers</a></li>
                            <li><a href="/conexion">Conexion</a></li>
                            <li><a href="/about"> About</a></li>
                            <li><a href="/contact"> Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-md-2 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul>
                            <li><a href="/workshop">Workshop</a></li>
                            <li><a href="conet/index.html" target="_blank">Co-Net</a></li>
                            <li><a href="conexplus/index.html" target="_blank">Organize Conex+</a></li>
                            <li><a href="speaker/index.html" target="_blank">Conex+ Speaker</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Address
                        </h3>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Headquarters</h5>
                                <p>
                                    ConeX365 EduCorp Consulting<br>
                                    NRA-37<br>
                                    Ramavarmapuram P.O,<br>
                                    Thrissur, Kerala <br>
                                    680631
                                </p>
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Annex</h5>
                                <p>
                                    ConeX365 EduCorp Consulting<br>
                                    Innerspace Coworking,<br>
                                    SRM Road, Kaloor, Kochi - 682018
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-sm">
                    <center><a href="/privacy" style="color: white;" target="_blank">Privacy Policy</a></center>
                </div>
                <div class="col-sm">
                    <center><a href="/termsofservice" style="color: white;" target="_blank">Terms Of Service</a>
                    </center>
                </div>
                <div class="col-sm">
                    <center><a href="/carfp" style="color: white;" target="_blank">Cancellation and Refund
                            Policy</a></center>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->