<!--<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/workshop"
                                            style="font-weight: bold; padding-bottom: 10px; width: 150px;border: solid; padding-top: 10px; border-radius: 10%">Live
                                            Workshop&nbsp&nbsp&nbsp<i class="fa fa-circle" aria-hidden="true"
                                                style="color: red"></i></a></li>
                                    <li><a href="/">Home</a></li>
                                    <li><a>Certification Courses</a></i>
                                        <ul class="submenu">
                                            <!--<li><a href="/trainings">Trainings</a></li>-->
                                           <!-- <li><a href="/Certification/MachineLearning">Machine Learning</a></li>
                                        </ul>
                                    <li><a>Services</a></i>
                                        <ul class="submenu">
                                            <!--<li><a href="/trainings">Trainings</a></li>-->
                                           <!-- <li><a href="/virtual">Virtual</a></li>
                                            <li><a href="/onSite">On-Site</a></li>
                                            <li><a href="/conexion">Newsletter</a></li>
                                            <li><a href="/conextoc">Conex to College</a></li>
                                            <li><a href="/conextoi">Conex to Industry</a></li>
                                            <li><a href="/conetregistration" target="_blank">CoNet</a></li>
                                            <li><a href="/conexplusregistration" target="_blank">Conex Plus Event</a>
                                            </li>

                                        </ul>
                                    <li><a>About Us</a></i>
                                        <ul class="submenu">
                                            <li><a href="/about">What are we?</a></li>
                                            <li><a href="/objectives">Objectives</a></li>
                                            <li><a href="/csr">CSR</a></li>
                                            <li><a href="/speaker">Speakers Panel</a></li>
                                            <li><a href="/team">Team Members</a></li>
                                        </ul>
                                    <li><a href="/contact">Contact Us</a></li>
                                    <li><a href="https://www.explara.com/c/Conex4students" target="_blank"
                                            style="font-weight: bold; padding-bottom: 10px; width: 150px;border: solid; padding-top: 10px; border-radius: 10%">VIP
                                            Membership</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>-->
<header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="/" class="scrollto"><img src="/public/Main_Page/img/logowhite.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
            <li>
                <a href="/incur" class="btn-nav">InCur <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a href="/">Home</a>
            </li>

            <li class="drop-down"><a href="#">Certification Courses</a>
                <ul>
                    <li class="drop-down"><a href="#">Development</a>    <!--Drop Down 3-->
                        <ul>
                        <li><a href="/Certification/Android">Android Development</a></li>
                        <li><a href="/Certification/FullStack">Full Stack Development</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">Technology</a>    <!--Drop Down 3-->
                        <ul>
                        <li><a href="/Certification/AWS">AWS Solution Architect</a></li>
                        <li><a href="/Certification/CyberSecurity">Cyber Security</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">Data Science</a> <!--Drop Down 1-->
                        <ul>
                        <li><a href="/Certification/BigData">Big Data</a></li>
                        <li><a href="/Certification/DataScience">Data Science</a></li>
                        <li><a href="/Certification/MachineLearning">Machine Learning</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">Programming Languages</a>  <!--Drop Down 2-->
                        <ul>
                        <li><a href="/Certification/CandCPP">C & C++ Programming</a></li>
                        <li><a href="/Certification/Java">Core and Advanced Java</a></li>
                        <li><a href="/Certification/DSandAlgorithm">Data Structures and Algorithms</a></li>
                        <li><a href="/Certification/Python">Python Programming</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="#">Business Analytics</a> <!--Drop Down 1-->
                        <ul>
                        <li><a href="/Certification/BI">Microsoft Power BI</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="drop-down"><a href="">Services</a>
                <ul>
                    <!--<li><a href="/trainings">Trainings</a></li>-->
                    <li><a href="/virtual">Virtual</a></li>
                    <li><a href="/onSite">On-Site</a></li>
                    <li><a href="/conexion">Newsletter</a></li>
                    <li><a href="/conextoc">Conex to College</a></li>
                    <li><a href="/conextoi">Conex to Industry</a></li>
                    <li><a href="/conetregistration" target="_blank">CoNet</a></li>
                    <li><a href="/conexplusregistration" target="_blank">Conex Plus Event</a></li>
                </ul>
            </li>

            <li class="drop-down"><a href="">About Us</a>
                <ul>
                    <li><a href="/about">What are we?</a></li>
                    <li><a href="/csr">CSR</a></li>
                    <li><a href="/speaker">Speakers Panel</a></li>
                    <li><a href="/team">Team Members</a></li>
                </ul>
            </li>

            <li><a href="/contact">Contact Us</a></li>
            </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->