<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Conex365</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">Dashboard Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/conet">Conet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/conexplus">Conex+</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/speakers">Speakers</a>
      </li>
    </ul>
  </div>
</nav>
