    <%- include("../partials/head") %>



<body>
    <%- include("./partials/adminNavbar") %>

    <div class="section-margin container">
        <div class="row mb-4">
          <div class="col-4">
          </div>
          <div class="col-4">
          <h2>Welcome <%= name%></h2>
          </div>
          <div class="col-4">
            </div>
            </div>
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-4">
            <a class="boxed-btn" href="">Reset Password</a>
          </div>
          <div class="col-2">
            </div>
          <div class="col-2">
            <a class="boxed-btn" href="">Logout</a>
          </div>
          <div class="col-2">
          </div>
        </div>
</div>
</body>
    <%- include("../partials/mainScripts") %>

</html>
