<footer id="footer">
    <div class="row">
      
      <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="logo">
          <a href="/incur">
            <img src="/public/Main_Page/img/incur/logo.png" alt="logo" /></a>
            <p class="block__pre-title" style="margin-top: 35px;">WORLD'S FIRST VIRTUAL SKILL UNIVERSITY</p>
        </div>
      </div>
     
      
      <div class="col-xl-4 col-lg-4 col-md-4">
        <p class="block__title">Powered By <img src="/public/Main_Page/img/Logofinalcolor.png" style="max-width:50%" alt=""></p>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4">
        <p class="block__title">Recognized By <img src="/public/Main_Page/img/home/startup_india_thumbnail.png" alt=""></p>
      </div>
    </div>
  </footer>