<header id="header" class="fixed-top">
  <div class="container">
    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
      <a href="/incur" class="scrollto"
        ><img
          src="/public/img/incur/InCur logo White.png"
          alt=""
          class="img-fluid"
      /></a>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li>
          <a href="/incur/marketing" class="btn-nav"
            >Explore Courses<i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
            ></i>
          </a>
        </li>

        <li>
          <a href="#" class="line-button"
            >Join Our Community<i class="fa fa-users" aria-hidden="true"></i
          ></a>
        </li>

        <li>
          <a href="/incur/contact" class="line-button">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!-- .main-nav -->
  </div>
</header>
<!-- #header -->
