<header id="header">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2"></div>
      <div class="col-xl-2 col-lg-2 col-md-2">
        <div class="logo">
          <a href="/incur">
            <img src="/public/Main_Page/img/incur/logo.png" alt="logo"
          /></a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2"></div>
      
      <div class="col-xl-2 col-lg-2 col-md-2">
        <div class="explore">
          <a href="/incur/marketing" class="btn-nav"
            >Explore Courses<i
              class="fa fa-long-arrow-right"
              aria-hidden="true"
            ></i
          ></a>
        </div>
      </div>
      
      <div class="col-xl-2 col-lg-2 col-md-2">
        <div class="community">
          <a href="https://www.instagram.com/conex365/" class="line-button"
            target="_blank" >Join Our Community<i
            class="fa fa-users"
            aria-hidden="true"
          ></i
        ></a>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2">
        <div class="contact">
          <a href="/incur/contact" class="line-button"
            >Contact Us<i
              class="fa fa-envelope"
              aria-hidden="true"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </header>