<footer id="footer">
    <div class="row">
      
      <div class="col-xl-4 col-lg-4 col-md-4 sub_class">
        <div class="logo">
          <a href="/incur">
            <img src="/public/img/incur/InCur logo White.png" alt="logo" /></a>
            <p class="footer_title" style="margin-top: 15px;">WORLD'S FIRST VIRTUAL SKILL UNIVERSITY</p>
        </div>
      </div>
     
      
      <div class="col-xl-4 col-lg-4 col-md-4 sub_class">
        <p class="footer_title">Powered By</p> <a href="/"><img src="/public/img/logowhite.png" style="max-width:40%" alt=""></a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 sub_class">
        <p class="footer_title">Recognized By</p> <img src="/public/img/home/startup_india_thumbnail.png" alt=""></p>
      </div>
    </div>
  </footer>
