<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Conet Registeration</title>
    <link rel="stylesheet" href="/public/css/registrationPages/style.css">
</head>

<body>
    <div class="container px-4 py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10 my-5">
                            <div class="row justify-content-center px-3 mb-3"></div>
                            <h3 class="mb-5 text-center heading" style="font-family: Aclonica;">Conet Registeration</h3>
                            <h5 class="msg-info">Enter Your Details</h5>
                            <div class="form-group"> <label class="form-control-label text-muted">Name</label>
                                <input type="text" id="email" name="email" placeholder=""
                                    class="form-control"> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Phone Number</label>
                                <input type="text" id="email" name="email" placeholder=""
                                    class="form-control"> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Email</label>
                                <input type="text" id="email" name="email" placeholder=""
                                    class="form-control"> </div>

                            <div class="form-group"> <label class="form-control-label text-muted">Native Place</label>
                                <input type="test" id="psw" name="psw" placeholder="" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label text-muted">Area of expertise</label>
                                <input type="text" id="email" name="email" placeholder=""
                                    class="form-control"> </div>
                            <div class="form-group"> <label class="form-control-label text-muted">What Describes You</label>
                                <input type="text" id="email" name="email" placeholder=""
                                    class="form-control"> </div>
                                    <div class="form-group"> <label class="form-control-label text-muted">Suggestion</label>
                                        <input type="text" id="email" name="email" placeholder=""
                                             class="form-control"> </div>

                            <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color">Register
                                    </button> </div>
                            <!-- <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot
                                        Password?</small></a> </div> -->
                        </div>
                    </div>
                    <!-- <div class="bottom text-center mb-5">
                        <p href="#" class="sm-text mx-auto mb-3">Don't have an account?<button
                                class="btn btn-white ml-2">Create new</button></p>
                    </div> -->
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <h3 class="text-white">We are more than just a company</h3> <br><small class="text-white" style="font-size: 18px;">We want talented trainers to step forward and enlighten our target audiences. This knowledge has the capacity to change the world and help our young professionals support their families and aid in this economic crisis. 
                            Be the member of the highly respected and dynamic panel team. Exchange knowledge, spread astuteness and also reap the various benefits. Meet people from national and international platforms, network, train the ambitious gems that are ignored by the Industry and stretch your own learning curve as well.
                            CoNet with Conex! We promise to add value to your life!</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>