<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us</title>
    <meta name="description"
        content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>About Us</h3>
    </div>
    <!-- bradcam_area_end -->




    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single_about_info">
                        <div class="section_title text-center mb-100">
                            <h3>What are we?</h3>
                        </div>
                        <p style="padding-right: 13px;padding-left: 13px;">Conex365 is a high quality e-learning
                            platform which is focused on creating a platform where people from different
                            communities, nations, race, colour and financial backgrounds equip themselves with the
                            skills and expertise that are often
                            missed or not included in the curriculum of the higher education industry. Conex365 now is
                            also one of the top eLearning
                            start-ups in Kerala to have gained an IPR.<br>
                            At Conex365 we offer various types of training for everyone designed for every
                            profession.<br>
                            We are determined to not only equip people with skills and expertise, but we also make sure
                            that the learning experience is
                            fun and insightful. Hence we put great emphasis on Micro learning and Cross-Platform
                            learning to ensure that these
                            workshops are available to everyone, regardless of regional boundaries. Conex365 also has
                            been the perfect place for cross-
                            cultural erudition so that our target audience is able to have an International exposure
                            with the workshops conducted by our
                            International speakers from different parts of the world.<br>
                            Learning can be easy, affordable and fun! Just be anywhere and expand your knowledge with
                            Conex365. We sow Skill
                            development and we are also making make sure all are able to reap.<br>
                            We have something for everyone!Our training programs are designed to ensure that each of our
                            target market is able to
                            improve their day to day lives with a new perspective and skill set. Hence our management
                            offers three different types of
                            training program in order to provide a rich and tailored experience to our clients.</p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_about_info">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/HCi1nn6RivQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <p style="padding-right: 13px;padding-left: 13px;"><br><br>
                            Economic importance of a highly educated workforce is impressive and, if anything,
                            increasing. Demand is growing for
                            expert thinking (nonroutine problem solving) and complex communication competencies
                            (nonroutine interactive skills).
                            Predicting that jobs requiring low or moderate levels of competence will continue to decline
                            in the future. Hence such crucial
                            trainings are easily available in Conex. Learning new skills is a habit that helps in
                            career, profession, business, and daily life.
                            It can be a technological skill, business management, resume writing, designing, marketing,
                            advertising skills, or basic
                            computer skills etc.
                            Learning new skills is a habit that helps in career, profession, business, and daily life.
                            It can be a technological skill, business management, resume writing, designing, marketing,
                            advertising skills, or basic
                            computer skills etc.
                        </p>
                        <center><a href="contact.html" class="boxed-btn2"><b style="color: white">Contact Us</b></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Objectives-->

    <div class="container" style="margin-bottom: 120px;">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Vision
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To bring unemployment down by at least 50% and create equality in opportunity.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Mission
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To provide a wide range of trending and specialised training programs for each of our audiences
                        to support them be career ready.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Values
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        5Cs of Conex<br>
                        Collaborate<br>
                        Commit<br>
                        Compassion<br>
                        Create<br>
                        Connect<br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Objectives-->


    <!-- about_area_end -->

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="master_name text-center" style="padding-bottom: 10px">
                    <h3 data-aos="flip-up">Virtual Training Sessions (VTS)</h3>
                </div>
                <p style="padding-left: 20px;" data-aos="flip-up">Our highly qualified speaker panels from all over the
                    world provide three different types of etraining especially intended to help students, professionals
                    and individuals to grasp all the
                    explicit knowledge with ease.</p>
                <div class="container" style="padding-top: 58px">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <h4 class="title">Our Behavioural Training</h4>
                            <p class="description">It is focused on helping everyone to develop their persona and
                                make their life very efficient. We already have conducted various training programs such
                                as
                                Child Development, Presentation Skills, Personality development, Faculty Management,
                                teachers training etc.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-cogs"></i></div>
                            <h4 class="title">Our Functional Training</h4>
                            <p class="description">It is focused on enhancing hard skills and Soft skills for our
                                clients.
                                We have already conducted various workshops like Change Management, Employment,
                                Entrepreneurships, Strategic, Finance & Accounting, and Leadership training etc. which
                                has
                                helped our clients become more effective and career ready with 78% success rate.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-sitemap"></i></div>
                            <h4 class="title">Our Technical Training Sessions</h4>
                            <p class="description">These are your getaway to enhance your expertise and take a
                                step closer to your dream job/career where individuals get to learn various trending
                                programming languages, MS Office & software usage which are very crucial to enter into
                                the
                                fast paced business environment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="master_name text-center" style="padding-bottom: 10px">
                    <h3 data-aos="flip-up">On-site Training Sessions (OTS)</h3>
                </div>
                <p style="padding-left: 20px;" data-aos="flip-up">We also have traditional training methods for those
                    who enjoy practical training
                    sessions. Here we provide the Behavioural, Functional and technical training with a more
                    realistic approach with plenty of personal interaction. We also offer inductions for our clients
                    and recruits to get personally in touch with our speakers, trainers and management team.</p>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <h4 class="title">Our Behavioural Training</h4>
                            <p class="description">It is focused on helping everyone to develop their persona and
                                make their life very efficient. We already have conducted various training programs such
                                as
                                Child Development, Presentation Skills, Personality development, Faculty Management,
                                teachers training etc.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-cogs"></i></div>
                            <h4 class="title">Our Functional Training</h4>
                            <p class="description">It is focused on enhancing hard skills and Soft skills for our
                                clients.
                                We have already conducted various workshops like Change Management, Employment,
                                Entrepreneurships, Strategic, Finance & Accounting, and Leadership training etc. which
                                has
                                helped our clients become more effective and career ready with 78% success rate.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-sitemap"></i></div>
                            <h4 class="title">Our Technical Training Sessions</h4>
                            <p class="description">These are your getaway to enhance your expertise and take a
                                step closer to your dream job/career where individuals get to learn various trending
                                programming languages, MS Office & software usage which are very crucial to enter into
                                the
                                fast paced business environment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Services Starting-->

    <section id="services" class="section-bg">
        <div class="container">

            <header class="section_title text-center">
                <h3>C21 Connect (ConeX to Industry)</h3>
            </header>

            <div class="row">
                <p class="pp">At C21 Connect, you will find our special training session specifically designed for and
                    according to the Industrial needs and wants. If you want your company to develop your
                    human capital to leverage it for competitive advantage then this is the best platform to reach.</p>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-handshake-o" style="color: #ff689b;"></i></div>
                        <h4 class="title">Conex PRO:</h4>
                        <p class="description" style="padding-left:5px ">Firms can decide to conduct the training
                            sessions which is personalised set of professional trainings according to the organisation’s
                            requirements to increase the
                            effectiveness and efficiency of employees.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-user-plus" style="color: #e9bf06;"></i></div>
                        <h4 class="title">ConeX Plus:</h4>
                        <p class="description">This is an exclusive event where we conduct a panel discussion which
                            helps us facilitate clarification on knotty issues highlight the multi-dimensionality of the
                            issue and
                            develop critical thinking in both panellists and the audience.<br>We believe in developing a
                            productive relationship with firms and sharing our expertise to
                            enhance the overall learning experiences.</p>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <section id="services" class="section-bg">
        <div class="container">

            <header class="section_title text-center">
                <h3>C2C Connect (Conex to college)</h3>
            </header>

            <div class="row">
                <p class="pp">According to statistics from HRD ministry (2019), recent graduates, post graduates and
                    certificate holders in India make up for a whopping 41.8% unemployment in India.
                    We at conex365 believe that there’s a serious need to change the perspective of those who
                    believe that grades and only education are enough to enter the preferred industry with a
                    dream job. Covid19 has closed a lot of windows of opportunities for students to grasp
                    additional experience.
                    Hence our C2C connect is exclusively designed for institutes to help the students go through
                    these hard times by playing a central role and equipping them with the skills that will be
                    crucial to land up a job now and in the coming future. We believe that this movement towards
                    making 37.4 million students (HRD, 2020) job-ready through E- learning platform and
                    requires institutes to work hand in hand with Conex365.
                    In the real world, work is more tech-oriented and requires one to possess soft and hard skills
                    as well as a good combination of implicit and explicit knowledge that adds value to persona
                    and to the qualification.</p>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <div class="box">
                        <div class="icon"><i class="fa fa-paper-plane" style="color: #ff689b;"></i></div>
                        <h4 class="title">Conex Edu PRO:</h4>
                        <p class="description">Conex Edu PRO, as the name suggests, is focused on providing
                            professional development for the students through virtual or on site training sessions. We
                            give you an opportunity to select a standard training process or choose a combination of
                            various trainings and we will make sure that students are given an insightful knowledge
                            about
                            different intricacies of professional world.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <div class="box">
                        <div class="icon"><i class="fa fa-ticket" style="color: #e9bf06;"></i></div>
                        <h4 class="title">Conex Edu Plus: </h4>
                        <p class="description">Our Conex Edu Plus is premeditated to initiate an interactive learning
                            with
                            students where curious minds come and articulate their visions, thoughts and issues which
                            would enhance their public speaking, confidence and Interpersonal communication skills.
                            Through this, Institutes can conduct talk shows, panel discussions, speaker’s event and
                            other
                            interactive ways to ensure a much better understanding of students in a most stress free
                            manner.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <div class="box">
                        <div class="icon"><i class="fa fa-users" style="color: blue;"></i></div>
                        <h4 class="title">Conex Club:</h4>
                        <p class="description">Our team believes that institutes are best place to learn and most of the
                            learning
                            happens outside of classrooms. Hence our Conex Club is a platform for student ambassadors
                            in colleges to conduct Conex Edu Pro and other workshops.
                            It’s our personal favourite as it helps students learn from one another and improve their
                            own
                            thought processes. We believe that self-learned knowledge is far more helpful than
                            knowledge enforced in life.
                            We at Conex365 know that the future is erratic hence we are here to help students become
                            career ready by gearing them up with expertise that increases their chances to get their
                            dream
                            job by 50%.</p>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <!-- #services -->



    <!-- Objectives-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Our Objectives</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To provide a wide range of trending and specialised training programs for each of our audiences
                        to support them be career ready.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To advocate the use of modern virtual learning amongst youngsters and professionals.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To provide quality training to our professionals, students and clients.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!-- Objectives-->



    <!-- CSR -->
    <div class="our_team_member">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>CSR</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p data-aos="flip-up">As a start-up, it’s our responsibility to be socially responsible. Hence our
                        objectives are derived from the six core CSR characteristics to become an example for our all
                        our stakeholders and to give back to the society by spreading the knowledge learned to even the
                        most remote parts of the world.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Voluntary Work:</h4>
                                <p class="description"> We target to join hands with NGOs and firms that share our
                                    vision to come together and stand against discrimination and aim to educate everyone
                                    with the same level of persistence, quality and passion.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Managing Externalities:</h4>
                                <p class="description">We work to provide a platform to all the influencers who intent
                                    to spread social awareness and stand against the profit making education systems by
                                    providing the same level of quality of learning to our clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Multiple Stakeholder Orientation:</h4>
                                <p class="description">Our aim is to spread equality and prioritise our stakeholder’s
                                    interests and their development prior to our own financial growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Social and Economic Alignment:</h4>
                                <p class="description">Our ambition is to support our audience with education, career,
                                    environment, health & wellbeing and economic development by tapping their urge of
                                    learning and giving them the best we can!</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Practices and Values:</h4>
                                <p class="description">We prioritise our values and practices with the aim to help the
                                    community and also provide our own interns and employees the best working atmosphere
                                    to develop themselves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Beyond Philanthropy:</h4>
                                <p class="description">Our coming project is focused on Women empowerment to help female
                                    influencers, leaders, trainers, entrepreneurs and students to spread their wings and
                                    fight for their educational, career and human rights.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--end-->



    <!-- Sustainable Starting-->

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <img src="/public/Main_Page/img/about/abc.png" alt="" style="width: 100%;height: 100%;">
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcd.png" alt="" style="width:100px;height:100px;">
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcde.png" alt="" style="width:100px;height:100px;">
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcdef.png" alt="" style="width:100px;height:100px;">
                </div>

            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        &nbsp
                        <h3 data-aos="flip-up">Conex365 supports Sustainable Development Goals</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- our_team_member_start -->
    <div class="our_team_member">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Our Team</h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/team/1.jpg" alt="">
                            <div class="social_link">
                                <p>CO-FOUNDER/CEO</p>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>AKSHAY SUNIL</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/team/3.jpg" alt="">
                            <div class="social_link">
                                <p>HEAD-CORPORATE RELATIONS</p>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>FAIROOS JAHAN MOHAMED IQBAL</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/team/4.jpg" alt="">
                            <div class="social_link">
                                <p>HEAD-TECH AND WEB SERVICES</p>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>DIBIN JOSE</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/team/img5.jpeg" alt="">
                            <div class="social_link">
                                <p>HEAD-TALENT ACQUISITION</p>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>FATHIMA NAZRIN</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/team/img-6.jpeg" alt="">
                            <div class="social_link">
                                <p>HEAD-STRATEGY AND COMMUNICATION</p>
                            </div>
                        </div>
                        <div class="master_name text-center">
                            <h3>SHUBHAM SINGH</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_team_member_end -->




    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->



    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>


    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>