<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About Us</title>
    <meta name="description"
        content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>About Us</h3>
    </div>
    <!-- bradcam_area_end -->




    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single_about_info">
                        <div class="section_title text-center mb-100">
                            <h3>What are we?</h3>
                        </div>
                        <p style="padding-right: 13px;padding-left: 13px;">Conex365 is a high quality skill development platform to have gained an IPR which is focused on 
                            skilling up people from different nations, communities, race, color, or financial backgrounds.<br><br>
                            The difference in opportunities between urban and rural communities have always existed. Hence our one of the main aims is to support
                             students from both the communities to signify equality and develop skills to make them career ready.<br><br>
                            At Conex365 we offer various types of training for everyone designed for every profession.<br><br>
                            We are determined to not only equip people with skills and expertise, but we also make sure that the learning experience is
                            fun and insightful. Hence we put great emphasis on Micro learning and Cross-Platform learning to ensure that these
                            workshops are available to everyone, regardless of regional boundaries. Conex365 also has been the perfect place for cross-
                            cultural erudition so that our target audience is able to have an International exposure with the workshops conducted by our
                            International speakers from different parts of the world.<br><br>
                            Learning can be easy, affordable and fun! Just be anywhere and expand your knowledge with Conex365. We sow Skill
                            development and we are also making make sure all are able to reap.<br><br>
                            We have something for everyone!Our training programs are designed to ensure that each of our target market is able to
                            improve their day to day lives with a new perspective and skill set. Hence our management offers three different types of
                            training program in order to provide a rich and tailored experience to our clients.</p>
                        
                    </div>
            </div>
            <div class="col-md-6">
                <div class="single_about_info">
                    <iframe style="border-radius: 15px;" width="100%" height="315" src="https://www.youtube.com/embed/HCi1nn6RivQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p style="padding-right: 13px;padding-left: 13px;"><br><br>
                        Economic importance of a highly educated workforce is impressive and, if anything, increasing. Demand is growing for
                        expert thinking (nonroutine problem solving) and complex communication competencies (nonroutine interactive skills).
                        Predicting that jobs requiring low or moderate levels of competence will continue to decline in the future. Hence such crucial
                        trainings are easily available in Conex. <br><br>
                        Learning new skills is a habit that helps in career, profession, business, and daily life.
                        It can be a technological skill, business management, resume writing, designing, marketing, advertising skills, or basic
                        computer skills etc.<br><br>
                        Learning new skills is a habit that helps in career, profession, business, and daily life.
                        It can be a technological skill, business management, resume writing, designing, marketing, advertising skills, or basic
                        computer skills etc.
                    </p>
                    <center><a href="contact.html" class="boxed-btn2"><b style="color: white">Contact Us</b></a></center>
                </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Objectives-->

    <div class="container" style="margin-bottom: 120px;">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Purpose
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">
                        To bridge the skill gap between urban and rural communities.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Vision
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To bring unemployment down by at least 50% and create equality in opportunity.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Mission
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        To provide a wide range of trending and specialised training programs for each of our audiences
                        to support them be career ready.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="single-package-item">
                    <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                    <h3 style="padding-right: 13px;padding-left: 13px;text-align: center;" data-aos="flip-up">Values
                    </h3>
                    <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                        5Cs of Conex<br>
                        Collaborate<br>
                        Commit<br>
                        Compassion<br>
                        Create<br>
                        Connect<br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Objectives-->


    <!-- Sustainable Starting-->

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <img src="/public/Main_Page/img/about/abc.png" alt="" style="width: 100%;height: 100%;">
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcd.png" alt="" style="width:100px;height:100px;">
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcde.png" alt="" style="width:100px;height:100px;">
                </div>
                <div class="col-lg-4 col-xl-4 col-md-4" align="center">
                    <img src="/public/Main_Page/img/about/abcdef.png" alt="" style="width:100px;height:100px;">
                </div>

            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        &nbsp
                        <h3 data-aos="flip-up">Conex365 supports Sustainable Development Goals</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->



    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>