<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cancellation and Refund Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

   <!-- header-start -->
   <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="workshop.html"  style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">Live Workshop&nbsp&nbsp&nbsp<i class="fa fa-circle" aria-hidden="true" style="color: red"></i></a></li>
                                    <li><a class="active" href="index.html">Home</a></li>
                                    <li><a>Resources</a></i>
                                        <ul class="submenu">
                                            <li><a href="speaker.html">Speakers</a></li>
                                            <li><a href="conexion.html">Newsletter</a></li>
                                      </ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="https://www.explara.com/c/Conex4students" target="_blank" style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">VIP Membership</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>Cancellation and Refund Policy</h3>
        </div>
        <!-- bradcam_area_end -->

         <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                
                    <div class="single_about_info">
                        
                        <p style="padding-right: 13px;padding-left: 13px;">Refund Policy<br>Returns<br>Transactions made in this site are NON-Refundable, unfortunately we can’t offer you a refund or exchange.<br>To be eligible for a return, It should be communicated via official mail of the company.<br>Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.<br>Additional non-returnable items:<br>•	Gift cards<br>• Downloadable software products<br>• Some health and personal care items<br>• Payment of Workshops,Webinars or any other online services through ConeX365 Edu-Corp Consulting<br>To complete your return, we require a receipt or proof of purchase.Please do not send your purchase back to the manufacturer.There are certain situations where only partial refunds are granted: (if applicable)Book with obvious signs of useCD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.Any item not in its original condition, is damaged or missing parts for reasons not due to our error.Any item that is returned more than 30 days after deliveryRefunds (if applicable)Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.Late or missing refunds (if applicable)If you haven’t received a refund yet, first check your bank account again.Then contact your credit card company, it may take some time before your refund is officially posted.Next contact your bank. There is often some processing time before a refund is posted.If you’ve done all of this and you still have not received your refund yet, please contact us at support@conex365.info.
                        	<br>
                        	<br>
<br>Sale items (if applicable)
<br>
Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
Exchanges (if applicable)
We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at support@conex365.info and send your item to: ‘THAARA’, NRA-37, KUTTUMUCK, RAMAVARMAPURAM P.O, THRISSUR, 680631
<br>
<br>

<br>Gifts<br>
If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.
<br>
<br>
<br>
Shipping<br>
To return your product, you should mail your product to: ‘THAARA’, NRA-37, KUTTUMUCK, RAMAVARMAPURAM P.O, THRISSUR, 680631You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.Depending on where you live, the time it may take for your exchanged product to reach you, may vary.If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.</p>
                        
                    </div>
            </div>
        </div>
    </div>
   
   <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="img/logowhite.png" alt="" height="55px" width="170px">
                                </a>
                            </div>
                            <p>
                                "Cognitive thinking has made Conex 365 not to simply go through and turn the page but to apply our cognitive skills so as to bring in a change!!"
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/conex365" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/conex365/" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCtYlw1N-kqsLLdaFOUIYDQA" target="_blank">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    </ul>
                                    <ul style="padding-top: 10px">
                                     <li>
                                        <a href="https://wa.me/919995111184" target="_blank">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <a href="https://www.f6s.com/conex365?follow=1" target="_blank" title="Follow ConeX365 on F6S"><img src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78" height="22 " alt="Follow ConeX365 on F6S" style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resources
                            </h3>
                            <ul>
                                <li><a href="webinar.html">Webinar</a></li>
                                 <li><a href="workshop.html">Workshop</a></li>
                                <li><a href="about.html"> About</a></li>
                                <li><a href="contact.html"> Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul>
                                <li><a href="conet/index.html" target="_blank">Co-Net</a></li>
                                <li><a href="conexplus/index.html" target="_blank">Organize Conex+</a></li>
                                <li><a href="speaker/index.html" target="_blank">Conex+ Speaker</a></li>
                                <li><a href="conexion.html">Conexion</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Headquarters</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                NRA-37<br>
                                Ramavarmapuram P.O,<br>
                                Thrissur, Kerala <br>
                                680631
                            </p>
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Annex</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                Innerspace Coworking,<br>
                                SRM Road, Kaloor, Kochi - 682018
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-sm">
                        <center><a href="privacy.html" style="color: white;" target="_blank">Privacy Policy</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="termsofservice.html" style="color: white;" target="_blank">Terms Of Service</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="carfp.html" style="color: white;" target="_blank">Cancellation and Refund Policy</a></center>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->


    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>
