<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>C2I</title>
    <meta
      name="description"
      content="At C21 Connect, you will find our special training session specifically designed for and according to the Industrial needs and wants."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
      <h3>C2I Connect (ConeX to Industry)</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
        CtoI Area Start
    ============================-->

    <section class="section-padding">
      <section id="Conexto" class="section-bg">
        <div class="container">
          <div class="row">
            <p class="pp">
              At C2I Connect, you will find our special training session
              specifically designed for and according to the Industrial needs
              and wants. If you want your company to develop your human capital
              to leverage it for competitive advantage then this is the best
              platform to reach.
            </p>
            <div class="col-md-6 col-lg-6 col-xl-6">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-handshake-o" style="color: #ff689b"></i>
                </div>
                <h4 class="title">Conex PRO:</h4>
                <p class="description" style="padding-left: 5px">
                  Firms can decide to conduct the training sessions which is
                  personalised set of professional trainings according to the
                  organisation’s requirements to increase the effectiveness and
                  efficiency of employees.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-user-plus" style="color: #e9bf06"></i>
                </div>
                <h4 class="title">ConeX Plus:</h4>
                <p class="description">
                  This is an exclusive event where we conduct a panel discussion
                  which helps us facilitate clarification on knotty issues
                  highlight the multi-dimensionality of the issue and develop
                  critical thinking in both panellists and the audience.<br />We
                  believe in developing a productive relationship with firms and
                  sharing our expertise to enhance the overall learning
                  experiences.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!--==========================
        CtoI Area End
    ============================-->

    <!--==========================
        Footer Area Start
    ============================-->

    <%- include("../partials/mainFooter") %>

    <!--==========================
        Footer Area End
    ============================-->

    <!--==========================
        JS Area 
    ============================-->

    <%- include("../partials/mainScripts") %>
  </body>
</html>
