<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Conexion</title>
    <meta name="description" content="The official newsletter of Conex365 EduCorp.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179940933-1');
</script>
</head>

<body>

    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
      <h3>Conexion</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
        Conexion Area Start
    ============================-->

<div class="container">

    
    <!--================Blog Area =================-->
    <section class="section-padding">
        <div class="container">


                            <div class="card border border-dark">
                            <div class="card-body">
                            <div class="row">
                            <div class="col-md-6" data-aos="fade-up">
                                <img src="/public/Main_Page/img/conexion/bitcoin.svg" alt="" style="max-width: 50%">
                            </div>

                            <div class="col-md-6" data-aos="flip-up">
                                <h3>BLOCKCHAIN</h3>
                                <p>Anand Haridas<br>
                                    Assistant Professor, Department of CSE,
AhalIa School of Engineering & Technology, Palakkad
                                </p>
                                
                                    <a class="boxed-btn2" href="/public/Main_Page/pdf/blockchain.pdf" target="_blank"><b style="color: white">View</b></a>
                            </div>
                            </div>
                            </div>
                            </div>
        </div>
    </section>
    <!--================Blog Area =================-->                           

    <!--================Blog Area =================-->
    
        <div class="container">


                            <div class="card border border-dark">
                            <div class="card-body">
                            <div class="row">
                            <div class="col-md-6" data-aos="fade-up">
                                <img src="/public/Main_Page/img/conexion/health.svg" alt="" style="max-width: 80%">
                            </div>

                            <div class="col-md-6" data-aos="flip-up">
                                <h3>A COMPARISON BETWEEN UNITED STATES OF AMERICA AND STATE GOVT. OF KERALA IN PUBLIC HEALTH CARE.</h3>
                                <p>Prof. Prashanth P John
                                <br>Asst. Professor, FISAT Business School, Kochi, Kerala</p>
                                    <a class="boxed-btn2" href="/public/Main_Page/pdf/health.pdf" target="_blank"><b style="color: white">View</b></a>
                            </div>
                            </div>
                            </div>
                            </div>
             </div>
             </section>               
   
    <!--================Blog Area =================-->

    <div class="row">
        <p><br></p>
    </div>
    <!--==========================
        Subscribe Conexion Area Start
    ============================-->
    <section class="section-padding">
        <div class="container">
          <div class="subscribe_newsletter subscribe_bg">
            <div class="container">
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <div class="newsletter_text">
                    <h3>Send Your Article</h3>
                    <p>
                      Send your articles to our mail so that we can post it.
                    </p>
                  </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                  <div class="newsletter_text">
                    <h5>support@conex365.com</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--==========================
        Subscribe Conexion Area End
    ============================-->
        </div>
    </section>

</div>

    <!--==========================
        Conexion Area End
    ============================-->

   <!--==========================
        Footer Area Start
    ============================-->

    <%- include("../partials/mainFooter") %>

    <!--==========================
        Footer Area End
    ============================-->

    <!--==========================
        JS Area 
    ============================-->

    <%- include("../partials/mainScripts") %>
</body>

</html>