<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>C2C</title>
    <meta
      name="description"
      content="C2C connect is exclusively designed for institutes to help the students
    by equipping them with the skills that will be
    crucial to land up a job now and in the coming future."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
      <h3>C2C Connect (Conex to College)</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
        CtoC Area Start
    ============================-->

    <section class="section-padding">
      <section id="Conexto" class="section-bg">
        <div class="container">
          <div class="row">
            <p class="pp">
              According to statistics from HRD ministry (2019), recent
              graduates, post graduates and certificate holders in India make up
              for a whopping 41.8% unemployment in India. We at conex365 believe
              that there’s a serious need to change the perspective of those who
              believe that grades and only education are enough to enter the
              preferred industry with a dream job. Covid19 has closed a lot of
              windows of opportunities for students to grasp additional
              experience.<br /><br />
              Hence our C2C connect is exclusively designed for institutes to
              help the students go through these hard times by playing a central
              role and equipping them with the skills that will be crucial to
              land up a job now and in the coming future. We believe that this
              movement towards making 37.4 million students (HRD, 2020)
              job-ready through E- learning platform and requires institutes to
              work hand in hand with Conex365.<br /><br />
              In the real world, work is more tech-oriented and requires one to
              possess soft and hard skills as well as a good combination of
              implicit and explicit knowledge that adds value to persona and to
              the qualification.
            </p>
            <div class="col-md-4 col-lg-4 col-xl-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-paper-plane" style="color: #ff689b"></i>
                </div>
                <h4 class="title">Conex Edu PRO:</h4>
                <p class="description">
                  Conex Edu PRO, as the name suggests, is focused on providing
                  professional development for the students through virtual or
                  on site training sessions. We give you an opportunity to
                  select a standard training process or choose a combination of
                  various trainings and we will make sure that students are
                  given an insightful knowledge about different intricacies of
                  professional world.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-ticket" style="color: #e9bf06"></i>
                </div>
                <h4 class="title">Conex Edu Plus:</h4>
                <p class="description">
                  Our Conex Edu Plus is premeditated to initiate an interactive
                  learning with students where curious minds come and articulate
                  their visions, thoughts and issues which would enhance their
                  public speaking, confidence and Interpersonal communication
                  skills. Through this, Institutes can conduct talk shows, panel
                  discussions, speaker’s event and other interactive ways to
                  ensure a much better understanding of students in a most
                  stress free manner.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-users" style="color: blue"></i>
                </div>
                <h4 class="title">Conex Club:</h4>
                <p class="description">
                  Our team believes that institutes are best place to learn and
                  most of the learning happens outside of classrooms. Hence our
                  Conex Club is a platform for student ambassadors in colleges
                  to conduct Conex Edu Pro and other workshops. It’s our
                  personal favourite as it helps students learn from one another
                  and improve their own thought processes. We believe that
                  self-learned knowledge is far more helpful than knowledge
                  enforced in life. We at Conex365 know that the future is
                  erratic hence we are here to help students become career ready
                  by gearing them up with expertise that increases their chances
                  to get their dream job by 50%.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!--==========================
        CtoC Area End
    ============================-->

    <!--==========================
        Footer Area Start
    ============================-->

    <%- include("../partials/mainFooter") %>

    <!--==========================
        Footer Area End
    ============================-->

    <!--==========================
        JS Area 
    ============================-->

    <%- include("../partials/mainScripts") %>
  </body>
</html>
