<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Conexion</title>
    <meta name="description" content="The official newsletter of Conex365 EduCorp.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168254156-1');
    </script>

</head>

<body>

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Conexion</h3>
    </div>
    <!-- bradcam_area_end -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">


            <div class="card border border-dark">
                <div class="card-body">
                <div class="row">
                <div class="col-md-6" data-aos="fade-up">
                    <img src="/public/Main_Page/img/conexion/bitcoin.svg" alt="" style="max-width: 80%">
                </div>

                <div class="col-md-6" data-aos="flip-up">
                    <h3>BLOCKCHAIN</h3>
                    <p>Anand Haridas<br>
                        Assistant Professor, Department of CSE,
AhalIa School of Engineering & Technology, Palakkad
                    </p>
                    
                    <a class="boxed-btn2"
                    href="https://drive.google.com/file/d/1qJA1CLCcZEo_5jCnPxv2X3B9CNU4z7RP/view?usp=sharing"
                    target="_blank"><b style="color: white">View</b></a>
                </div>
                </div>
                </div>
                </div>


        </div>
    </section>


    <!--================Blog Area =================-->


    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">


            <div class="card border border-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up">
                            <img src="/public/Main_Page/img/conexion/health.svg" alt="" style="max-width: 80%">
                        </div>

                        <div class="col-md-6" data-aos="flip-up">
                            <h3>A COMPARISON BETWEEN UNITED STATES OF AMERICA AND STATE GOVT. OF KERALA IN PUBLIC HEALTH
                                CARE.</h3>
                            <p>Prof. Prashanth P John
                                <br>Asst. Professor, FISAT Business School, Kochi, Kerala</p>
                            <a class="boxed-btn2"
                                href="https://drive.google.com/file/d/1qJA1CLCcZEo_5jCnPxv2X3B9CNU4z7RP/view?usp=sharing"
                                target="_blank"><b style="color: white">View</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--================Blog Area =================-->

    <div class="row">
        <p><br></p>
    </div>

    <section class="blog_area section-padding">
        <div class="container">
            <!-- subscribe_newsletter_Start -->
            <div class="subscribe_newsletter bg-gra-03">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="newsletter_text">
                                <h3>Send Your Article</h3>
                                <p>Send your articles to our mail so that we can post it.</p>
                            </div>
                        </div>
                        <div class="col-xl-5 offset-xl-1 col-lg-6">
                            <div class="newsletter_text">
                                <h5 style="color: white;font-size: 90%">support@conex365.info</h3>
                                    <h5 style="color: white;font-size: 90%">conex365corp@gmail.com</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe_newsletter_end -->
        </div>
    </section>



    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>