<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C2I</title>
    <meta name="description"
        content="At C21 Connect, you will find our special training session specifically designed for and according to the Industrial needs and wants.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>C2I Connect (ConeX to Industry)</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">


        <!--Services Starting-->

        <section id="services" class="section-bg">
            <div class="container">



                <div class="row">
                    <p class="pp">At C2I Connect, you will find our special training session specifically designed for
                        and according to the Industrial needs and wants. If you want your company to develop your
                        human capital to leverage it for competitive advantage then this is the best platform to reach.
                    </p>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-handshake-o" style="color: #ff689b;"></i></div>
                            <h4 class="title">Conex PRO:</h4>
                            <p class="description" style="padding-left:5px ">Firms can decide to conduct the training
                                sessions which is personalised set of professional trainings according to the
                                organisation’s requirements to increase the
                                effectiveness and efficiency of employees.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-user-plus" style="color: #e9bf06;"></i></div>
                            <h4 class="title">ConeX Plus:</h4>
                            <p class="description">This is an exclusive event where we conduct a panel discussion which
                                helps us facilitate clarification on knotty issues highlight the multi-dimensionality of
                                the issue and
                                develop critical thinking in both panellists and the audience.<br>We believe in
                                developing a productive relationship with firms and sharing our expertise to
                                enhance the overall learning experiences.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section>
    </section>

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>