<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact Us</title>
    <meta name="description" content="Contact us to know more about our Vitual Training Sessions(VTS) and On-site Training Sessions (OTS).">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168254156-1');
</script>

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <!-- header-start -->
  <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/workshop"  style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">Live Workshop&nbsp&nbsp&nbsp<i class="fa fa-circle" aria-hidden="true" style="color: red"></i></a></li>
                                    <li><a href="/">Home</a></li>
                                    <li><a>Resources</a></i>
                                        <ul class="submenu">
                                            <li><a href="/speaker">Speakers</a></li>
                                            <li><a href="/conexion">Newsletter</a></li>
                                      </ul>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a class="active" href="/contact">Contact Us</a></li>
                                    <li><a href="https://www.explara.com/c/Conex4students" target="_blank" style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">VIP Membership</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

  
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
                <h3>contact us</h3>
            </div>
            <!-- bradcam_area_end -->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-6 col-lg-6"  data-aos="zoom-in">
          <svg class="mk-svg-icon" data-name="mk-moon-location-3" data-cacheid="icon-5e705978d1edc" style=" height:48px; width: 48px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 480c-88.366 0-160-71.634-160-160 0-160 160-352 160-352s160 192 160 352c0 88.366-71.635 160-160 160zm0-258c-54.124 0-98 43.876-98 98s43.876 98 98 98 98-43.876 98-98-43.876-98-98-98zm-62 98a62 62 1260 1 0 124 0 62 62 1260 1 0-124 0z" transform="scale(1 -1) translate(0 -480)"></path></svg>
          <h1>Address</h1>
          <div class="row">
            <div class="col-xl-6 col-lg-6">
                <address>
                    <h3>Headquarters</h3>
                    <p>ConeX365 EduCorp Consulting</p>
                    <p>NRA-37</p>
                    <p>Ramavarmapuram P.O,</p>
                    <p>Thrissur, Kerala </p>
                    <p>680631</p>
                </address>
            </div>
            <div class="col-xl-6 col-lg-6">
                <address>
                    <h3>Annex</h3>
                    <p>ConeX365 EduCorp Consulting</p>
                    <p>Innerspace Coworking,</p>
                    <p>SRM Road, Kaloor, Kochi - 682018</p>
                </address>
            </div>
        </div>
    </div>
          <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
            <svg class="mk-svg-icon" data-name="mk-moon-phone-4" data-cacheid="icon-5e705978d23ad" style=" height:48px; width: 48px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M321.788 371.146c-11.188 6.236-20.175 2.064-32.764-4.572-11.46-8.748-45.402-35.438-81.226-71.188-26.156-33.084-46.162-64.288-55.375-79.293-.625-1.66-.944-2.632-.944-2.632-5.397-13.476-8.771-22.92-1.324-33.521 6.854-9.727 9.5-12.383 18.24-20.108l-87.79-130.124c-10.604 7.728-27.018 25.106-40.509 44.378-12.538 18.317-23.154 38.587-26.049 53.055 15.295 55.117 52.258 157.896 120.583 231.325l-.021.308c65.73 81.028 170.165 131.43 225.571 153.226 14.679-1.385 35.938-9.844 55.456-20.404 20.598-11.415 39.567-25.945 48.329-35.685l-120.288-100.829c-8.597 7.91-11.498 10.254-21.889 16.064zm-116.178-242.488c7.241-5.302 5.313-14.944 1.926-20.245l-66.579-101.913c-4.344-5.291-13.396-8.064-21.252-5.579l-27.433 18.381 88.034 129.879 25.304-20.523zm287.339 269.188l-94.473-76.788c-4.93-3.918-14.313-6.838-20.325-.188l-23.046 23.05 120.047 101.015 21.136-25.357c3.285-7.564 1.467-16.857-3.339-21.732z"></path></svg>
            <h1>PHONE</h1>
            <p>+919074624963</p>
            <p>+918301988002</p>
            <p>+919995111184</p>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
              <svg class="mk-svg-icon" data-name="mk-moon-bubble-dots" data-cacheid="icon-5e70763e22b4c" style=" height:48px; width: 48px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M418 32h-324c-51.7 0-94 42.3-94 94v354l96-96h322c51.7 0 94-42.3 94-94v-164c0-51.7-42.3-94-94-94zm-258 224c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32z"></path></svg>
              <h1>EMAIL</h1>
              <p>support@conex365.info</p>
              <p>conex365corp@gmail.com</p>
              <p>techsupport@conex365.info</p>
              <p>conex365workshops@gmail.com</p>
            </div>
          </div>
        </div>
        </section>


 <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                                </a>
                            </div>
                            <p>
                                "Cognitive thinking has made Conex 365 not to simply go through and turn the page but to apply our cognitive skills so as to bring in a change!!"
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/conex365" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/conex365/" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCtYlw1N-kqsLLdaFOUIYDQA" target="_blank">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    </ul>
                                    <ul style="padding-top: 10px">
                                     <li>
                                        <a href="https://wa.me/919995111184" target="_blank">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <a href="https://www.f6s.com/conex365?follow=1" target="_blank" title="Follow ConeX365 on F6S"><img src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78" height="22 " alt="Follow ConeX365 on F6S" style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resources
                            </h3>
                            <ul>
                                <li><a href="speaker.html">Speakers</a></li>
                                <li><a href="conexion.html">Conexion</a></li>
                                <li><a href="about.html"> About</a></li>
                                <li><a href="contact.html"> Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul>
                                <li><a href="workshop.html">Workshop</a></li>
                                <li><a href="conet/index.html" target="_blank">Co-Net</a></li>
                                <li><a href="conexplus/index.html" target="_blank">Organize Conex+</a></li>
                                <li><a href="speaker/index.html" target="_blank">Conex+ Speaker</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Headquarters</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                NRA-37<br>
                                Ramavarmapuram P.O,<br>
                                Thrissur, Kerala <br>
                                680631
                            </p>
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Annex</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                Innerspace Coworking,<br>
                                SRM Road, Kaloor, Kochi - 682018
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-sm">
                        <center><a href="privacy.html" style="color: white;" target="_blank">Privacy Policy</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="termsofservice.html" style="color: white;" target="_blank">Terms Of Service</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="carfp.html" style="color: white;" target="_blank">Cancellation and Refund Policy</a></center>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->


        <!-- JS here -->
        <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/public/Main_Page/js/popper.min.js"></script>
        <script src="/public/Main_Page/js/bootstrap.min.js"></script>
        <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
        <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
        <script src="/public/Main_Page/js/ajax-form.js"></script>
        <script src="/public/Main_Page/js/waypoints.min.js"></script>
        <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
        <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
        <script src="/public/Main_Page/js/scrollIt.js"></script>
        <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
        <script src="/public/Main_Page/js/wow.min.js"></script>
        <script src="/public/Main_Page/js/nice-select.min.js"></script>
        <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
        <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/Main_Page/js/plugins.js"></script>
        <script src="/public/Main_Page/js/gijgo.min.js"></script>

        <!--contact js-->
        <script src="/public/Main_Page/js/contact.js"></script>
        <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
        <script src="/public/Main_Page/js/jquery.form.js"></script>
        <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
        <script src="/public/Main_Page/js/mail-script.js"></script>

        <script src="/public/Main_Page/js/main.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    </body>

    </html>
