<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C2C</title>
    <meta name="description" content="C2C connect is exclusively designed for institutes to help the students
    by equipping them with the skills that will be
    crucial to land up a job now and in the coming future.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>C2C Connect (Conex to College)</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">
        <section id="services" class="section-bg">
            <div class="container">



                <div class="row">
                    <p class="pp">According to statistics from HRD ministry (2019), recent graduates, post graduates and
                        certificate holders in India make up for a whopping 41.8% unemployment in India.
                        We at conex365 believe that there’s a serious need to change the perspective of those who
                        believe that grades and only education are enough to enter the preferred industry with a
                        dream job. Covid19 has closed a lot of windows of opportunities for students to grasp
                        additional experience.<br><br>
                        Hence our C2C connect is exclusively designed for institutes to help the students go through
                        these hard times by playing a central role and equipping them with the skills that will be
                        crucial to land up a job now and in the coming future. We believe that this movement towards
                        making 37.4 million students (HRD, 2020) job-ready through E- learning platform and
                        requires institutes to work hand in hand with Conex365.<br><br>
                        In the real world, work is more tech-oriented and requires one to possess soft and hard skills
                        as well as a good combination of implicit and explicit knowledge that adds value to persona
                        and to the qualification.</p>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="box">
                            <div class="icon"><i class="fa fa-paper-plane" style="color: #ff689b;"></i></div>
                            <h4 class="title">Conex Edu PRO:</h4>
                            <p class="description">Conex Edu PRO, as the name suggests, is focused on providing
                                professional development for the students through virtual or on site training sessions.
                                We
                                give you an opportunity to select a standard training process or choose a combination of
                                various trainings and we will make sure that students are given an insightful knowledge
                                about
                                different intricacies of professional world.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="box">
                            <div class="icon"><i class="fa fa-ticket" style="color: #e9bf06;"></i></div>
                            <h4 class="title">Conex Edu Plus: </h4>
                            <p class="description">Our Conex Edu Plus is premeditated to initiate an interactive
                                learning with
                                students where curious minds come and articulate their visions, thoughts and issues
                                which
                                would enhance their public speaking, confidence and Interpersonal communication skills.
                                Through this, Institutes can conduct talk shows, panel discussions, speaker’s event and
                                other
                                interactive ways to ensure a much better understanding of students in a most stress free
                                manner.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <div class="box">
                            <div class="icon"><i class="fa fa-users" style="color: blue;"></i></div>
                            <h4 class="title">Conex Club:</h4>
                            <p class="description">Our team believes that institutes are best place to learn and most of
                                the learning
                                happens outside of classrooms. Hence our Conex Club is a platform for student
                                ambassadors
                                in colleges to conduct Conex Edu Pro and other workshops.
                                It’s our personal favourite as it helps students learn from one another and improve
                                their own
                                thought processes. We believe that self-learned knowledge is far more helpful than
                                knowledge enforced in life.
                                We at Conex365 know that the future is erratic hence we are here to help students become
                                career ready by gearing them up with expertise that increases their chances to get their
                                dream
                                job by 50%.</p>
                        </div>
                    </div>


                </div>

            </div>
        </section>

    </section>

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>