<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>CSR</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">

        <!-- CSR -->
        <div class="container">

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <p data-aos="flip-up">As a start-up, it’s our responsibility to be socially responsible. Hence our
                        objectives are derived from the six core CSR characteristics to become an example for our all
                        our stakeholders and to give back to the society by spreading the knowledge learned to even the
                        most remote parts of the world.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Voluntary Work:</h4>
                                <p class="description"> We target to join hands with NGOs and firms that share our
                                    vision to come together and stand against discrimination and aim to educate everyone
                                    with the same level of persistence, quality and passion.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Managing Externalities:</h4>
                                <p class="description">We work to provide a platform to all the influencers who intent
                                    to spread social awareness and stand against the profit making education systems by
                                    providing the same level of quality of learning to our clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Multiple Stakeholder Orientation:</h4>
                                <p class="description">Our aim is to spread equality and prioritise our stakeholder’s
                                    interests and their development prior to our own financial growth.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Social and Economic Alignment:</h4>
                                <p class="description">Our ambition is to support our audience with education, career,
                                    environment, health & wellbeing and economic development by tapping their urge of
                                    learning and giving them the best we can!</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Practices and Values:</h4>
                                <p class="description">We prioritise our values and practices with the aim to help the
                                    community and also provide our own interns and employees the best working atmosphere
                                    to develop themselves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="padding-top: 58px" data-aos="fade-up">
                        <div class="bix">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-arrow-circle-o-right"></i></div>
                                <h4 class="title">Beyond Philanthropy:</h4>
                                <p class="description">Our coming project is focused on Women empowerment to help female
                                    influencers, leaders, trainers, entrepreneurs and students to spread their wings and
                                    fight for their educational, career and human rights.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--end-->

    </section>
    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>