<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Conex 365 || Kerala's No:1 Skill Dev Platform</title>
    <meta
      name="description"
      content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/public/css/carousel.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <!-- PopUp Script -->
    <!-- <script>
      $(document).ready(function () {
        $('#myModal').modal('show')
      })
  </head>

  <body>
    <!--==========================
      Pop Up Start
    ============================-->

    <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4
              class="modal-title justify-content-center"
              style="font-weight: bold; letter-spacing: 0px"
            >
              BRAND MANAGEMENT AND MODERN BRANDING IN FMCG
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
              style="color: red"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <picture>
              <center>
                <img
                  src="/public/img/sample.svg"
                  alt="popup_image"
                  style="max-width: 100%"
                />
              </center>
            </picture>

            <!-- <p class="blink">Register now and get 20% cashback</p> -->

            <script type="text/javascript">
              const finaldate = new Date(
                'February 28, 2030 16:00:00 '
              ).getTime()
              console.log(finaldate)

              // countdown
              let timer = setInterval(function () {
                // get today's date
                const today = new Date().getTime()

                // get the difference
                const diff = finaldate - today

                // math
                let days = Math.floor(diff / (1000 * 60 * 60 * 24))
                let hours = Math.floor(
                  (diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                )
                let minutes = Math.floor(
                  (diff % (1000 * 60 * 60)) / (1000 * 60)
                )
                let seconds = Math.floor((diff % (1000 * 60)) / 1000)

                // display
                document.getElementById('timer').innerHTML =
                  '<div class="days"> \
                      <div class="numbers">' +
                  days +
                  '</div>days</div> \
                    <div class="hours"> \
                      <div class="numbers">' +
                  hours +
                  '</div>hours</div> \
                    <div class="minutes"> \
                      <div class="numbers">' +
                  minutes +
                  '</div>minutes</div> \
                    <div class="seconds"> \
                      <div class="numbers">' +
                  seconds +
                  '</div>seconds</div> \
                    </div>'
              }, 1000)
            </script>

            <div class="timer_container">
              <h1>Registration Ends in</h1>
              <div id="timer"></div>
            </div>
          </div>

          <div class="modal-footer">
            <h4 style="font-weight: bold; padding-top: 8px">To know more</h4>

            <a href="#" target="_blank" class="boxed-btn2">Register Now!</a>
          </div>
        </div>
      </div>
    </div>

    <!--==========================
      Pop Up End
    ============================-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!--==========================
        Slider Area Start
    ============================-->

    <div class="slider_area slider_bg_1">
      <div
        class="single_slider d-flex align-items-center justify-content-center"
      >
        <div class="container">
          <!-- <div class="animebox">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div> -->
          <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
              <div class="illastrator_png">
                <img src="/public/img/home/home.svg" alt="" />
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
              <div class="slider_info">
                <h3>
                  Welcome To<br />
                  Conex365
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Slider Area End
    ============================-->

    <!--==========================
        About Area Start
    ============================-->

    <div class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-6 col-md-6">
            <div class="single_about_info">
              <p style="text-align: center">
                Conex 365 is the fastest growing skill development platform.<br /><br />We
                aim to blur the Rural-Urban divide and bridge the skill gap to
                provide equal opportunities to everyone.<br /><br />
                <a style="font-size: medium; color: #0eafcc" href="/about"
                  >Get to know us more!</a
                >
              </p>
              <h1 class="letsanimation">
                LET'S
                <span
                  class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ "GET GEARED UP" ]'
                ></span>
              </h1>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6 col-md-6">
            <img src="/public/img/home/about.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!--==========================
        About Area End
    ============================-->

    <!--==========================
        Workshops Area Start
    ============================-->
    <section class="section-padding">
      <div class="container">
        <div class="section_title text-center mb-100">
          <h3>Workshops and Masterclasses</h3>
        </div>

        <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
          <div class="caro-item">
            <a href="/404">
              <div class="course_box_orange course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>LinkedIn</small><br />
                    Grooming Up <br />Linked In
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Ms. Narinder
                        Kaur
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>399/-</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- end left -->
                </div>
                <!-- end footer -->
              </div>
              <!-- end box -->
            </a>
          </div>
          <!-- end col -->

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_blue course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Biology</small><br />
                    Cell and Molecular <br />Biology Research
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Mr.Ramyajit
                        Mitra
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>299/-</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- end left -->
                </div>
                <!-- end footer -->
              </div>
              <!-- end box -->
            </a>
          </div>
          <!-- end col -->

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_green course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Marketing</small><br />
                    Market Research And <br />Intelligence
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Dr. Ajeesh G
                        Mannadiar
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>499/-</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- end left -->
                </div>
                <!-- end footer -->
              </div>
              <!-- end box -->
            </a>
          </div>
          <!-- end col -->

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_blue course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Entrepreneurship</small><br />
                    Social <br />Entrepreneurship
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Lalit Gautam
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>399/-</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- end left -->
                </div>
                <!-- end footer -->
              </div>
              <!-- end box -->
            </a>
          </div>
          <!-- end col -->

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_blue course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Brands</small><br />
                    Branding And <br />Brand Management
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Chetan Dubey
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>399/-</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_green course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Entrepreneurship</small><br />
                    Youth Entrepreneurship And Bootstrapping
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Akshay Sunil
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>399/-</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="caro-item">
            <a href="/404">
              <div class="course_box_orange course-box">
                <div class="image-wrap entry">
                  <img
                    src="/public/img/sample.svg"
                    alt=""
                    class="img-responsive"
                  />
                </div>
                <div class="course-details">
                  <h4>
                    <small>Power BI</small><br />
                    Data Visualization Using <br />Power BI
                  </h4>
                </div>
                <div class="course-footer clearfix">
                  <div class="pull-left">
                    <ul>
                      <li>
                        <img src="/public/img/sample.png" alt="" />Shahab
                        Muhammed
                      </li>
                    </ul>
                  </div>

                  <div class="pull-right">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-inr" aria-hidden="true"></i>999/-</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>

    <!--==========================
        Workshops Area End
    ============================-->

    <!--==========================
        Testimonial Area Start
    ============================-->

    <div class="pt-5 pb-5 text-light testimonials">
      <div class="testimonial_svg_top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#fff"
            fill-opacity="1"
            d="M0,320L34.3,298.7C68.6,277,137,235,206,
            208C274.3,181,343,171,411,192C480,213,549,267,617,293.3C685.7,320,754,320,823,304C891.4,288,960,256,1029,218.7C1097.1,181,1166,139,1234,133.3C1302.9,
            128,1371,160,1406,176L1440,192L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,
            0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
          ></path>
        </svg>
      </div>
      <div class="text-center">
        <h1>Testimonials</h1>
      </div>
      <div
        id="client-testimonial-carousel"
        class="carousel slide"
        data-ride="carousel"
        style="height: 200px"
      >
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active text-center p-4">
            <blockquote class="blockquote text-center">
              <p class="carousal_para">
                <i class="fa fa-quote-left"></i> It was great learnt a lot of
                things in the world of hacking will keep practicing about all
                which I have learned and thank you for the recording so we can
                watch It again and again and become a good hacker thanks for
                arranging this workshop it was really amazing.
              </p>
              <footer class="blockquote-footer">
                RAVIRAJ
                <cite title="Source Title">Universal Business School</cite>
              </footer>
            </blockquote>
          </div>
          <div class="carousel-item text-center p-4">
            <blockquote class="blockquote text-center">
              <p class="carousal_para">
                <i class="fa fa-quote-left"></i> This have been an absolutely
                amazing & enlightening workshop. Totally enjoyed and learned a
                lot in a comfortable environment. The style and the knowledge of
                the presenter Mr. Joel Deleep was totally amazing. Thank you so
                much Mr. Joel Deleep and ConeX365 Edu corp for such a great
                opportunity.
              </p>
              <footer class="blockquote-footer">
                MANSI V.S
                <cite title="Source Title"
                  >Rajagiri Centre For Business Studies And Management</cite
                >
              </footer>
            </blockquote>
          </div>
          <div class="carousel-item text-center p-4">
            <blockquote class="blockquote text-center">
              <p class="carousal_para">
                <i class="fa fa-quote-left"></i> I attended the workshop on
                legal hacking and earning by Mr. Joel. I'm actually pleased to
                have participated in this workshop as not just theory but he
                also encouraged the participants to work on it. In short
                everything organized was nothing but professional. Thank you for
                this opportunity team Conex365.
              </p>
              <footer class="blockquote-footer">
                DEVIKA AJITH
                <cite title="Source Title"
                  >Federal Institute of Science and Technology</cite
                >
              </footer>
            </blockquote>
          </div>
          <div class="carousel-item text-center p-4">
            <blockquote class="blockquote text-center">
              <p class="carousal_para">
                <i class="fa fa-quote-left"></i> Quality content is the key
                marker of their workshops. Good assistance from the service
                providers. After attending their first webinar, I seriously
                recommend to my colleagues and try to attend their other
                workshops too. Conex365 is Worth your time and money.
              </p>
              <footer class="blockquote-footer">
                SHIV SHANKARI
                <!--<cite title="Source Title">Rajagiri Centre For Business Studies And Management</cite>-->
              </footer>
            </blockquote>
          </div>
        </div>
        <ol class="carousel-indicators">
          <a
            class="carousel-control-prev"
            href="#client-testimonial-carousel"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#client-testimonial-carousel"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </ol>
      </div>
    </div>
    <div class="testimonial_svg_bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 15 1430 320">
        <path
          fill="#172b4d"
          fill-opacity="1"
          d="M0,320L34.3,298.7C68.6,277,137,235,206,
            208C274.3,181,343,171,411,192C480,213,549,267,617,293.3C685.7,320,754,320,823,304C891.4,288,960,256,1029,218.7C1097.1,181,1166,139,1234,133.3C1302.9,
            128,1371,160,1406,176L1440,192L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,
            0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Testimonial Area End
    ============================-->

    <!--==========================
        Acheivement Area Start
    ============================-->

    <div class="achievement_area">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <div class="single_about_info">
              <h3>Conex is on an achievement spree!</h3>
              <p>
                Conex365 is the fastest growing skill development in Kerela. We
                aim to reduce the unemploybility in India and create equal
                opportunities for everyone. In less than 2 months we have
                reached a milestone!<br />
                Let's "GET GEARED UP"
              </p>
            </div>
          </div>
          <div class="col-xl-6 offset-xl-1 col-lg-6">
            <div class="achievement">
              <div class="courses">
                <div class="inner_courses">
                  <div class="text_info">
                    <p class="counterpara_top">More Than</p>
                    <h1 class="counterP" data-count="1660">0</h1>

                    <p class="counterpara_bottom">Registrations</p>
                  </div>
                </div>
              </div>
              <div class="courses-blue">
                <div class="inner_courses">
                  <div class="text_info">
                    <p class="counterpara_top">More Than</p>
                    <h1 class="counterP" data-count="20">0</h1>

                    <p class="counterpara_bottom">Workshops</p>
                  </div>
                </div>
              </div>
              <div class="courses-sky">
                <div class="inner_courses">
                  <div class="text_info">
                    <h1 class="counterP" data-count="93">0</h1>
                    <span class="counterspan">%</span>
                    <p class="counterpara_bottom">Customer Satisfication</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==========================
        Acheivement Area End
    ============================-->

    <!--==========================
        StartupIndia Area 
    ============================-->

    <div class="startupindia">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 startupindia_box bg_green">
            <div class="startup_description">
              <h2>
                Recognized by the Department for Promotion of Industry and
                Internal Trade.
              </h2>
              <center>
                <img src="/public/img/home/startup_india_thumbnail.png" />
              </center>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2"></div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-xl-5 col-lg-5 col-md-5"></div>
          <div
            class="
              col-xl-2 col-lg-2 col-md-2
              startupindia_box
              bg_orange
              bottoma
            "
          >
            <div class="startup_description">
              <center>
                <h2>Featured In</h2>
              </center>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-5"></div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2"></div>
          <div
            class="col-xl-3 col-lg-3 col-md-3 startupindia_box bg_orange lefta"
          >
            <div class="startup_description">
              <center>
                <a href="/public/img/home/Mathrubhumi_Feature.jpg">
                  <img src="/public/img/home/mathru.png" alt="Feature" />
                </a>
              </center>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2"></div>

          <div
            class="col-xl-3 col-lg-3 col-md-3 startupindia_box bg_orange righta"
          >
            <div class="startup_description">
              <center>
                <a href="https://bit.ly/31jlOw9" target="_blank">
                  <img src="/public/img/home/dhanam.png" alt="Feature" />
                </a>
              </center>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 startupindia_box bg_green">
            <center>
              <div class="startup_description">
                <h2>
                  Certificate On Completion
                </h2>
              </div>
              <i class="fa fa-certificate fa-4x" aria-hidden="true"></i>
            </center>
          </div>
        </div> -->
      </div>
    </div>

    <!--==========================
    StartupIndia Area End
    ============================-->

    <div class="sticky-nav">
      <p class="sticky-text">
        Get Access to four Workshops this month worth
        <del><span>Rs.2000/-</span></del
        >just @ Rs.1499/-
      </p>
      <a href="#" class="sticky-btn"> Subscribe Now </a>
    </div>
    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
    <!-- JavaScript Section -->
  </body>
</html>
