<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Conex 365 || Kerala's No:1 Skill Dev Platform</title>
    <meta name="description" content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
	</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168254156-1');
</script>
</head>

<body>


<!--Popup Start-->

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title justify-content-center" style="font-weight: bold;letter-spacing: 0px;">Half Day Workshop on <br>The Art of Brand Storytelling</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red">&times;</button>
                </div>
                <div class="modal-body">
                <picture>
                <center><img src="/public/Main_Page/img/workshop/story.jpg" alt="popup_image" style="max-width: 100%; border-top-right-radius: 70px;border-bottom-left-radius: 70px"></center>
                </picture> 
            
                 <!--<p class="blink">20% cashback to previous Digital Marketing Workshop Attendees</p>-->
                
                    <script type="text/javascript">
                        
                    const finaldate = new Date("August 22, 2020 23:59:59").getTime();
                    console.log(finaldate);

                    // countdown
                    let timer = setInterval(function() {

                      // get today's date
                      const today = new Date().getTime();

                      // get the difference
                      const diff = finaldate - today;

                      // math
                      let days = Math.floor(diff / (1000 * 60 * 60 * 24));
                      let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                      let seconds = Math.floor((diff % (1000 * 60)) / 1000);

                      // display
                      document.getElementById("timer").innerHTML =
                        "<div class=\"days\"> \
                      <div class=\"numbers\">" + days + "</div>days</div> \
                    <div class=\"hours\"> \
                      <div class=\"numbers\">" + hours + "</div>hours</div> \
                    <div class=\"minutes\"> \
                      <div class=\"numbers\">" + minutes + "</div>minutes</div> \
                    <div class=\"seconds\"> \
                      <div class=\"numbers\">" + seconds + "</div>seconds</div> \
                    </div>";

                    }, 1000);
                    </script>

                <div class="timer_container">
                    <h1>Registration Ends in</h1>
                    <div id="timer"></div>
                </div>
                </div>

                <div class="modal-footer">
                <h4 style="font-weight: bold;padding-top: 8px">To know more about the workshop</h4>
                <a href="workshop_detail/index.html" class="boxed-btn2">Click Here!</a>
                </div>
        </div>
    </div>
</div>

<!--Popup Start-->


   <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->



  <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/workshop"  style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">Live Workshop&nbsp&nbsp&nbsp<i class="fa fa-circle" aria-hidden="true" style="color: red"></i></a></li>
                                        <li><a class="active" href="/">Home</a></li>
                                        <li><a>Resource</a></i>
                                            <ul class="submenu">
                                                <li><a href="/speaker">Speakers</a></li>
                                                <li><a href="/conexion">Newsletter</a></li>
                                          </ul>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="https://www.explara.com/c/Conex4students" target="_blank" style="font-weight: bold; padding-bottom: 10px; width: 170px;border: solid; padding-top: 10px; border-radius: 10%">VIP Membership</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
  <!-- header-end -->


  <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                        <div class="illastrator_png">
                            <img src="/public/Main_Page/img/home/home.svg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
                        <div class="slider_info">
                            <h3>Welcome <br>
                                To Kerala's No: 1<br>
                                Skill Development Platform</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- slider_area_end -->


<!--About Area--->

 <div class="about_area" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                <div class="single_about_info">
                    <div class="section_title text-center mb-100">
                    <h3>What are we?</h3>
                    </div>
                    <p>Conex365 is a high quality skill dev platform which is focused on creating a platform where
                        people from different communities, nations, race, colour and financial backgrounds equip
                        themselves with the skills and expertise that are often missed or not included in the
                        curriculum of the higher education industry. Conex365 now is also one among the top E-learning start-ups in Kerala to have gained an IPR.</p>
            </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-md-6">

            <div class="row lets">
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12">
            <img src="/public/Main_Page/img/home/about.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12">
            <h1>LET'S CREATE
              <span
                 class="txt-rotate"
                 data-period="2000"
                 data-rotate='[ "MANAGERS", "ENTREPRENEURS", "PROFESSIONALS", "SCHOLARS" ]'></span>
            </h1>
            </div>
            </div>
        </div>

    </div>
</div>
</div>

<!----About Area End-->

<hr class="fancy-line"></hr>

<!--Speaker Area--->

 <div class="about_area" style="padding-bottom: 30px;padding-top: 30px;">
    <div class="container">
        <div class="row">
              <div class="col-xl-12">
                  <div class="section_title text-center mb-100">
                      <h3>Conex Plus Speaker</h3>
                  </div>
              </div>
          </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                
                    <img src="/public/Main_Page/img/home/speaker.svg" class="img-fluid" alt="">
            </div>
      
        <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
            <div class="single_about_info">
            <p>Conex365 is the high quality E-learning platform that’s determined to decrease employability equip people with skills and help them become career ready.
            WE cannot do this alone!  We need talented influencers and entrepreneurs to join our Conex family!
            It’s time to cascade your wisdom to those who need them the most! Become a Conex Speaker for both Conex Plus and Conex Edu Plus and help us transform the traditional learning with a more dynamic, smart and understandable learning that can be suitable for any age group. 
            What’s in it for you? A lot of opportunities to fulfill your goals, speed up your career progression, market yourself and change lives.<br>
            <b>Fill in the form and we promise to be in touch within 12hrs!</b>
            </p>
            <center><a href="/conexspeakerregistration" class="boxed-btn2" target="_blank"><b style="color: white">Register Now!</b></a></center>
        </div>
        </div>
    </div>
</div>
</div>
<!----Speaker Area End-->

<hr class="fancy-line"></hr>

<!--Event Area--->

 <div class="about_area" style="padding-top: 30px;padding-bottom: 30px">
    <div class="container">
        <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
            <div class="single_about_info">
                <div class="section_title text-center mb-100">
                    <h3>Conex Plus Event</h3>
                    </div>
            <p>There should be no second thoughts for taking the right decision! 
                We conduct training events, talk shows, panel discussion, workshops etc., only to make your learning enjoyable. Where else can the learning be fun, smart, short, entertaining and interactive.
                Provide the details and we are ready to blow your mind with our quality training and event planning.<br>
                <b>Fill in the form and we promise to be in touch within 12hrs!</b>
            </p>
            <center><a href="/conexplusregistration" class="boxed-btn2" target="_blank"><b style="color: white">Register Now!</b></a></center>
        </div>
        </div>
            <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                
                    <img src="/public/Main_Page/img/home/event.svg" class="img-fluid" alt="">
            </div>
    </div>
</div>
</div>
<!----Event Area End-->

<hr class="fancy-line"></hr>

<!--Conet Area--->

 <div class="about_area" style="padding-bottom: 30px;padding-top: 30px;">
    <div class="container">
        <div class="row">
              <div class="col-xl-12">
                  <div class="section_title text-center mb-100">
                      <h3>CoNet</h3>
                  </div>
              </div>
          </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                
                    <img src="/public/Main_Page/img/home/conet.svg" class="img-fluid" alt="">
            </div>
      
        <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
            <div class="single_about_info">
            <p>We want talented trainers to step forward and enlighten our target audiences. This knowledge has the capacity to change the world and help our young professionals support their families and aid in this economic crisis. 
            Be the member of the highly respected and dynamic panel team. Exchange knowledge, spread astuteness and also reap the various benefits. Meet people from national and international platforms, network, train the ambitious gems that are ignored by the Industry and stretch your own learning curve as well.
            CoNet with Conex! We promise to add value to your life!
            <br>
            <b>Fill in the form and we promise to be in touch within 12hrs!</b>
            </p>
            <center><a href="/conetregistration" class="boxed-btn2" target="_blank"><b style="color: white">Register Now!</b></a></center>
        </div>
        </div>
    </div>
</div>
</div>
<!----Speaker Area End-->

<hr class="fancy-line"></hr>

<!-- Feature Section -->
<section class="section-padding">
    <div class="container">
    <div class="row">
              <div class="col-xl-12">
                  <div class="section_title text-center mb-100">
                      <h3>Featured In</h3>
                  </div>
              </div>
          </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6" style="padding: 20px;" data-aos="fade-up">
            <a href="/public/Main_Page/img/home/Mathrubhumi_Feature.jpg">
            <img src="/public/Main_Page/img/home/mathru.png" alt="Feature">
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6" style="padding: 20px" data-aos="fade-up">
            <a href="https://bit.ly/31jlOw9" target="_blank">
            <img src="/public/Main_Page/img/home/dhanam.png" alt="Feature">
            </a>
        </div>
    </div>
    </div>
</section>
<!-- Feature Section End -->


    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="/public/Main_Page/img/logowhite.png" alt="" height="55px" width="170px">
                                </a>
                            </div>
                            <p>
                                "Cognitive thinking has made Conex 365 not to simply go through and turn the page but to apply our cognitive skills so as to bring in a change!!"
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/conex365" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/conex365/" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCtYlw1N-kqsLLdaFOUIYDQA" target="_blank">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    </ul>
                                    <ul style="padding-top: 10px">
                                     <li>
                                        <a href="https://wa.me/919995111184" target="_blank">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </li>
                                    <a href="https://www.f6s.com/conex365?follow=1" target="_blank" title="Follow ConeX365 on F6S"><img src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78" height="22 " alt="Follow ConeX365 on F6S" style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resources
                            </h3>
                            <ul>
                                <li><a href="/speaker">Speakers</a></li>
                                <li><a href="/conexion">Conexion</a></li>
                                <li><a href="/about"> About</a></li>
                                <li><a href="/contact"> Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-md-2 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul>
                                <li><a href="/workshop">Workshop</a></li>
                                <li><a href="conet/index.html" target="_blank">Co-Net</a></li>
                                <li><a href="conexplus/index.html" target="_blank">Organize Conex+</a></li>
                                <li><a href="speaker/index.html" target="_blank">Conex+ Speaker</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <div class="row">
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Headquarters</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                NRA-37<br>
                                Ramavarmapuram P.O,<br>
                                Thrissur, Kerala <br>
                                680631
                            </p>
                            </div>
                            <div class="col-lg-6 col-xl-6">
                                <h5 style="color: white;font-size: 17px">Annex</h5>
                                <p>
                                ConeX365 EduCorp Consulting<br>
                                Innerspace Coworking,<br>
                                SRM Road, Kaloor, Kochi - 682018
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-sm">
                        <center><a href="/privacy" style="color: white;" target="_blank">Privacy Policy</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="/termsofservice" style="color: white;" target="_blank">Terms Of Service</a></center>
                    </div>
                    <div class="col-sm">
                        <center><a href="/carfp" style="color: white;" target="_blank">Cancellation and Refund Policy</a></center>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>"/public/Main_Page/js/"
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>