<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Our Objectives</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Our Objectives</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">

        <!-- Objectives-->
        <section class="section-padding">
            <div class="container">

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                        <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                            To provide a wide range of trending and specialised training programs for each of our
                            audiences to support them be career ready.
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                        <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                            To advocate the use of modern virtual learning amongst youngsters and professionals.
                        </p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <center><i class="fa fa-check fa-3x" aria-hidden="true" style="color: #0EAFCC;"></i></center>
                        <p style="padding-right: 13px;padding-left: 13px;" data-aos="flip-up">
                            To provide quality training to our professionals, students and clients.
                        </p>
                    </div>
                </div>
            </div>

        </section>

        <!-- Objectives-->


    </section>

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>