<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Our Objectives</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->


    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Our Objectives</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">

        
        <!-- Objectives-->
        <div class="container">
            <div id="introblocks">
                <ul class="nospace group">
                    <li class="one_third">
                        <article><i class="fa fa-bookmark"></i>
                            <p>To provide a wide range of trending and specialised training programs for each of our
                                audiences to support them be career ready.
                            </p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article><i class="fa fa-bookmark"></i>
                            <p>To advocate the use of modern virtual learning amongst youngsters and professionals.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article><i class="fa fa-bookmark"></i>
                            <p>To provide quality training to our professionals, students and clients.</p>  
                        </article>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Objectives-->
    
    
    </section>


    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>