    <%- include("../partials/head") %>


  <body>
    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
      <h3>On-Site Training Sessions (OTS)</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
        Onsite Area Start
    ============================-->

    <section class="section-padding">
      <div class="container on_site">
        <div class="row">
          <p style="padding-left: 5px; padding-right: 5px">
            We also have traditional training methods for those who enjoy
            practical training sessions. Here we provide the Behavioural,
            Functional and technical training with a more realistic approach
            with plenty of personal interaction. We also offer inductions for
            our clients and recruits to get personally in touch with our
            speakers, trainers and management team.
          </p>
          <div class="container">
            <div class="csr">
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="fa fa-users"></i></div>
                <h4 class="title">Our Behavioural Training</h4>
                <p class="description">
                  It is focused on helping everyone to develop their persona and
                  make their life very efficient. We already have conducted
                  various training programs such as Child Development,
                  Presentation Skills, Personality development, Faculty
                  Management, teachers training etc.
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="csr">
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="fa fa-cogs"></i></div>
                <h4 class="title">Our Functional Training</h4>
                <p class="description">
                  It is focused on enhancing hard skills and Soft skills for our
                  clients. We have already conducted various workshops like
                  Change Management, Employment, Entrepreneurships, Strategic,
                  Finance & Accounting, and Leadership training etc. which has
                  helped our clients become more effective and career ready with
                  78% success rate.
                </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="csr">
              <div class="icon-box" data-aos="fade-up">
                <div class="icon"><i class="fa fa-sitemap"></i></div>
                <h4 class="title">Our Technical Training Sessions</h4>
                <p class="description">
                  These are your getaway to enhance your expertise and take a
                  step closer to your dream job/career where individuals get to
                  learn various trending programming languages, MS Office &
                  software usage which are very crucial to enter into the fast
                  paced business environment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
        Onsite Area End
    ============================-->

    <!--==========================
        Footer Area Start
    ============================-->

    <%- include("../partials/mainFooter") %>

    <!--==========================
        Footer Area End
    ============================-->

    <!--==========================
        JS Area 
    ============================-->

    <%- include("../partials/mainScripts") %>
  </body>
</html>
