<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OTS</title>
    <meta name="description" content="On-Site Training Sessions (OTS)">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>On-Site Training Sessions (OTS)</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">

        <div class="container">
            <div class="row">

                <p style="padding-left: 5px;padding-right: 5px;">We also have traditional training methods for those who
                    enjoy practical training
                    sessions. Here we provide the Behavioural, Functional and technical training with a more
                    realistic approach with plenty of personal interaction. We also offer inductions for our clients
                    and recruits to get personally in touch with our speakers, trainers and management team.</p>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <h4 class="title">Our Behavioural Training</h4>
                            <p class="description">It is focused on helping everyone to develop their persona and
                                make their life very efficient. We already have conducted various training programs such
                                as
                                Child Development, Presentation Skills, Personality development, Faculty Management,
                                teachers training etc.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-cogs"></i></div>
                            <h4 class="title">Our Functional Training</h4>
                            <p class="description">It is focused on enhancing hard skills and Soft skills for our
                                clients.
                                We have already conducted various workshops like Change Management, Employment,
                                Entrepreneurships, Strategic, Finance & Accounting, and Leadership training etc. which
                                has
                                helped our clients become more effective and career ready with 78% success rate.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="bix">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa fa-sitemap"></i></div>
                            <h4 class="title">Our Technical Training Sessions</h4>
                            <p class="description">These are your getaway to enhance your expertise and take a
                                step closer to your dream job/career where individuals get to learn various trending
                                programming languages, MS Office & software usage which are very crucial to enter into
                                the
                                fast paced business environment.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>