<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Privacy Statement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>PRIVACY STATEMENT</h3>
    </div>
    <!-- bradcam_area_end -->

    <!-- about_area_start -->
    <div class="courses_details_info">
        <div class="container ">
            <div class="row">
                <div class="col">
                    <div class="outline_courses_info">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <i class="fa fa-question"></i>SECTION 1 - WHAT DO WE DO WITH YOUR
                                            INFORMATION ?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        When you purchase something from our store, as part of the buying and selling
                                        process, we collect the personal information you give us such as your name,
                                        address and email address.

                                        <br>When you browse our store, we also automatically receive your computer’s
                                        internet protocol (IP) address in order to provide us with information that
                                        helps us learn about your browser and operating system.
                                        <br>Email marketing (if applicable): With your permission, we may send you
                                        emails about our store, new products and other updates.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-question"></i> SECTION 2 – CONSENT
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        How do you get my consent?
                                        <br>When you provide us with personal information to complete a transaction,
                                        verify your credit card, place an order, arrange for a delivery or return a
                                        purchase, we imply that you consent to our collecting it and using it for that
                                        specific reason only.
                                        <br>If we ask for your personal information for a secondary reason, like
                                        marketing, we will either ask you directly for your expressed consent, or
                                        provide you with an opportunity to say no.
                                        <br>How do I withdraw my consent?
                                        <br>If after you opt-in, you change your mind, you may withdraw your consent for
                                        us to contact you, for the continued collection, use or disclosure of your
                                        information, at anytime, by contacting us at support@conex365.info or mailing us
                                        at: ‘THAARA’, NRA-37, PATHIPALAM, KUTTUMUCK, THRISSUR-680631
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <i class="fa fa-question"></i> SECTION 3 – DISCLOSURE
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        We may disclose your personal information if we are required by law to do so or
                                        if you violate our Terms of Service.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_4">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                            <i class="fa fa-question"></i>SECTION 4 – PAYMENT
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_4" class="collapse" aria-labelledby="heading_4"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        We use Razorpay for processing payments. We/Razorpay do not store your card data
                                        on their servers. The data is encrypted through the Payment Card Industry Data
                                        Security Standard (PCI-DSS) when processing payment. Your purchase transaction
                                        data is only used as long as is necessary to complete your purchase transaction.
                                        After that is complete, your purchase transaction information is not saved.
                                        <br>Our payment gateway adheres to the standards set by PCI-DSS as managed by
                                        the PCI Security Standards Council, which is a joint effort of brands like Visa,
                                        MasterCard, American Express and Discover.
                                        <br>PCI-DSS requirements help ensure the secure handling of credit card
                                        information by our store and its service providers.
                                        <br>For more insight, you may also want to read terms and conditions of razorpay
                                        on https://razorpay.com
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_5">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                            <i class="fa fa-question"></i> SECTION 5 - THIRD-PARTY SERVICES
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_5" class="collapse" aria-labelledby="heading_5"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        In general, the third-party providers used by us will only collect, use and
                                        disclose your information to the extent necessary to allow them to perform the
                                        services they provide to us.
                                        <br>However, certain third-party service providers, such as payment gateways and
                                        other payment transaction processors, have their own privacy policies in respect
                                        to the information we are required to provide to them for your purchase-related
                                        transactions.
                                        <br>For these providers, we recommend that you read their privacy policies so
                                        you can understand the manner in which your personal information will be handled
                                        by these providers.
                                        <br>In particular, remember that certain providers may be located in or have
                                        facilities that are located a different jurisdiction than either you or us. So
                                        if you elect to proceed with a transaction that involves the services of a
                                        third-party service provider, then your information may become subject to the
                                        laws of the jurisdiction(s) in which that service provider or its facilities are
                                        located.Once you leave our store’s website or are redirected to a third-party
                                        website or application, you are no longer governed by this Privacy Policy or our
                                        website’s Terms of Service.
                                        <br>Links
                                        <br>When you click on links on our store, they may direct you away from our
                                        site. We are not responsible for the privacy practices of other sites and
                                        encourage you to read their privacy statements.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                                            <i class="fa fa-question"></i> SECTION 6 – SECURITY
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_6" class="collapse" aria-labelledby="heading_6"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        To protect your personal information, we take reasonable precautions and follow
                                        industry best practices to make sure it is not inappropriately lost, misused,
                                        accessed, disclosed, altered or destroyed.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_6">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                                            <i class="fa fa-question"></i> SECTION 7 – COOKIES
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_7" class="collapse" aria-labelledby="heading_6"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        We use cookies to maintain session of your user. It is not used to personally
                                        identify you on other websites.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_8">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_8" aria-expanded="false" aria-controls="collapse_8">
                                            <i class="fa fa-question"></i> SECTION 8 - AGE OF CONSENT
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_8" class="collapse" aria-labelledby="heading_8"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        By using this site, you represent that you are at least the age of majority in
                                        your state or province of residence, or that you are the age of majority in your
                                        state or province of residence and you have given us your consent to allow any
                                        of your minor dependents to use this site.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_9">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_9" aria-expanded="false" aria-controls="collapse_9">
                                            <i class="fa fa-question"></i> SECTION 9 - CHANGES TO THIS PRIVACY POLICY
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_9" class="collapse" aria-labelledby="heading_9"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        We reserve the right to modify this privacy policy at any time, so please review
                                        it frequently. Changes and clarifications will take effect immediately upon
                                        their posting on the website. If we make material changes to this policy, we
                                        will notify you here that it has been updated, so that you are aware of what
                                        information we collect, how we use it, and under what circumstances, if any, we
                                        use and/or disclose it.
                                        <br>If our store is acquired or merged with another company, your information
                                        may be transferred to the new owners so that we may continue to sell products to
                                        you.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading_10">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse_10" aria-expanded="false"
                                            aria-controls="collapse_10">
                                            <i class="fa fa-question"></i> QUESTIONS AND CONTACT INFORMATION
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse_10" class="collapse" aria-labelledby="heading_10"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        If you would like to: access, correct, amend or delete any personal information
                                        we have about you, register a complaint, or simply want more information contact
                                        our Privacy Compliance Officer at support@conex365.info or by mail at :
                                        <br>‘THAARA’, NRA-37, <br>PATHIPALAM, KUTTUMUCK, <br>THRISSUR-680631
                                    </div>
                                </div>
                            </div>
                            <p>[Re: Privacy Compliance Officer]<br>[622 Manglam Electronic Market Jaipur Rajasthan India
                                302001]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>

</body>

</html>