<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Our Speakers</title>
    <meta name="description" content="Our trainers are from top organizations like Amazon, Coventry University London etc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168254156-1');
    </script>

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Our Speakers</h3>
    </div>
    <!-- bradcam_area_end -->



    <!-- Speaker Section-->
    <div class="our_team_member">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Speakers Panel</h3>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-18.jpg" alt="">
                            <div class="social_link">
                                <p>SALES TRAINING, MANAGEMENT TRAINING, SKILLS COACHING, CONSULTING</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-14.jpg" alt="">
                            <div class="social_link">
                                <p>ASSOCIATE HEAD RESEARCH AND CONSULTANCY, COVENTRY UNIVERSITY, LONDON</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/blog-4.jpg" alt="">
                            <div class="social_link">
                                <p>DIRECTOR-CENTACARE BATHURST, AUSTRALIA</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-17.jpg" alt="">
                            <div class="social_link">
                                <p>COURSE DIRECTOR/SENIOR LECTURER, COVENTRY UNIVERSITY, LONDON</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/blog-02.jpg" alt="">
                            <div class="social_link">
                                <p>CORPORATE ENABLER AND FORMER HR HEAD,VKC GROUP</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/blog-3.jpg" alt="">
                            <div class="social_link">
                                <p>ASSISTANT VICE PRESIDENT- LEARNING AND DEVELOPMENT, ESAF SMALL FINANCE BANK</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-20.jpg" alt="">
                            <div class="social_link">
                                <p>DIRECTOR-OUTCOME & PROFESSOR HEAD-AMITY INNOVATION INCUBATOR</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-7.jpg" alt="">
                            <div class="social_link">
                                <p>CHIEF INFORMATION OFFICER, ARIES GROUP, UAE AND CHIEF OPERATION OFFICER, INDYWOOD TV
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-6.jpg" alt="">
                            <div class="social_link">
                                <p>INTERNATIONAL TRAINER, CAREER COACH, NLP PRACTITIONER, AUTHOR, TOASTMASTER, MARATHON
                                    RUNNER</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-9.jpg" alt="">
                            <div class="social_link">
                                <p>CORPORATE ENABLER AND FORMER LEARNING AND DEVELOPMENT CHAMPION, LUPIN Ltd</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-10.jpg" alt="">
                            <div class="social_link">
                                <p>CONSULTANT PSYCHOLOGIST, HR EXPERT, FORMER ASST.PROFESSOR SCMS SCHOOL OF BUSINESS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-11.jpg" alt="">
                            <div class="social_link">
                                <p>CORPORATE TRAINER, PEOPLE DEVELOPMENT CONSULTANT & MOTIVATIONAL SPEAKER</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-12.jpg" alt="">
                            <div class="social_link">
                                <p>TRAINER AT LAKME, CORPORATE ENABLER, SOFTSKILL TRAINER</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-13.jpg" alt="">
                            <div class="social_link">
                                <p>TRAINER AND CONSULTANT IN QUALITY, RELIABILITY, EHS, INFOSEC. MARATHON RUNNER</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/thomas.jpg" alt="">
                            <div class="social_link">
                                <p>TEAM MANAGER CS & OPERATIONS - AMAZON</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/blog-01.jpg" alt="">
                            <div class="social_link">
                                <p>DEAN-ACADEMICS TATA INSTITUTE OF SOCIAL SCIENCES, MUMBAI</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-15.jpg" alt="">
                            <div class="social_link">
                                <p>SENIOR MARKETING ANALYST, FREELANCE DIGITAL MARKETER FACEBOOK ADS PRO, FUNNELS EXPERT
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-22.jpg" alt="">
                            <div class="social_link">
                                <p>AVIATION SPECIALIST, HOSPITALITY SPECIALIST, SOFT SKILL & SEP TRAINER</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-21.jpg" alt="">
                            <div class="social_link">
                                <p>FORMER SECURITY ANALYST, ERNST AND YOUNG; FORMER VOLUNTEER AT CYBERDOME-KERALA
                                    POLICE; INFORMATION SECURITY CONSULTANT</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-23.jpeg" alt="">
                            <div class="social_link">
                                <p>AREA SALES MANAGER AT RECKITT BENCKISER</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-24.jpeg" alt="">
                            <div class="social_link">
                                <p>ENTREPRENEUR, STARTUP MENTOR</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/img-25.jpeg" alt="">
                            <div class="social_link">
                                <p>BRAND MANAGER AT INDIA'S LEADING FMCG</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3" data-aos="zoom-in">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="/public/Main_Page/img/speaker/dennis_varghese.jpeg" alt="">
                            <div class="social_link">
                                <p>LEAD-GTM FINANCING, OLA ELECTRIC MOBILITY Pvt. Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>

    <!-- speaker_end -->



    <!--Speaker Area--->

    <div class="about_area" style="padding-bottom: 30px;padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Conex Plus Speaker</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                    <div class="single_about_info">
                        <p>Conex365 is the high quality E-learning platform that’s determined to decrease employability
                            equip people with skills and help them become career ready.<br><br>
                            WE cannot do this alone!<br><br>We need talented influencers and entrepreneurs to join our Conex
                            family!
                            It’s time to cascade your wisdom to those who need them the most! Become a Conex Speaker for
                            both Conex Plus and Conex Edu Plus and help us transform the traditional learning with a
                            more dynamic, smart and understandable learning that can be suitable for any age group.
                            What’s in it for you? A lot of opportunities to fulfill your goals, speed up your career
                            progression, market yourself and change lives.<br><br>
                            <b>Fill in the form and we promise to be in touch within 12hrs!</b>
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6" data-aos="fade-up">
                    <img src="/public/Main_Page/img/speaker/speaker.svg" class="img-fluid" alt="">
                    &nbsp;
                    <center>
                        <a href="/conexspeakerregistration" class="boxed-btn2" target="_blank">
                            Register Now!
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!----Speaker Area End-->



    <!--==========================
      Clients Section
    ============================-->
    <section id="clients">
        <div class="container">
            <div class="text-center">
                <h3 class="Client-header">Our trainers are from top organizations like:</h3>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-7.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-9.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-10.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-11.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-12.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-13.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-14.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/clients/client-15.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>

            </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->



    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>