<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Our Team</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  </head>

  <body>
    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
      <h3>Our Team</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 315"
        style="display: block"
      >
        <path
          fill="#ffffff"
          fill-opacity="1"
          d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
        ></path>
      </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
        Team Area Start
    ============================-->

    <div class="our_team_member">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
            <div class="single_team">
              <div class="thumb">
                <img src="/public/Main_Page/img/team/1.jpg" alt="" />
                <div class="social_link">
                  <p>CO-FOUNDER/CEO</p>
                </div>
              </div>
              <div class="master_name text-center">
                <h3>AKSHAY SUNIL</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
            <div class="single_team">
              <div class="thumb">
                <img src="/public/Main_Page/img/team/3.jpg" alt="" />
                <div class="social_link">
                  <p>CHIEF - CORPORATE RELATIONS AND COLLABORATIONS</p>
                </div>
              </div>
              <div class="master_name text-center">
                <h3>FAIROOS JAHAN MOHAMED IQBAL</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
            <div class="single_team">
              <div class="thumb">
                <img src="/public/Main_Page/img/team/4.jpg" alt="" />
                <div class="social_link">
                  <p>HEAD-TECH AND WEB SERVICES</p>
                </div>
              </div>
              <div class="master_name text-center">
                <h3>DIBIN JOSE</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
            <div class="single_team">
              <div class="thumb">
                <img src="/public/Main_Page/img/team/img5.jpeg" alt="" />
                <div class="social_link">
                  <p>HEAD HR & OPERATIONS</p>
                </div>
              </div>
              <div class="master_name text-center">
                <h3>BODHISATTA SINHA</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--==========================
        Team Area End
    ============================-->

    <!--==========================
        Footer Area Start
    ============================-->

    <%- include("../partials/mainFooter") %>

    <!--==========================
        Footer Area End
    ============================-->

    <!--==========================
        JS Area 
    ============================-->

    <%- include("../partials/mainScripts") %>
  </body>
</html>
