<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Our Team</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Our Team</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">

        <!-- our_team_member_start -->
        <div class="our_team_member">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                        <div class="single_team">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/team/1.jpg" alt="">
                                <div class="social_link">
                                    <p>CO-FOUNDER/CEO</p>
                                </div>
                            </div>
                            <div class="master_name text-center">
                                <h3>AKSHAY SUNIL</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                        <div class="single_team">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/team/3.jpg" alt="">
                                <div class="social_link">
                                    <p>HEAD-CORPORATE RELATIONS</p>
                                </div>
                            </div>
                            <div class="master_name text-center">
                                <h3>FAIROOS JAHAN MOHAMED IQBAL</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                        <div class="single_team">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/team/4.jpg" alt="">
                                <div class="social_link">
                                    <p>HEAD-TECH AND WEB SERVICES</p>
                                </div>
                            </div>
                            <div class="master_name text-center">
                                <h3>DIBIN JOSE</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                        <div class="single_team">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/team/img5.jpeg" alt="">
                                <div class="social_link">
                                    <p>HEAD-TALENT ACQUISITION</p>
                                </div>
                            </div>
                            <div class="master_name text-center">
                                <h3>FATHIMA NAZRIN</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4" data-aos="zoom-in">
                        <div class="single_team">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/team/img-6.jpeg" alt="">
                                <div class="social_link">
                                    <p>HEAD-STRATEGY AND COMMUNICATION</p>
                                </div>
                            </div>
                            <div class="master_name text-center">
                                <h3>SHUBHAM SINGH</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our_team_member_end -->



    </section>

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>