<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Conex 365</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Thank You For<br>
           Your Subscription</h3>
    </div>
    <!-- bradcam_area_end -->


    <body>
        <div class="jumbotron text-center">
            <div class="section-title text-center">
                <h3 style="font-weight:bold;">Subscription Successful</h3>
            </div>
            <p>&nbsp</p>
            <div class="pic ">
                <img src="/public/Main_Page/img/thanku.svg" style="max-width:50%;">
            </div>
            <p>&nbsp</p>
            <!--<p class="lead"><strong>Thank You for registering into our Webinar.</strong> You will recieve a <strong style="color:red">Unique Reference Code</strong> directly from our team within 24 hours.</p>
  <p>&nbsp</p>
  <p class="lead">You can give your <strong style="color:red">Unique Reference Code</strong> to your friends. If that person enrolls for webinar with your <strong style="color:red">Unique Reference Code</strong>, </p>
  <p class="lead">you will get a payback of <b>Rs.49</b></p>-->
            <hr>
            <p class="lead">
                <a class="boxed-btn2" href="http://www.conex365.info/" role="button">Continue to Homepage</a>
            </p>
        </div>
    </body>


    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

     <!-- JavaScript Section -->
     <%- include("../partials/mainScripts") %>
</body>

</html>