<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshops & Trainings</title>
    <meta name="description" content="Attend the workshops by national and international experts with very cheap cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>

    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->
    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

 <!-- JavaScript Section -->
 <%- include("../partials/mainScripts") %>
</body>

</html>