<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>International Workshop</title>
    <meta name="description" content="Attend the workshops by national and international experts with very cheap cost.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/flaticon.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168254156-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168254156-1');
    </script>
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Live Workshops</h3>
    </div>
    <!-- bradcam_area_end -->



    <section class="section-padding">


<!--================Comming Soon =================-->

<!--<div class="container">
    <div class="col-xl-12">
        <div class="section_title text-center mb-100">
          <h3>Coming Soon!</h3>
        </div>
        <center><img src="/public/Main_Page/img/workshop/comingsoon.svg" style="max-width: 80%"></center>
    </div>
</div>-->

<!--================Comming Soon End =================-->


<!--================Blog Area =================-->
<!--
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-md-6"  data-aos="zoom-in">
                        <img style="max-width: 100%;border-radius: 20px;" src="/public/Main_Page/img/workshop/Startup_Acceleration.jpeg" alt="workshop_img"> 
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6">     
                        <h2>STARTUP ACCELERATION AND FUNDING</h2>
                        <p>What happens when you:-<br>
                            have an idea but dont have the resources?<br>
                            Or have a business but dont know how to scale up!<br>
                            
                            This is when you hit the pause button. <br>
                            
                            But we at Conex365 don't just come up with questions but also the solutions.<br>
                            
                            Conex365 presents Start up acceleration and Funding workshop by Mr Satyendra Naik<br>
                            
                            This workshop is for everyone who is considering to start a company or already has one!<br>
                            
                            <b>ALL ARE INVITED!!!</b>
                        </p>
                        
                        <ul class="blog-info-link" style="padding-top: 20px">
                            <li style="font-weight: bold"><i class="fa fa-user" style="color: #0EAFCC"></i>MR SATYENDRA NAIK</li>
                        
                        
                            <li style="font-weight: bold"><i class="fa fa-calendar" style="color: #0EAFCC"></i>15 September 2020</li>
                        </ul>
                        <ul class="blog-info-link" style="padding-top: 20px">
                            <li style="font-weight: bold"><i class="fa fa-certificate" style="color: #0EAFCC"></i>Workshop Completion Certificate</li>
                        </ul>
                        <ul class="blog-info-link" style="padding-top: 20px">
                            <li style="font-weight: bold"><i class="fa fa-users" style="color: #0EAFCC"></i>Free Student Connect Membership worth 999/-</li>
                        </ul>
                        &nbsp
                        <!--<ul style="padding-top: 20px;">
                        <li><a href="/workshopdetails" class="boxed-btn2"><b style="color: white">Workshop Details</b></a></center></li>
                        </ul>
                        <ul>
                            <li>
                                <p><b>Registration Full</b></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>                 
        -->
        <!--================Blog Area End =================-->

        <!--================Old Workshop =================-->
        <div class="packages-content">
            <div class="container">
                <div class="row">



                    <!--col Starting-->
                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/Startup_Acceleration.jpeg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">MR SATYENDRA PATNAIK</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>15 September 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Google Meet
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>55+ Attendees</span>
                                    </p>
                                </div>
                                <!--/.packages-review-->
                            </div>
                            <!--/.single-package-item-txt-->
                        </div>
                        <!--/.single-package-item-->
                    </div>
                    <!--/.col-->


                    <!--col Starting-->
                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/akshay.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">AKSHAY & FAIROOS</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>5 September 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>80+ Attendees</span>
                                    </p>
                                </div>
                                <!--/.packages-review-->
                            </div>
                            <!--/.single-package-item-txt-->
                        </div>
                        <!--/.single-package-item-->
                    </div>
                    <!--/.col-->
                    

                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/story.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">Dr.S M A MOIN</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>23 August 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                 <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>70+ Attendees</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--col Starting-->
                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/eh.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">JOEL DELEEP</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>4 - 6 August 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>50+ Attendees</span>
                                    </p>
                                </div>
                                <!--/.packages-review-->
                            </div>
                            <!--/.single-package-item-txt-->
                        </div>
                        <!--/.single-package-item-->
                    </div>
                    <!--/.col-->



                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/de.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">DENNIS THOMAS</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>25 July 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>50+ Attendees</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--col Starting-->
                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/market.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">ASHOK MOHAN</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>13 - 17 July 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>40+ Attendees</span>
                                    </p>
                                </div>
                                <!--/.packages-review-->
                            </div>
                            <!--/.single-package-item-txt-->
                        </div>
                        <!--/.single-package-item-->
                    </div>
                    <!--/.col-->

                    <!--col Starting-->
                    <div class="col-md-4 col-sm-6" data-aos="fade-up">
                        <div class="single-package-item">
                            <img src="/public/Main_Page/img/workshop/employ.jpg" alt="workshop_img">
                            <div class="single-package-item-txt">
                                <h3><i class="fa fa-user"></i><span class="pull-right">MS.SUMARA KHAN</span></h3>
                                <div class="packages-para">
                                    <p>
                                        <span>
                                            <i class="fa fa-calendar"></i>28 June 2020
                                        </span>
                                        <i class="fa fa-map-marker"></i>Zoom Meeting
                                    </p>
                                    <p>
                                        <i class="fa fa-check"></i>Workshop Completed
                                    </p>
                                </div>
                                <!--/.packages-para-->
                                <div class="packages-review">
                                    <p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>70+ Attendees</span>
                                    </p>
                                </div>
                                <!--/.packages-review-->
                            </div>
                            <!--/.single-package-item-txt-->
                        </div>
                        <!--/.single-package-item-->
                    </div>


                </div>
            </div>
        </div>

        <!--================Old Workshop End =================-->

    </section>

    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->

     <!-- JavaScript Section -->
     <%- include("../partials/mainScripts") %>
</body>

</html>