<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshop Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="courses_details_banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="course_text">
                        <h3>ENTREPRENEURSHIP MASTERCLASS</h3>
                        <div class="prise">
                            <hr class="fancy-line">
                            </hr>
                            <!--<h4 style="color: #fff">For Indian Students</h4>-->
                            <span class="inactive"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>1000</span>
                            <span class="active"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>299(LIMITED TIME OFFER)</span>
                        </div><!--
                        <div class="prise">
                            <hr class="fancy-line">
                            </hr>
                            <h4 style="color: #fff">For International Students</h4>
                            <span class="inactive"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>8.99</span>
                            <span class="active"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>5.49</span>
                        </div>-->
                        <hr class="fancy-line">
                        </hr>
                        <div class="hourss">
                            <div class="video">
                                <div class="single_video">
                                    <i class="fa fa-calendar"></i> <span>September 05</span>
                                </div>
                                <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>05:00 PM(IST)</span>
                                </div><!--
                                <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>11:30 AM(GMT)</span>
                                </div>-->
                                <div class="single_video">
                                    <i class="fa fa-map-marker"></i> <span>ZOOM Meeting</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="single_courses">
                        <h3>Overview</h3>
                        <p>
                        <p>We are told that the road to success is filled with hurdles, but how about we simplify for you? 😎<br>

                            Tired of finding a job?<br>
                            Disheartened by the rejections? <br>
                            
                            Don't be.. because a job is just ONE of the ways to earn a living. <br>
                            
                            How about starting your own legacy and employing others?🤩 <br>
                            
                            Conex365 is back with a bang!!<br>
                            We present to you our exclusive workshop "ENTREPRENEURSHIP MASTERCLASS" from top young entrepreneurs Mr Akshay Sunil & Mr Fairoos Jahan Mohamed Iqbal who will simplify the steps and help you become successful in starting your own venture!<br>
                            
                            <b>THIS WORKSHOP IS FOR EVERYONE</b><br>
                            Because its always better to have a contingency plan and multiple sources of income! </p>
                        <h3 class="second_title">Course Outline</h3>
                    </div>
                    <div class="outline_courses_info">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <i class="fa fa-question"></i> Benefits
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        1. Real solutions to start your own venture<br>
                                        2. Insights on how to grow the business with least needed capital!<br>
                                        3. Suggestions on the most preferable industry in the current covid scenario.<br>
                                        4. Easy actionplan for beginners.<br>
                                        5. Be inspired with the journey of students who created their own success story!<br>
                                        6. Completion certificate.<br>
                                        7. Learn to think out of the box!<br>
                                        8. Chance to get an internship opportunity.<br>
                                        9. BONUS: HOW TO MANAGE BUSINES CHALLENGES.<br>
                                        <br>
                                        And
                                        <br>
                                        <br>
                                        Nothing else is better than twice the value!!
                                        <br>
                                        10. We are offering free conex membership!<br>
                                        Limited time offer!!<br>

                                        Maybe its God's will that you make your name in the industry!!
                                        <br>
                                        Where else can you find so many benefits in such a price❓ Join us ‼️

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-question"></i>About Speaker</span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                            Mr Akshay and Mr Fairoos are the founders of Conex365 and one of the  youngest entrepreneurs to have a successful venture despite of the Covid19 challenges.<br>

                                            Both the entrepreneurs are/have:-<br>
                                            1. Trainers and have skilled up more than 2k students & professionals.<br>
                                            2. Nominated for the youngest most innovative entrepreneurs award.<br>
                                            3. been featured in various newspapers and articles in Kerela.<br>
                                            4. A lot of experience and exposure in the industry.<br>
                                            5. Successful Student Entrepreneurs.<br>
                                            6. Writers, influencers and bloggers.<br>

                                            We promise you, no more unrealistic and fancy motivational stories ❌<br>
                                            but a relatable synopsis of the journey of two simple young entrepreneurs and their actionplan to set up a successful venture in less than 60 days!😯✔️
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="courses_sidebar">
                        <div class="video_thumb">
                            <img src="/public/Main_Page/img/workshop/akshay.jpg" alt=""
                                style="position: relative;top: 55px; padding-bottom: 60px;">
                        </div>
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/team/1.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>AKSHAY SUNIL</h3>
                                    <p>CEO, ConeX365<br>
                                    Serial Entrepreneur, Startup Trainer</p>
                                </div>
                            </div>
                        </div>
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/team/3.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>FAIROOS JAHAN MOHAMED IQBAL</h3>
                                    <p>Co-Founder and <br>
                                    Head Corporate Relations, ConeX365</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="position: relative;right: 10%">
                            <!--Razorpay Payement-->
                            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FVOMBmgBBJ4yQ3/view" data-text="Register Now!" data-color="#8A20F3" data-size="large">
                                <script>
                                  (function(){
                                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['_rzp_'];
                                    rzp && rzp.init && rzp.init()}})();
                                </script>
                              </div>
                            <!--Razorpay Payement Closing-->
                        </div>
                    <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                        <!--Paypal Integration-->
                        
                        <!--Paypal Integration-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->




    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>