<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshop Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179940933-1');
</script>
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="courses_details_banner breadcam_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="course_text">
                        <h3>Masterclass  on<br> MARKET RESEARCH AND INTELLIGENCE</h3>
                        <div class="prise">
                            <hr class="blue-line">
                            </hr>
                            <!--<h4 style="color: #fff">For Indian Students</h4>-->
                            <!-- <span class="inactive"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>499</span> -->
                            <!-- <span class="active"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>999</span> -->
                        </div>
                        <div class="prise">
                            <hr class="fancy-line">
                            </hr>
                            <h4 style="color: #fff">Register now and get 20% cashback</h4>
                            <!-- <span class="inactive"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>8.99</span>
                            <span class="active"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>5.49</span> -->
                        </div>
                        <hr class="blue-line">
                        </hr>
                        <div class="hourss">
                            <div class="video">
                                <div class="single_video">
                                    <i class="fa fa-calendar"></i> <span>DECEMBER 12</span>
                                </div>
                                <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>06:30 PM(IST)</span>
                                </div>
                                <!-- <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>01:30 PM(GMT)</span>
                                </div> -->
                                <div class="single_video">
                                    <i class="fa fa-map-marker"></i> <span>Google Meet</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="single_courses">
                        <h3>Overview</h3>
                        <p>
                        <p>Marketing without research is like driving with your eyes closed'<br>

                            Research is all about seeing what everyone has seen, and to think what no one else has thought - says Albert Zent.<br><br>
                            <b>Topics are chosen completely based on the requirement of Industry</b><br>
                            This will truly bring to you a new beginning to carry forward your venture.
                        <h3 class="second_title">Course Outline</h3>
                    </div>
                    <div class="outline_courses_info">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <i class="fa fa-question"></i> Topics Covered
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        

                                        1. Business Development<br>
                                        2. Project/ Programme Management<br>
                                        3. Market Research and Intelligence<br>
                                        4. Decision Making and Decision Science<br>
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-question"></i>Takeaways</span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Just when you thought its over! We got some more perks!<br>
                                        <br>Participation Certificate!<br>
                                        FREE MEMBERSHIP.<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="courses_sidebar">
                        <div class="video_thumb">
                            <img src="/public/Main_Page/img/popup.jpeg" alt=""
                                style="position: relative;top: 55px; padding-bottom: 60px;">
                        </div>
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/incur/Marketing/ajeesh_g.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Dr. AJEESH G MANNADIAR</h3>
                                    <p>Project Manager - Composites<br>
                                        L&T Defence (Heading BrahMos Project)</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="position: relative;right: 10%">
                            <!--Razorpay Payement-->
                            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_G6JqvLdrujzyMk/view" data-text="Register Now" data-color="#0EAFCC" data-size="large">
                                <script>
                                  (function(){
                                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                                    rzp && rzp.init && rzp.init()}})();
                                </script>
                              </div>
                                  
                            <!--Razorpay Payement Closing-->
                        </div>
                    <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                        <!--Paypal Integration-->
                        
                        <!--Paypal Integration-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Footer Section -->
    <%- include("../partials/mainFooter") %>
    <!-- Footer Section End -->




    <!-- JavaScript Section -->
    <%- include("../partials/mainScripts") %>
</body>

</html>