<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshop Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../partials/mainNavbar") %>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="courses_details_banner">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="course_text">
                        <h3>Half Day Workshop on <br>The Art of Brand Storytelling</h3>
                        <div class="prise">
                            <hr class="fancy-line">
                            </hr>
                            <h4 style="color: #fff">For Indian Students</h4>
                            <span class="inactive"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>499</span>
                            <span class="active"><i class="fa fa-inr" aria-hidden="true"
                                    style="margin-right: 5px"></i>299</span>
                        </div>
                        <div class="prise">
                            <hr class="fancy-line">
                            </hr>
                            <h4 style="color: #fff">For International Students</h4>
                            <span class="inactive"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>8.99</span>
                            <span class="active"><i class="fa fa-gbp" aria-hidden="true"
                                    style="margin-right: 5px"></i>5.49</span>
                        </div>
                        <hr class="fancy-line">
                        </hr>
                        <div class="hourss">
                            <div class="video">
                                <div class="single_video">
                                    <i class="fa fa-calendar"></i> <span>August 23</span>
                                </div>
                                <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>04:00 PM(IST)</span>
                                </div>
                                <div class="single_video">
                                    <i class="fa fa-clock-o"></i> <span>11:30 AM(GMT)</span>
                                </div>
                                <div class="single_video">
                                    <i class="fa fa-map-marker"></i> <span>ZOOM Meeting</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <div class="courses_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="single_courses">
                        <h3>Overview</h3>
                        <p>
                        <p>The power of digital technologies and social media have transformed the way brands talk to
                            their customers in the modern-day. Science claims the world is made of atoms, but social
                            science argues it is made of stories.<br>

                            This has brought the ancient art of storytelling at the core of brand communication.
                            <br>
                            Data transferred through stories resonate with the customers more effectively. According to
                            Stanford Professor Jenifer Aaker, stories are up to twenty-two times more memorable than
                            facts.<br>
                            In this session, Dr Moin will unveil how the ancient art of storytelling brings magic into
                            brand communication and connect with their consumer’s hearts and minds.</p>
                        <h3 class="second_title">Course Outline</h3>
                    </div>
                    <div class="outline_courses_info">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <i class="fa fa-question"></i> Benefits
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Certificate

                                        <br>Student Connect Membership worth 999/-
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-question"></i>About Speaker</span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        S M A Moin is an interdisciplinary researcher interested in storytelling,
                                        branding, trust, creativity, and leadership. He spent fifteen years in the
                                        Bangladesh Navy, willingly retiring as a Lieutenant Commander. His military
                                        career followed by eight years in several UK industries including media,
                                        publishing, and financial services. As a management consultant, Moin advised a
                                        range of companies, worked for the world’s largest newspaper, and was part of a
                                        $4 billion international subsea project. He also served as an LEA Governor of
                                        the London Borough of Hounslow. Moin then made a third transformation to
                                        academia. He is currently the Associate Head of Research and Scholarship at
                                        Coventry University London and a Fellow of the UK Higher Education Academy. He
                                        is also a reviewer of several academic journals and a Fellow of UK Chartered
                                        Management Institute. He earned an MBA from the University of Strathclyde and a
                                        PhD in Management from the University of Nottingham. He completed several
                                        courses in leadership, management, and creativity from the Universities of
                                        Oxford and Cambridge. While in the Navy, he trained at the US Defense Institute
                                        of International Legal Studies; the US Navy Atlantic Command; and the US Coast
                                        Guard’s Leadership & Quality Institute and Command & Operations School. Moin is
                                        the author of Leadership Compass, The Purpose of Life, and Strategy Made Easy.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="courses_sidebar">
                        <div class="video_thumb">
                            <img src="/public/Main_Page/img/workshop/story.jpg" alt=""
                                style="position: relative;top: 55px; padding-bottom: 60px;">
                        </div>
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/speaker/img-14.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Dr. S M A MOIN</h3>
                                    <p>ASSOCIATE HEAD RESEARCH AND CONSULTANCY, COVENTRY UNIVERSITY, LONDON</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" style="position: relative;right: 10%">
                            <!--Payement-->
                            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FOft0mDIiP9SEM/view"
                                data-text="Register Now!" data-color="#8A20F3" data-size="large">
                                <script>
                                    (function () {
                                        var d = document; var x = !d.getElementById('razorpay-embed-btn-js')
                                        if (x) {
                                            var s = d.createElement('script'); s.defer = !0; s.id = 'razorpay-embed-btn-js';
                                            s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js'; d.body.appendChild(s);
                                        } else {
                                            var rzp = window['_rzp_'];
                                            rzp && rzp.init && rzp.init()
                                        }
                                    })();
                                </script>
                            </div>
                        </div>
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                        <div id="paypal-button-container"></div>
                        <script
                            src="https://www.paypal.com/sdk/js?client-id=AeFLk-yK6BMVJYcRlQi6C1bfuNTQVNa1gip_WGJ-Px8kyWAyzmTN3ifQ5Yuagu7nWp5CcG8O1AJrAEr4&currency=GBP"
                            data-sdk-integration-source="button-factory"></script>
                        <script>
                            paypal.Buttons({
                                style: {
                                    shape: 'rect',
                                    color: 'blue',
                                    layout: 'vertical',
                                    label: 'paypal',

                                },
                                createOrder: function (data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            amount: {
                                                value: '5.49'
                                            }
                                        }]
                                    });
                                },
                                onApprove: function (data, actions) {
                                    return actions.order.capture().then(function (details) {
                                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                    });
                                }
                            }).render('#paypal-button-container');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Footer Section -->
 <%- include("../partials/mainFooter") %>
 <!-- Footer Section End -->




    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/popper.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/owl.carousel.min.js"></script>
    <script src="/public/Main_Page/js/isotope.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/ajax-form.js"></script>
    <script src="/public/Main_Page/js/waypoints.min.js"></script>
    <script src="/public/Main_Page/js/jquery.counterup.min.js"></script>
    <script src="/public/Main_Page/js/imagesloaded.pkgd.min.js"></script>
    <script src="/public/Main_Page/js/scrollIt.js"></script>
    <script src="/public/Main_Page/js/jquery.scrollUp.min.js"></script>
    <script src="/public/Main_Page/js/wow.min.js"></script>
    <script src="/public/Main_Page/js/nice-select.min.js"></script>
    <script src="/public/Main_Page/js/jquery.slicknav.min.js"></script>
    <script src="/public/Main_Page/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/public/Main_Page/js/contact.js"></script>
    <script src="/public/Main_Page/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/Main_Page/js/jquery.form.js"></script>
    <script src="/public/Main_Page/js/jquery.validate.min.js"></script>
    <script src="/public/Main_Page/js/mail-script.js"></script>

    <script src="/public/Main_Page/js/main.js"></script>
</body>

</html>