<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>C & C++ Programming Certification Course</title>
    <meta name="description" content="By taking this course, you will learn the most powerful programming languages (C & C++).">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../../partials/mainNavbar") %>
    <!-- header-end -->

    
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>C & C++ Programming Certification Course</h3>
    </div>
    <!-- bradcam_area_end -->


    <!--==========================
      Introduction Section
    ============================-->

        <div class="certificate_details_info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <h3>Micro Learning Certification Powered by
                            <img src="/public/Main_Page/img/certification/board-infinity.png">
                        </h3>
                        <p>By taking this course, you will learn the most powerful programming languages (C & C++).
                             This course is for anyone interested in programming because most coding languages are 
                             inherited from C and C++. All classes will be held live and you'll be learning directly 
                             from industry experts. You will also acquire a certification that will help boost your portfolio.
                        </p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <h4>
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                    <del>10,000</del>
                                    <br><hr class="blue-line">
                                    <i class="fa fa-inr" aria-hidden="true"></i>4,799 (52% OFF)
                                </h4>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <center>
                                    <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FaA80uf449Qjvi/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                        <script>
                                          (function(){
                                            var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                            if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                            s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['_rzp_'];
                                            rzp && rzp.init && rzp.init()}})();
                                        </script>
                                      </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <img src="/public/Main_Page/img/certification/CPP/c.svg" style="max-width:100%">
                    </div>
                </div>

                <div class="certificate_box mb-65">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Duration</p>
                            <h3>30 Hrs</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Level</p>
                            <h3>Beginners & Intermediate</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Delivery Mode</p>
                            <h3>Live Online</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-65 certificate_experts">
                <div class="row">
                    <p>With Experts From:-</p>
                    <img src="/public/Main_Page/img/certification/CPP/c-and-cpp.png">
                </div>  
            </div>
        </div>

    <!--==========================
      Introduction Section End
    ============================-->

    <!--==========================
      About Program Section
    ============================-->

        <section id="about_certification" class="section-bg">
            <div class="container">
                <div class="row">
                    <h3 class="hh">About the Program</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-book"></i></div>
                            <h4 class="title">30 Hours of Online Learning</h4>
                            <p class="description" style="padding-left:5px ">Acquire premium content through live classes and bootcamps</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                            <h4 class="title" style="padding-left: 10px;">Lifetime Learning</h4>
                            <p class="description" style="padding-left: 5px;">You get lifetime access to the contents of the course</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <h4 class="title">Get Certification</h4>
                            <p class="description" style="padding-left:5px ">Get certified and work on projects to build a strong portfolio</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-upload"></i></div>
                            <h4 class="title">Upgrade your skills</h4>
                            <p class="description">Get better clarity about the field of C & C++ from Industry Experts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!--==========================
      About Program Section End
    ============================-->

    <!--==========================
      Tools Section
    ============================-->
    
    <section id="clients">
        <div class="container">
            <div class="text-center">
                <h3 class="Client-header">Tools & Skills Covered</h3>
                <p>Master the right set of skills & tools which will allow you to perfectly execute your future projects.</p>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/CPP/c-programming.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/CPP/cpp-programming.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/CPP/array.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/CPP/pointer.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
    </section>


    <!--==========================
      Tools Section End
    ============================-->

    <!--==========================
      Syllubus Section
    ============================-->

    <section id="course_syllubus">
        <div class="container">
          <header class="section-header">
            <h3>Syllabus</h3>
            <p>Best-in-class content delivered by leading faculty and industry experts in the form of Live Classes, 
                On Demand Videos, Case Studies, Assignments and Projects.</p>
          </header>
  
          <ul id="course_syllubus_list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Basics of C <i class="fa fa-minus"></i></a>
              <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
                <ul class="ul_collapse">
                    <li>History and Features of C</li>
                    <li>Importance of C & Procedural Language</li>
                    <li>Role of Compiler & Interpreter</li>
                    <li>The Structure of a C Program</li>
                    <li>Writing C Programs</li>
                    <li>Building an Executable Version of a C Program</li>
                    <li>Debugging a C Program</li>
                    <li>Examining and Running a C Application Program</li>
                </ul>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq2">Control Statement <i class="fa fa-minus"></i></a>
              <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
                <ul class="ul_collapse">
                    <li>The IF.....ELSE Statement</li>
                    <li>IF......ELSE Statement</li>
                    <li>Nesting of IF.....ELSE Statements</li>
                    <li>The Switching Statements</li>
                    <li>The do-while Statement</li>
                    <li>The while statement</li>
                    <li>FOR Statements</li>                                                                                                                                                                                                                                    
                </ul>
              </div>
            </li>
  
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq3">Array in C <i class="fa fa-minus"></i></a>
                <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Array: What and Why?</li>
                    <li>One Dimensional Arrays</li>
                    <li>Two Dimensional Arrays</li>
                    <li>Multi Dimensional Arrays</li>
                    <li>Dynamic Arrays</li>
                  </ul>
                </div>
              </li>
  
              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq4">Pointers in C <i class="fa fa-minus"></i></a>
                <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Understanding Pointers</li>
                    <li>Pointer Expressions</li>
                    <li>Pointer and Arrays</li>
                    <li>Pointers and Character String</li>
                    <li>Pointers to Functions</li>
                    <li>Pointers and Structures</li>
                  </ul>
                </div>
              </li>
  
              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq5">Define Operationally-Excellent Architectures <i class="fa fa-minus"></i></a>
                <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Defining a Structure</li>
                    <li>Advantage of Structure</li>
                    <li>Size of Structure</li>
                    <li>Arrays of Structures</li>
                    <li>Defining Unions</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq6">Introduction to C++ <i class="fa fa-minus"></i></a>
                <div id="faq6" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>C++ Characteristics</li>
                    <li>Object-Oriented Terminology</li>
                    <li>Object-Oriented Paradigm</li>
                    <li>Abstract Data Types</li>
                    <li>I/O Services</li>
                    <li>Standard Template Library</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq7">Operator Overloading <i class="fa fa-minus"></i></a>
                <div id="faq7" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Operator Overloading</li>
                    <li>Working with Overloaded Operator Methods</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq8">Initialization and Assignment <i class="fa fa-minus"></i></a>
                <div id="faq8" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Initialization vs. Assignment</li>
                    <li>The Copy Constructor</li>
                    <li>Assigning Values</li>
                    <li>Specialized Constructors and Methods</li>
                    <li>Constant and Static Class Members</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq9">Storage Management <i class="fa fa-minus"></i></a>
                <div id="faq9" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Memory Allocation</li>
                    <li>Dynamic Allocation: new and delete</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq10">Inheritance and Polymorphism <i class="fa fa-minus"></i></a>
                <div id="faq10" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Overview of Inheritance</li>
                    <li>Defining Base and Derived Classes</li>
                    <li>Constructor and Destructor Calls</li>
                    <li>Overview of Polymorphism</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq11">Input and Output in C++ Programs <i class="fa fa-minus"></i></a>
                <div id="faq11" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Standard Streams & Manipulators</li>
                    <li>Unformatted Input and Output</li>
                    <li>File Input and Output</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq12">Exception Handling <i class="fa fa-minus"></i></a>
                <div id="faq12" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Inheritance and Exceptions</li>
                    <li>Inside an Exception Handler</li>
                  </ul>
                </div>
              </li>
              
          </ul>
  
        </div>
      </section>
      
    <!--==========================
      Syllubus Section End
    ============================-->

    <!--==========================
      Industry Project Section
    ============================-->

        <section class="mb-65">
            <div class="container industry-project">
                <h3>Industry Projects</h3>
                <ul>
                    <h4>
                        Learn through real-life industry projects sponsored by top companies across various verticals
                    </h4>
                    <li>✓ Engage in collaborative projects with student-mentor interaction</li>
                    <li>✓ Learn faster in-person through guidance from expert mentors</li>
                    <li>✓ Personalized subjective feedback on your submissions to facilitate quick improvement</li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/CPP/question-answer.png">
                            <h3>Build Q&A Forum
                            </h3>
                            <p>
                                Design a QnA Forum which should provides an area for community members to ask and answer questions using main pillars of OOP, objects, classes, polymorphism and inheritance.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/CPP/bank-marketing.png">
                            <h3>Banking Management System
                            </h3>
                            <p>Design a Banking Management System where people can login by using credentials and can check there bank transactions and account details.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/CPP/vehicle-management.png">
                            <h3>Vehicle Management System
                            </h3>
                            <p>Design a Vehicle Management System where people can login by using credentials and can buy and borrow the vehicle of there choice.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>    

    <!--=============================
      Industry Project Section End
    =================================-->

    <!--=============================
            Coaches Section
    =================================-->
        

        <div class="coaches_details_info">
            <div class="container">
                <div class="row">
                    <h3 class="coach_heading">Meet Your Coaches</h3> 
                </div>
                <div class="row">
                    <p class="coach_heading">Learn from the Best Leaders and Coaches.</p>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/CPP/himanshu-parwani.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Himanshu Parwani</h3>
                                    <p>SDE-I at HealthKart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/CPP/ashish-gadpayle.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Ashish Gadpayle</h3>
                                    <p>Technical Trainer at APS Microtech Private Limited</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/CPP/uptal-kumar-jha.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Utpal kumar Jha</h3>
                                    <p>Software Engineer at Google</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/CPP/aditiya-g.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Aditiya G</h3>
                                    <p>Junior Research Fellow at Thapar Institute of Technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


    <!--=============================
      Coaches Section End
    =================================-->

    <!--=============================
            Payment Section
    =================================-->


        <div class="container">
        <div class="row">
                            <!--Razorpay Payement-->
                            <center>
                                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FaA80uf449Qjvi/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                    <script>
                                      (function(){
                                        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['_rzp_'];
                                        rzp && rzp.init && rzp.init()}})();
                                    </script>
                                  </div>
                            </center>
                            <!--Razorpay Payement Closing-->
                        </div>
                    <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                        <!--Paypal Integration-->
                        
                        <!--Paypal Integration-->
                    </div>    

    <!--=============================
            Payment Section End
    =================================-->                    

    <!-- Footer Section -->
    <%- include("../../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!-- JavaScript Section -->
    <%- include("../../partials/mainScripts") %>
</body>

</html>