<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Full Stack Development Certification Course</title>
    <meta name="description" content="Follow this master program to boost your career in Full Stack Web Development.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--==========================
        Header Area Start
    ============================-->

    <%- include("../../partials/mainNavbar") %>

    <!--==========================
        Header Area End
    ============================-->

    <!--==========================
        Bradcam Area Start
    ============================-->

    <div class="bradcam_area breadcam_bg overlay">
        <h3>Full Stack Development Certification Course</h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 315" style="display: block">
            <path fill="#ffffff" fill-opacity="1"
                d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
        235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </svg>
    </div>

    <!--==========================
        Bradcam Area End
    ============================-->

    <!--==========================
      Introduction Section
    ============================-->

    <div class="certificate_details_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <h3>Micro Learning Certification Powered by
                        <img src="/public/Main_Page/img/certification/board-infinity.png">
                    </h3>
                    <p>Follow this master program to boost your career in Full Stack Web Development.
                        You’ll become an expert at front and back-end JavaScript technologies of the
                        most popular MERN (MongoDB, Express, React and Node.js), Stack. Learn to create
                        applications from the ground up and start your career in the fast-growing web development
                        sector as a Full-Stack developer. Get full placement assistance from our team until you get
                        your dream job.
                    </p>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h4>
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <del>12,000</del>
                                <br>
                                <hr class="blue-line">
                                <i class="fa fa-inr" aria-hidden="true"></i>5,799 (52% OFF)
                            </h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <center>
                                <div class="razorpay-embed-btn"
                                    data-url="https://pages.razorpay.com/pl_Fa1p0SWZVOAqhB/view" data-text="Buy"
                                    data-color="#0EAFCC" data-size="large">
                                    <script>
                                        (function () {
                                            var d = document; var x = !d.getElementById('razorpay-embed-btn-js')
                                            if (x) {
                                                var s = d.createElement('script'); s.defer = !0; s.id = 'razorpay-embed-btn-js';
                                                s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js'; d.body.appendChild(s);
                                            } else {
                                                var rzp = window['_rzp_'];
                                                rzp && rzp.init && rzp.init()
                                            }
                                        })();
                                    </script>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <img src="/public/Main_Page/img/certification/FullStack/FullStack.svg" style="max-width:100%">
                </div>
            </div>

            <div class="certificate_box mb-65">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                        <p>Duration</p>
                        <h3>60 Hrs</h3>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                        <p>Level</p>
                        <h3>Intermediate</h3>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                        <p>Delivery Mode</p>
                        <h3>Live Online</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-65 certificate_experts">
            <div class="row">
                <p>With Experts From:-</p>
                <img src="/public/Main_Page/img/certification/FullStack/micro-fullstack.png">
            </div>
        </div>
    </div>

    <!--==========================
      Introduction Section End
    ============================-->

    <!--==========================
      About Program Section
    ============================-->

    <section id="about_certification" class="section-bg">
        <div class="container">
            <div class="row">
                <h3 class="hh">About the Program</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-book"></i></div>
                        <h4 class="title">60 Hours of Online Learning</h4>
                        <p class="description" style="padding-left:5px ">Acquire premium content through live classes
                            and bootcamps</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                        <h4 class="title" style="padding-left: 10px;">Lifetime Learning</h4>
                        <p class="description" style="padding-left: 5px;">You get lifetime access to the contents of the
                            course</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-certificate"></i></div>
                        <h4 class="title">Get Certification</h4>
                        <p class="description" style="padding-left:5px ">Get certified and work on projects to build a
                            strong portfolio</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="box">
                        <div class="icon"><i class="fa fa-upload"></i></div>
                        <h4 class="title">Upgrade your skills</h4>
                        <p class="description">Get better clarity about the field from Industry Experts</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
      About Program Section End
    ============================-->

    <!--==========================
      Tools Section
    ============================-->

    <section id="clients">
        <div class="container">
            <div class="text-center">
                <h3 class="Client-header">Tools & Skills Covered</h3>
                <p>Master the right set of skills & tools which will allow you to perfectly execute your future
                    projects.</p>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/Android/github.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/html.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/css.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/bootstrap.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/ajax.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/jquery.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/mongodb.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/node-js.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/rest-api.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/FullStack/javascript.png" class="img-fluid"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <!--==========================
      Tools Section End
    ============================-->

    <!--==========================
      Syllubus Section
    ============================-->

    <section id="course_syllubus">
        <div class="container">
            <header class="section-header">
                <h3>Syllabus</h3>
                <p>Best-in-class content delivered by leading faculty and industry experts in the form of Live Classes,
                    On Demand Videos, Case Studies, Assignments and Projects.</p>
            </header>

            <ul id="course_syllubus_list">

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">Fundamentals of Web Development <i
                            class="fa fa-minus"></i></a>
                    <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
                        <ul class="ul_collapse">
                            <li>Why Web Development</li>
                            <li>Case Studies of some best websites for Inspiration</li>
                            <li>Introduction to the Web</li>
                            <li>HTML5(Basic tags, Forms, Validations, Buttons, Basic Components)</li>
                            <li>CSS3(Basics, Chrome Inspector tool, CSS Colors, Text, Font, Specificity, Flat UI colors,
                                UI Gradients)</li>
                            <li>Introduce to MDN and Google Stuff</li>
                            <li>Bootstrap 4 (Structure, CDN, Forms, Navbars, Grid System + Flexbox, etc.)</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq2">Learn JavaScript and jQuery <i
                            class="fa fa-minus"></i></a>
                    <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
                        <ul class="ul_collapse">
                            <li>Introduction to the JavaScript(Primitives, Variables, Null, Built-in Methods)</li>
                            <li>JS Control Flow(Arithmetic & Comparison Operators, Conditionals, Switch, Loops, etc.)
                            </li>
                            <li>JS Functions(Basics, Return keyword, Arrow Functions)</li>
                            <li>JS Arrays</li>
                            <li>JS Oops (Objects, ‘this’ keyword, Objects v/s Arrays)</li>
                            <li>Ajax Concepts and Advanced javaScript concepts</li>
                            <li>ES6 & ES7 JS(Promises, Callbacks, Closures, For...of Loops, etc.)</li>
                            <li>DOM Manipulation(vanilla JS, Manipulating Style,Text, Content, Attribute, Events)</li>
                            <li>jQuery (Why, Selector, Attr, Val, Manipulating Class, Events - Click, Keypress, On,
                                jQuery Effects)</li>
                            <li>Font Awesome</li>
                            <li>Using Stackoverflow efficiently</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq3">Web Developer's Toolbox (Command & Github)
                        <i class="fa fa-minus"></i></a>
                    <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
                        <ul class="ul_collapse">
                            <li>What is Git VCS</li>
                            <li>GitHub Introduction</li>
                            <li>GitHub Basic Commands(add, commit, log, checkout, etc)</li>
                            <li>Git for Working in Teams Practices</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq4">Databases <i class="fa fa-minus"></i></a>
                    <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
                        <ul class="ul_collapse">
                            <li>Use of Databases</li>
                            <li>Basic SQL Queries to perform data operations</li>
                            <li>MongoDB Intro & Installation</li>
                            <li>Data Schema & Data Associations</li>
                            <li>Introduction to Mongoose & Basic Commands</li>
                            <li>CRUD operations</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq5">Back End Development <i
                            class="fa fa-minus"></i></a>
                    <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
                        <ul class="ul_collapse">
                            <li>Introduction to Back End Development</li>
                            <li>Working behind HTTPs</li>
                            <li>The workflow of Front End and Back End Development with a case study</li>
                            <li>Intro to Node.js and How Node.js Works</li>
                            <li>Installing Node.js & NPM</li>
                            <li>Installing NPM Packages</li>
                            <li>Difference between Framework & Library</li>
                            <li>Use of Server Side Framework</li>
                            <li>Intro to ExpressJS and Why Express</li>
                            <li>Running Express App & Express Basics</li>
                            <li>Working with third-party API’s (Intro to API’s, JSON, XML)</li>
                            <li>RESTful Routing</li>
                            <li>Deployment Options(Heroku/AWS)</li>
                            <li>Heroku Intro & Installation</li>
                        </ul>
                    </div>
                </li>

            </ul>

        </div>
    </section>

    <!--==========================
      Syllubus Section End
    ============================-->

    <!--==========================
      Industry Project Section
    ============================-->

    <section class="mb-65">
        <div class="container industry-project">
            <h3>Industry Projects</h3>
            <ul>
                <h4>
                    Learn through real-life industry projects sponsored by top companies across various verticals
                </h4>
                <li>✓ Engage in collaborative projects with student-mentor interaction</li>
                <li>✓ Learn faster in-person through guidance from expert mentors</li>
                <li>✓ Personalized subjective feedback on your submissions to facilitate quick improvement</li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="purpose_box">
                        <img src="/public/Main_Page/img/certification/FullStack/online-pharmacy.png">
                        <h3>Online Pharmacy Website
                        </h3>
                        <p class="expand-para">
                            Build a dynamic and effective pharmacy website. Create a rich UI for effective diagnosis and
                            health advice
                            <a class="btn line-button" onclick="return toggleMe('special1')"
                                style="color: #0EAFCC;">Expand</a>
                        </p>
                        <div id="special1" style="display: none;">
                            <p class="expand-para">
                                with React, Javascript, ES6, and many more. Where people can look
                                for different medicines uses, prices and can also buy them.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="purpose_box">
                        <img src="/public/Main_Page/img/certification/FullStack/food-delivery.png">
                        <h3>Restaurants Delivery Application
                        </h3>
                        <p class="expand-para">
                            This project is for a huge online Restaurant. Develop an end to end solution
                            <a class="btn line-button" onclick="return toggleMe('special2')"
                                style="color: #0EAFCC;">Expand</a>
                        </p>
                        <div id="special2" style="display: none;">
                            <p class="expand-para">
                                of food delivery where customer can sign up/ login, view menu, add the items in the cart
                                and successful payment gateway application as well.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="purpose_box">
                        <img src="/public/Main_Page/img/certification/FullStack/bank-marketing.png">
                        <h3>Bank Management System
                        </h3>
                        <p class="expand-para">
                            Design a Bank Website where people can login by using credentials and can
                            <a class="btn line-button" onclick="return toggleMe('special3')"
                                style="color: #0EAFCC;">Expand</a>
                        </p>
                        <div id="special3" style="display: none;">
                            <p class="expand-para">
                                check there bank transactions and account details. The website will have multiple pages
                                like Account Details, Card Details, Transaction Details with the date of transaction
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=============================
      Industry Project Section End
    =================================-->

    <!--=============================
            Coaches Section
    =================================-->


    <div class="coaches_details_info">
        <div class="container">
            <div class="row">
                <h3 class="coach_heading">Meet Your Coaches</h3>
            </div>
            <div class="row">
                <p class="coach_heading">Learn from the Best Leaders and Coaches.</p>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/nanda-kishore-panem-venkata.jpeg"
                                    alt="" height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Nanda Kishore Panem Venkata</h3>
                                <p>Principal Engineer & Technical Manager at PayPal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/shashi-shekhar.jpeg" alt=""
                                    height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Shashi Shekhar</h3>
                                <p>Member of Technical Staff at PayPal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/abhilash-thota.jpeg" alt=""
                                    height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Abhilash Thota</h3>
                                <p>Technical Lead at Examplus</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/harsh-vaish.jpg" alt=""
                                    height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Harsh Vaish</h3>
                                <p>Senior Software Engineer at Capgemini</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/full-stack-anuj-chandra.jpeg"
                                    alt="" height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Anuj Chandra</h3>
                                <p>Software Development Engineer at Zomato</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/tanmay.jpg" alt="" height="60px"
                                    ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Tanmay Chitransh</h3>
                                <p>Manager - Big Data at Vodafone Shared Services pvt. Ltd </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/abhas.jpg" alt="" height="60px"
                                    ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Abhas Tandon</h3>
                                <p>Senior Software Engineer at LinkedIn </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/rahul-bhanushali.jpeg" alt=""
                                    height="60px" ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Rahul Bhanushali</h3>
                                <p>Big Data Engineer at Amazon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="author_info">
                        <div class="auhor_header">
                            <div class="thumb">
                                <img src="/public/Main_Page/img/certification/FullStack/yasir.jpg" alt="" height="60px"
                                    ,width="60px" style="border-radius: 50px">
                            </div>
                            <div class="name">
                                <h3>Yasir Nazar</h3>
                                <p>Co-Founder at Techno Companion</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--=============================
      Coaches Section End
    =================================-->

    <!--=============================
            Payment Section
    =================================-->


    <div class="container">
        <div class="row">
            <!--Razorpay Payement-->
            <center>
                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_Fa1p0SWZVOAqhB/view"
                    data-text="Buy" data-color="#0EAFCC" data-size="large">
                    <script>
                        (function () {
                            var d = document; var x = !d.getElementById('razorpay-embed-btn-js')
                            if (x) {
                                var s = d.createElement('script'); s.defer = !0; s.id = 'razorpay-embed-btn-js';
                                s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js'; d.body.appendChild(s);
                            } else {
                                var rzp = window['_rzp_'];
                                rzp && rzp.init && rzp.init()
                            }
                        })();
                    </script>
                </div>
            </center>
            <!--Razorpay Payement Closing-->
        </div>
        <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
        <!--Paypal Integration-->

        <!--Paypal Integration-->
    </div>

    <!--=============================
            Payment Section End
    =================================-->

    <!-- Footer Section -->
    <%- include("../../partials/mainFooter") %>
    <!-- Footer Section End -->

    <!--=============================
        Industry Project Script
    =================================-->

    <script>
        function toggleMe(a) {
            var e = document.getElementById(a);
            if (!e) return true;
            if (e.style.display == "none") {
                e.style.display = "block"
            }
            else {
                e.style.display = "none"
            }
            return true;
        }
    </script>

    <!--=============================
        Industry Project Script End
    =================================-->

    <!-- JavaScript Section -->
    <%- include("../../partials/mainScripts") %>
</body>

</html>