<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Machine Learning Certification Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/slicknav.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../../partials/mainNavbar") %>
    <!-- header-end -->

    
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Machine Learning Certification Course</h3>
    </div>
    <!-- bradcam_area_end -->


        <div class="certificate_details_info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <h3>Micro Learning Certification Powered by
                        <img src="/public/Main_Page/img/certification/board-infinity.png" style="max-width: 20%;"></h3>
                        <p>Follow this master program in Machine Learning to learn the scientific study of algorithms and 
                            statistical models that computer systems use. Master algorithms like using regression, clustering & classification. Start from scratch and learn from
                            industry experts about how a Machine Learning Engineer impacts the world.
                        </p>
                        <center>
                            <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FYWRrEaiBdPUWQ/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                <script>
                                  (function(){
                                    var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                    if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                    s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                                    rzp && rzp.init && rzp.init()}})();
                                </script>
                              </div>
                        </center>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <img src="/public/Main_Page/img/certification/ML/ml.svg" style="max-width:100%">
                    </div>
                </div>
                <div class="certificate_box mb-65">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Duration</p>
                            <h3>60 Hrs</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Level</p>
                            <h3>Intermediate</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Delivery Mode</p>
                            <h3>Live Online</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-65 certificate_experts">
                <div class="row">
                    <p>With Experts From:-</p>
                    <img src="/public/Main_Page/img/certification/ML/micro-machine-learning.png">
                </div>  
            </div>
        </div>

        <section id="services" class="section-bg">
            <div class="container">
                <div class="row">
                    <h3 class="hh">About the Program</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-book"></i></div>
                            <h4 class="title">60 Hours of Online Learning</h4>
                            <p class="description" style="padding-left:5px ">Acquire premium content through live classes and bootcamps</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                            <h4 class="title" style="padding-left: 10px;">Lifetime Learning</h4>
                            <p class="description" style="padding-left: 5px;">You get lifetime access to the contents of the course</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <h4 class="title">Get Certification</h4>
                            <p class="description" style="padding-left:5px ">Get certified and work on projects to build a strong portfolio</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-upload"></i></div>
                            <h4 class="title">Upgrade your skills</h4>
                            <p class="description">Get better clarity about the field from Industry Experts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            <!--==========================
      Clients Section
    ============================-->
    
    <section id="clients">
        <div class="container">
            <div class="text-center">
                <h3 class="Client-header">Tools & Skills Covered</h3>
                <p>Master the right set of skills & tools which will allow you to perfectly execute your future projects.</p>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/anaconda.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/jupyter.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/keras.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/matplotlib.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/ml-scikit-learn.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/neural-network.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/nlp.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/numpy.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/pandas.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/python.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/statistics-and-probability.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/tensorflow.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    
    <div class="certificate_details_info section-bg">
        <div class="container">
            <h3>Syllabus</h3>
            <p style="margin-bottom: 30px;">Best-in-class content delivered by leading faculty and industry experts in the form of Live Classes, 
            On Demand Videos, Case Studies, Assignments and Projects.</p>
                <div class="outline_courses_info">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        <i class="fa fa-chevron-circle-down"></i> Introduction To Python 
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Introduction to Jupyter Notebook</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Basics</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Control Flow</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Data Structures</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Functions</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Conditionals and Loops</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            OOPs Concept</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Type Conversion</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Classes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <i class="fa fa-chevron-circle-down"></i> Python For Machine Learning
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Numpy</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Pandas</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Matplotlib</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Seaborn</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <i class="fa fa-chevron-circle-down"></i> Maths For Data Science
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Descriptive Statistics</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Probability</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Bayes Theorem</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Probability Distribution</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Inferential Statistics</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Hypothesis testing</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Linear Algebra</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Analysis of Variance and Covariance (ANOVA)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        <i class="fa fa-chevron-circle-down"></i> Supervised Learning
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Linear Models: Linear and Logistic Regression</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Optimization Techniques: Gradient-based methods</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Probability-Based Model: Naive Bayes</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Tree-Based Model: Decision Tree and Random Forest</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Ensemble Methods: Bagging, Boosting</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Proximity Based Models: K Nearest Neighbor</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Hyper Parameter Tuning: Grid and the random search</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Performance Metrics: Accuracy, Confusion Matrix</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        <i class="fa fa-chevron-circle-down"></i> Un-Supervised Learning
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Clustering concept</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            K-Means Clustering</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Dimensional Reduction: LDA and PCA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        <i class="fa fa-chevron-circle-down"></i> Natural Language Processing
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            NLP Overview</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            NLP Overview</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Text Classification</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        <i class="fa fa-chevron-circle-down"></i> Recommendation System
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            DBSCAN Technique</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Recommender Systems and Matrix Factorization</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseNine" aria-expanded="false"
                                        aria-controls="collapseNine">
                                        <i class="fa fa-chevron-circle-down"></i> Deep Learning
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Working and growth of Neural Networks</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Multi-Layered Perceptron (MLP)</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Backpropagation</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Bias-Variance tradeoff</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Tensorflow and Keras</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Convolutional Neural Network (CNN)</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Recurrent Neural Network (RNN)</li>
                                        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                            Long Short-term memory (LSTMs)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="mb-65">
            <div class="container industry-project">
                <h3>Industry Projects</h3>
                <ul>
                    <h4>
                        Learn through real-life industry projects sponsored by top companies across various verticals
                    </h4>
                    <li>✓ Engage in collaborative projects with student-mentor interaction</li>
                    <li>✓ Learn faster in-person through guidance from expert mentors</li>
                    <li>✓ Personalized subjective feedback on your submissions to facilitate quick improvement</li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/ML/artificial-neural-network.png">
                            <h3>Accuracy on MNIST Dataset using Artificial neural network
                            </h3>
                            <p>
                                The MNIST dataset is an acronym that stands for the Modified National Institute of Standards
                                <a class="btn btn-link" onclick="return toggleMe('special1')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special1" style="display: none;">
                            <p>
                                 and Technology dataset. It is a dataset of 60,000 small square 28×28 pixel grayscale images of handwritten single digits between 0 and 9. 
                                In this project you will be working to get Achieve 99% accuracy on MNIST by using Artificial neural network
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/ML/youtube-recommendation.png">
                            <h3>YouTube Recommendation System
                            </h3>
                            <p>
                                YouTube is an American online video-sharing platform. YouTube allows users to upload, view, rate, share, add to playlists,
                                <a class="btn btn-link" onclick="return toggleMe('special2')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special2" style="display: none;">
                            <p> report, comment on videos, 
                                and subscribe to other users. You have to build a recommendation system to recommend videos/ news to users.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/ML/neural-style-transfer.png">
                            <h3>Neural Style Transfer with VGG
                            </h3>
                            <p>
                                Neural Style Transfer refers to a class of software algorithms that manipulate digital images, or videos, in order to adopt
                                <a class="btn btn-link" onclick="return toggleMe('special3')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special3" style="display: none;">
                            <p>    
                                 to adopt the appearance or visual style of another image.
                                 In this project, you will be making a painting from your portrait image, similar to PRISMA app.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        
        <div class="coaches_details_info">
            <div class="container">
                <div class="row">
                    <h3 class="coach_heading">Meet Your Coaches</h3> 
                </div>
                <div class="row">
                    <p class="coach_heading">Learn from the Best Leaders and Coaches.</p>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/ruble-joseph.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Ruble Joseph</h3>
                                    <p>Vice President at eClerx</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/mirza-rahim-baig.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Mirza Rahim Baig</h3>
                                    <p>Analytics Lead at Flipkart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/kunaal-naik.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Kunaal Naik</h3>
                                    <p>Marketing Operations Advisor at Dell EMC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/punit-shah.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Punit Shah</h3>
                                    <p>Data Science Lead at Synechron</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/anil-chandra-naidu.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Anil Chandra Naidu Matcha</h3>
                                    <p>Co-Founder at Vadoo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/geetanjali-prasad.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Geetanjali Prasad</h3>
                                    <p>Analytics Head at Nearby Technologies </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/rishi-raghuvanshi.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Rishi Raghuvanshi</h3>
                                    <p>Senior Data Scientist at Hudson's Bay Company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/dhiman-mandal.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Dhiman Mandal</h3>
                                    <p>Data Scientist at Ericsson</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/pulkit-aneja.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Pulkit Aneja</h3>
                                    <p>Data Scientist at Amazon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/vedant-dwivedi.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Vedant Dwivedi</h3>
                                    <p>Deputy Manager at RELIANCE JIO DIGITAL SERVICES PRIVATE LIMITED</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/kishan-kanhaiya.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Kishan Kanhaiya</h3>
                                    <p>Data Scientist at Aptara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/anurag-mukherjee.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Anurag Mukherjee</h3>
                                    <p>Analytics Advisory Senior Analyst at Accenture</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/ravi-teja.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Ravi Teja</h3>
                                    <p>Co-Founder at Unplan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/rajanikant-ghate.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Rajanikant Ghate</h3>
                                    <p>Data Scientist at Sleepiz AG</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/abhishek-dubey.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Abhishek Dubey</h3>
                                    <p>Data Scientist at Tata Insights and Quants</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
        <div class="row">
                            <!--Razorpay Payement-->
                            <center>
                                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FYWRrEaiBdPUWQ/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                    <script>
                                      (function(){
                                        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                                        rzp && rzp.init && rzp.init()}})();
                                    </script>
                                  </div>
                            </center>
                            <!--Razorpay Payement Closing-->
                        </div>
                    <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                        <!--Paypal Integration-->
                        
                        <!--Paypal Integration-->
                    </div>    


    <!-- Footer Section -->
    <%- include("../../partials/mainFooter") %>
    <!-- Footer Section End -->


<script>
    function toggleMe(a){
var e=document.getElementById(a);
if(!e)return true;
if(e.style.display=="none"){
e.style.display="block"
}
else{
e.style.display="none"
}
return true;
}
</script>

    <!-- JavaScript Section -->
    <%- include("../../partials/mainScripts") %>
</body>

</html>