<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Python Programming Certification Course</title>
    <meta name="description" content="This Python programming online course will introduce you to fundamental programming
     concepts including data structures, networked application program interfaces, and databases.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!-- header-start -->
    <%- include("../../partials/mainNavbar") %>
    <!-- header-end -->

    
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Python Programming Certification Course</h3>
    </div>
    <!-- bradcam_area_end -->


    <!--==========================
      Introduction Section
    ============================-->


        <div class="certificate_details_info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <h3>Micro Learning Certification Powered by
                            <img src="/public/Main_Page/img/certification/board-infinity.png">
                        </h3>
                        <p>This Python programming online course will introduce you to fundamental programming concepts including data structures, networked application program interfaces, 
                            and databases. You will gain expert knowledge in Python irrespective of whether you took this course as a hobby or as a portfolio builder. In the end, you will 
                            earn Python programming course certification.
                        </p>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <h4>
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                    <del>12,000</del>
                                    <br><hr class="blue-line">
                                    <i class="fa fa-inr" aria-hidden="true"></i>4,899 (59% OFF)
                                </h4>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                            <center>
                                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FZ2GLpack7W81Y/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                    <script>
                                    (function(){
                                        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                                        rzp && rzp.init && rzp.init()}})();
                                    </script>
                                </div>
                                    
                            </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5">
                        <center><img src="/public/Main_Page/img/certification/Python/python.png" style="max-width:70%"></center>
                    </div>
                </div>
                
                <div class="certificate_box mb-65">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Duration</p>
                            <h3>20 Hours</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Level</p>
                            <h3>Beginners & Intermediate</h3>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 certificate_box_content">
                            <p>Delivery Mode</p>
                            <h3>Live Online</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-65 certificate_experts">
                <div class="row">
                    <p>With Experts From:-</p>
                    <img src="/public/Main_Page/img/certification/ML/micro-machine-learning.png">
                </div>  
            </div>
        </div>

        
    <!--==========================
      Introduction Section End
    ============================-->

    <!--==========================
      About Program Section
    ============================-->


        <section id="about_certification" class="section-bg">
            <div class="container">
                <div class="row">
                    <h3 class="hh">About the Program</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-book"></i></div>
                            <h4 class="title">20 Hours of Online Learning</h4>
                            <p class="description" style="padding-left:5px ">Get access to premium content in the form of live classes</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                            <h4 class="title" style="padding-left: 10px;">Lifetime Learning</h4>
                            <p class="description" style="padding-left: 5px;">You get lifetime access to the contents of the course</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <h4 class="title">Get Certification</h4>
                            <p class="description" style="padding-left:5px ">Get certified and work on projects to build a strong portfolio</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="box">
                            <div class="icon"><i class="fa fa-upload"></i></div>
                            <h4 class="title">Upgrade your skills</h4>
                            <p class="description">Get better clarity about the field of Python Programming from Industry Experts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <!--==========================
      About Program Section End
    ============================-->

    <!--==========================
      Tools Section
    ============================-->
    
    <section id="clients">
        <div class="container">
            <div class="text-center">
                <h3 class="Client-header">Tools & Skills Covered</h3>
                <p>Master the right set of skills & tools which will allow you to perfectly execute your future projects.</p>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/anaconda.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/jupyter.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/Python/seaborn.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/matplotlib.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/numpy.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/pandas.png" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                        <div class="client-logo">
                            <img src="/public/Main_Page/img/certification/ML/python.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
    </section>


    <!--==========================
      Tools Section End
    ============================-->

    <!--==========================
      Syllubus Section
    ============================-->

    <section id="course_syllubus">
        <div class="container">
          <header class="section-header">
            <h3>Syllabus</h3>
            <p>Best-in-class content delivered by leading faculty and industry experts in the form of Live Classes, 
                On Demand Videos, Case Studies, Assignments and Projects.</p>
          </header>
  
          <ul id="course_syllubus_list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">Introduction To Python <i class="fa fa-minus"></i></a>
              <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
                <ul class="ul_collapse">
                    <li>Why Python</li>
                    <li>What is Interpreted vs Compiled Language</li>
                    <li>Installing Python</li>
                    <li>Basics of Python</li>
                    <li>Keywords & Identifiers</li>
                    <li>Standard Input & Output</li>
                    <li>Variables</li>
                </ul>
              </div>
            </li>
  
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq2">Data Types in Python <i class="fa fa-minus"></i></a>
              <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
                <ul class="ul_collapse">
                    <li>Numbers</li>
                    <li>Boolean</li>
                    <li>Strings</li>
                    <li>Lists</li>
                    <li>Dictionaries</li>
                    <li>Tuples</li>
                    <li>Sets</li>
                    <li>List comprehensions</li>
                </ul>
              </div>
            </li>
  
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq3">Python Statements <i class="fa fa-minus"></i></a>
                <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>If, Elif and Else</li>
                    <li>Switch Statements</li>
                    <li>For loop</li>
                    <li>While Loop</li>
                    <li>Other Useful functions in Python</li>
                  </ul>
                </div>
            </li>
  
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq4">Functions & Lambda Expressions <i class="fa fa-minus"></i></a>
                <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Functions</li>
                    <li>Recursion</li>
                    <li>Map & Filter Functions</li>
                    <li>Lambda Functions</li>
                    <li>Scope variables in Python</li>
                  </ul>
                </div>
            </li>
  
            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq5">Object Oriented Programming (OOPs) in Python <i class="fa fa-minus"></i></a>
                <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Basics of OOPs</li>
                    <li>Class and Attributes</li>
                    <li>Class Structure</li>
                    <li>Methods</li>
                    <li>Inheritance</li>
                  </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq6">Advanced Topics in Python <i class="fa fa-minus"></i></a>
                <div id="faq6" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Modules & Packages</li>
                    <li>File Handling</li>
                    <li>Exception handling</li>
                    <li>Debugging in Python</li>
                  </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq7">Python for Data Analysis: Numpy <i class="fa fa-minus"></i></a>
                <div id="faq7" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Introduction to Numpy</li>
                    <li>NumPy Arrays : Indexing and Selection</li>
                    <li>NumPy Operations</li>
                  </ul>
                </div>
              </li>

              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq8">Python for Data Manipulation: Pandas <i class="fa fa-minus"></i></a>
                <div id="faq8" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Introduction to Pandas</li>
                    <li>Dataframes in Pandas</li>
                    <li>Key Operation of Pandas</li>
                    <li>Pandas for Data Wrangling</li>
                  </ul>
                </div>
              </li>
              
              <li>
                <a data-toggle="collapse" class="collapsed" href="#faq9">Python for Visualization: Matplotlib & Seaborn <i class="fa fa-minus"></i></a>
                <div id="faq9" class="collapse" data-parent="#course_syllubus_list">
                  <ul class="ul_collapse">
                    <li>Introduction to Matplotlib</li>
                    <li>Basics of Matplotlib</li>
                    <li>Advanced Figures in Matplotlib</li>
                  </ul>
                </div>
              </li>

          </ul>
  
        </div>
      </section>
      
    <!--==========================
      Syllubus Section End
    ============================-->

    <!--==========================
      Industry Project Section
    ============================-->

        
        <section class="mb-65">
            <div class="container industry-project">
                <h3>Industry Projects</h3>
                <ul>
                    <h4>
                        Learn through real-life industry projects sponsored by top companies across various verticals
                    </h4>
                    <li>✓ Engage in collaborative projects with student-mentor interaction</li>
                    <li>✓ Learn faster in-person through guidance from expert mentors</li>
                    <li>✓ Personalized subjective feedback on your submissions to facilitate quick improvement</li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/Python/zomato.png">
                            <h3>Zomato Data Analysis
                            </h3>
                            <p class="expand-para">
                                Zomato is an Indian restaurant aggregator and food delivery application.
                                <a class="btn line-button" onclick="return toggleMe('special1')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special1" style="display: none;">
                            <p class="expand-para">
                                As an analyst, your task is to find various trends to understand how fast it has become popular, the average cost per customer, restaurant popularity and other insights
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/Python/retail.png">
                            <h3>Retail Store Analysis
                            </h3>
                            <p class="expand-para">
                                In this project, you will help a retail store to visualize sales and
                                <a class="btn line-button" onclick="return toggleMe('special2')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special2" style="display: none;">
                            <p class="expand-para"> 
                                develop insights from the previous year using various plots to understand best customers, orders in a day also estimate lifetime value of customers based on purchase patterns.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="purpose_box">
                            <img src="/public/Main_Page/img/certification/Python/playstore.png">
                            <h3>Play Store Data Analysis
                            </h3>
                            <p class="expand-para">
                                Google Play Store team is about to launch a new feature. 
                                <a class="btn line-button" onclick="return toggleMe('special3')" style="color:#0EAFCC">Expand</a> 
                            </p>
                            <div id="special3" style="display: none;">
                            <p class="expand-para">    
                                This feature will help bring more attention to newer apps that have potential.
                                 The task is to understand what makes an app perform well - size, price, category, 
                                 multiple factors together? Analyze the data and present your insights in a format 
                                 consumable by business – the final output of the analysis would be presented to business
                                  as insights with supporting data/visualizations.
                            </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>    

    <!--=============================
      Industry Project Section End
    =================================-->

    <!--=============================
            Coaches Section
    =================================-->
        
        <div class="coaches_details_info">
            <div class="container">
                <div class="row">
                    <h3 class="coach_heading">Meet Your Coaches</h3> 
                </div>
                <div class="row">
                    <p class="coach_heading">Learn from the Best Leaders and Coaches.</p>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/ruble-joseph.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Ruble Joseph</h3>
                                    <p>Vice President at eClerx</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/mirza-rahim-baig.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Mirza Rahim Baig</h3>
                                    <p>Analytics Lead at Flipkart</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/kunaal-naik.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Kunaal Naik</h3>
                                    <p>Marketing Operations Advisor at Dell EMC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/punit-shah.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Punit Shah</h3>
                                    <p>Data Science Lead at Synechron</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/anil-chandra-naidu.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Anil Chandra Naidu Matcha</h3>
                                    <p>Co-Founder at Vadoo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/geetanjali-prasad.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Geetanjali Prasad</h3>
                                    <p>Analytics Head at Nearby Technologies </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/rishi-raghuvanshi.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Rishi Raghuvanshi</h3>
                                    <p>Senior Data Scientist at Hudson's Bay Company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/dhiman-mandal.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Dhiman Mandal</h3>
                                    <p>Data Scientist at Ericsson</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/pulkit-aneja.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Pulkit Aneja</h3>
                                    <p>Data Scientist at Amazon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/vedant-dwivedi.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Vedant Dwivedi</h3>
                                    <p>Deputy Manager at RELIANCE JIO DIGITAL SERVICES PRIVATE LIMITED</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/kishan-kanhaiya.jpg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Kishan Kanhaiya</h3>
                                    <p>Data Scientist at Aptara</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/anurag-mukherjee.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Anurag Mukherjee</h3>
                                    <p>Analytics Advisory Senior Analyst at Accenture</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/ML/ravi-teja.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Ravi Teja</h3>
                                    <p>Co-Founder at Unplan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/Python/prashant-kumar.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Prashant Kumar</h3>
                                    <p>Senior Business Analyst at DHL Supply Chain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="author_info">
                            <div class="auhor_header">
                                <div class="thumb">
                                    <img src="/public/Main_Page/img/certification/Python/akhil-thimmaiah.jpeg" alt="" height="60px"
                                        ,width="60px" style="border-radius: 50px">
                                </div>
                                <div class="name">
                                    <h3>Akhil Thimmaiah</h3>
                                    <p>Senior Manager at eClerx</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--=============================
      Coaches Section End
    =================================-->

    <!--=============================
            Payment Section
    =================================-->
        
        <div class="container">
        <div class="row">
                            <!--Razorpay Payement-->
                            <center>
                                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_FZ2GLpack7W81Y/view" data-text="Buy" data-color="#0EAFCC" data-size="large">
                                    <script>
                                      (function(){
                                        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                                        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                                        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                                        rzp && rzp.init && rzp.init()}})();
                                    </script>
                                  </div>
                                      
                            </center>
                            <!--Razorpay Payement Closing-->
                        </div>
                    <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                        <!--Paypal Integration-->
                        
                        <!--Paypal Integration-->
                    </div>    

    <!--=============================
            Payment Section End
    =================================-->  

    <!-- Footer Section -->
    <%- include("../../partials/mainFooter") %>
    <!-- Footer Section End -->


    <!--=============================
        Industry Project Script
    =================================-->

    <script>
        function toggleMe(a){
            var e=document.getElementById(a);
            if(!e)return true;
            if(e.style.display=="none"){
                e.style.display="block"
            }
            else{
                e.style.display="none"
            }
            return true;
        }
    </script>

    <!--=============================
        Industry Project Script End
    =================================-->


    <!-- JavaScript Section -->
    <%- include("../../partials/mainScripts") %>
</body>

</html>