<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshop Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179940933-1');
    </script>
</head>

<body>
    <!-- header-start -->
    <%- include("../../partials/mainNavbar") %>
        <!-- header-end -->

        <!-- bradcam_area_start -->
        <div class="courses_details_banner breadcam_bg overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="course_text">
                            <h3>Market Research And Intelligence</h3>
                            <div class="prise">
                                <hr class="blue-line">
                                </hr>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <a href="https://rzp.io/l/2onMn5QlLt" target="_blank">
                                            <h4 class="course_cash">ENROLL NOW
                                                <!-- <span class="active"><i class="fa fa-inr" aria-hidden="true"
                                                style="margin-right: 5px"></i>499</span> -->
                                                <!-- <i class="fa fa-inr" aria-hidden="true" style="margin-right: 5px"></i>999 -->
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <a href="https://chat.whatsapp.com/GB212l64AI7FuMqMcc3zkd">
                                            <h4 class="course_cash">JOIN OUR COMMUNITY
                                            </h4>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <hr class="blue-line">
                            </hr>
                            <div class="hourss">
                                <div class="video">
                                    <div class="row">

                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-cc" style="background-color: #298cd3;"></i> <span>Life
                                                    Long
                                                    Access</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-level-up" style="background-color: #cf933e;"></i>
                                                <span>Intermediate Level</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-sort-alpha-asc" style="background-color: #298cd3;"></i>
                                                <span>Language: English</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-google" style="background-color: #cf933e;"></i>
                                                <span>Google Meet</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-clock-o" style="background-color: #0c4b2d;"></i> <span>6
                                                    Hours</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bradcam_area_end -->

        <div class="courses_details_info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="single_courses">
                            <h3>Overview</h3>

                            <p>Linked In is a very important professional social networking site and also can be used as
                                a very prominent employment tool.<br><br>
                                The coach will be taking you through the scratch enabling you to create an attractive
                                profile and tips and tricks using linkedin to generate recruitment leads.</p>
                        </div>
                        <div class="outline_courses_info">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                                <div class="col-xl-7 col-lg-7 col-md-7">
                                    <div class="benefits">
                                        <h3 class="second_title">Perks & Benefits</h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Certificate of Completion
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Internship Opportunity
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>3 Day Chat Support Post
                                                Session
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Live Session
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Downloadable Resources
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Task Based Assignment
                                            </li>
                                            <li>
                                                <i class="fa fa-check" aria-hidden="true"></i>Get Skill Card Points
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2"></div>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-5">
                        <div class="courses_sidebar">
                            <div class="video_thumb">
                                <img src="/public/Main_Page/img/speaker/img-22.jpg" alt="">
                            </div>
                            <div class="author_info">
                                <div class="auhor_header">
                                    <div class="name">
                                        <h3>Ms. NARINDER KAUR</h3>
                                        <p>AVIATION SPECIALIST, HOSPITALITY SPECIALIST, SOFT SKILL & SEP TRAINER</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5">
                                    <a href="https://rzp.io/l/2onMn5QlLt" target="_blank">
                                        <h4 class="course_cash">ENROLL NOW
                                        </h4>
                                    </a>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7">
                                    <a href="https://chat.whatsapp.com/GB212l64AI7FuMqMcc3zkd">
                                        <h4 class="course_cash">JOIN OUR COMMUNITY
                                        </h4>
                                    </a>
                                </div>
                            </div>


                            <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                            <!--Paypal Integration-->

                            <!--Paypal Integration-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial_info">
            <div class="container">
                <h3>Testimonials</h3>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_green">
                            <p>I learned a lot of new things and terminologies. It has changed my
                                perspective. I found answers to my problems and troubles on marketing.<br>
                                <small>~Nikhil paul leeson</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_blue">
                            <p>My expectations were, like it would be difficult or maybe a college
                                type classes, but I was so much happy after knowing more about the segmentation,
                                targeting etc and got
                                so much to learn.<br>
                                <small>~Manali Santhosh Kumar</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_orange">
                            <p>I was looking forward to this and i expected a really good lecture from
                                ajeesh sir and it turned out to be really well.<br>
                                <small>~Shahrasad Wahab</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Section -->
        <%- include("../../partials/mainFooter") %>
            <!-- Footer Section End -->




            <!-- JavaScript Section -->
            <%- include("../../partials/mainScripts") %>
</body>

</html>