<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Workshop Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/Main_Page/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179940933-1');
    </script>
</head>

<body>
    <!-- header-start -->
    <%- include("../../partials/mainNavbar") %>
        <!-- header-end -->

        <!-- bradcam_area_start -->
        <div class="courses_details_banner breadcam_bg overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="course_text">
                            <h3>Social Entrepreneurship</h3>
                            <div class="prise">
                                <hr class="blue-line">
                                </hr>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <a href="https://rzp.io/l/sentrprnshp" target="_blank">
                                            <h4 class="course_cash">ENROLL NOW
                                                <!-- <span class="active"><i class="fa fa-inr" aria-hidden="true"
                                                style="margin-right: 5px"></i>499</span> -->
                                                <!-- <i class="fa fa-inr" aria-hidden="true" style="margin-right: 5px"></i>999 -->
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <a href="https://chat.whatsapp.com/GB212l64AI7FuMqMcc3zkd">
                                            <h4 class="course_cash">JOIN OUR COMMUNITY
                                            </h4>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <hr class="blue-line">
                            </hr>
                            <div class="hourss">
                                <div class="video">
                                    <div class="row">

                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-cc" style="background-color: #298cd3;"></i> <span>Life
                                                    Long
                                                    Access</span>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-sort-alpha-asc" style="background-color: #298cd3;"></i>
                                                <span>Language: English</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-google" style="background-color: #cf933e;"></i>
                                                <span>Google Meet</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4">
                                            <div class="single_video">
                                                <i class="fa fa-clock-o" style="background-color: #0c4b2d;"></i> <span>2
                                                    Hours</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bradcam_area_end -->

        <div class="courses_details_info">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7">
                        <div class="single_courses">
                            <h3>Overview</h3>

                            <p>Social entrepreneurship is an approach by individuals, groups, start-up companies or
                                entrepreneurs, in which they develop, fund and implement solutions to social, cultural,
                                or environmental issues. This concept may be applied to a wide range of organizations,
                                which vary in size, aims, and beliefs.<br><br>

                                Social entrepreneurship is the most emerging genre in the start-up era. The coach
                                would be focusing and empasing on the road maps to be a good entrepreneur with reference
                                to his own personal journey. And give you an insight on the demanding areas of Social
                                entrepreneurship and its growth potential.</p>
                        </div>
                        <div class="outline_courses_info">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                                <div class="col-xl-7 col-lg-7 col-md-7">
                                    <div class="benefits">
                                        <h3 class="second_title">Perks & Benefits</h3>
                                        <ul>
                                            <li>
                                                <i class="fa fa-certificate" aria-hidden="true"></i>Certificate of
                                                Completion
                                            </li>
                                            <li>
                                                <i class="fa fa-suitcase" aria-hidden="true"></i>Internship Opportunity
                                            </li>
                                            <li>
                                                <i class="fa fa-whatsapp" aria-hidden="true"></i>3 Day Chat Support Post
                                                Session
                                            </li>
                                            <li>
                                                <i class="fa fa-video-camera" aria-hidden="true"></i>Live Session
                                            </li>
                                            <li>
                                                <i class="fa fa-download" aria-hidden="true"></i>Downloadable Resources
                                            </li>
                                            <li>
                                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>Task Based Assignment
                                            </li>
                                            <li>
                                                <i class="fa fa-plus-square" aria-hidden="true"></i>Get Skill Card
                                                Points
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2"></div>

                            </div>
                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-5">
                        <div class="courses_sidebar">
                            <div class="video_thumb">
                                <img src="/public/Main_Page/img/speaker/Lalit-Gautam.png" alt="">
                            </div>
                            <div class="author_info">
                                <div class="auhor_header">
                                    <div class="name">
                                        <h3>LALIT GAUTAM</h3>
                                        <p>CEO AT SENSEGRASS, FORBES 30 UNDER 30 </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <img src="/public/Main_Page/img/workshop/sengrass.jpeg" alt="">
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <img src="/public/Main_Page/img/workshop/forbes.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5">
                                    <a href="https://rzp.io/l/sentrprnshp" target="_blank">
                                        <h4 class="course_cash">ENROLL NOW
                                        </h4>
                                    </a>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7">
                                    <a href="https://chat.whatsapp.com/GB212l64AI7FuMqMcc3zkd">
                                        <h4 class="course_cash">JOIN OUR COMMUNITY
                                        </h4>
                                    </a>
                                </div>
                            </div>


                            <!--
                        <p>&nbsp</p>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <h4>For International Students, <br>
                                Please Register Using PayPal</h4>
                        </div>
                        <p>&nbsp</p>
                    -->
                            <!--Paypal Integration-->

                            <!--Paypal Integration-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial_info">
            <div class="container">
                <h3>Testimonials</h3>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_green">
                            <p>Great session
                                and it was very
                                informative.<br>
                                <small>~Logeshwari GKS</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_blue">
                            <p>It was an
                                excellent and
                                informative
                                session looking
                                forward for the
                                next session.<br>
                                <small>~Helen Mary Bob</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="testimonial_box course_box_orange">
                            <p>It was a really
                                good session. Enjoyed a lot. Looking forward for the next session.<br>
                                <small>~Kripa Dev</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Section -->
        <%- include("../../partials/mainFooter") %>
            <!-- Footer Section End -->




            <!-- JavaScript Section -->
            <%- include("../../partials/mainScripts") %>
</body>

</html>