        <%- include("./partials/incurHead") %>


  <body>
        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->
        <div class="bradcam_area breadcam_bg overlay">
          <h3>Contact Us</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1435 315"
            style="display: block;"
          >
            <path
              fill="#ffffff"
              fill-opacity="1"
              d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
            235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
            ></path>
          </svg>
        </div>
    
        <!--==========================
            Bradcam Area End
        ============================-->    <!--==========================
        Contact Area Start
    ============================-->

    <section class="contact-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xl-6 col-lg-6" data-aos="zoom-in">
              <center>
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
  
                <h1 class="block__title">ADDRESS</h1>
              </center>
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <address>
                    <h3 class="block__pre-title">Headquarters</h3>
                    <p class="block__paragraph">ConeX365<br>EduCorp Consulting<br>
                    sample<br>
                    Sample P.O,<br>
                    Thrissur,<br>Kerala
                    123456</p>
                  </address>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <address>
                    <h3 class="block__pre-title">Annex</h3>
                    <p class="block__paragraph">ConeX365 <br>EduCorp Consulting<br>
                    Innerspace Coworking,<br>
                    SRM Road, Kaloor, Kochi<br>682018</p>
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
              <center>
                <i
                  class="fa fa-volume-control-phone fa-5x"
                  aria-hidden="true"
                ></i>
                <h1  class="block__title">PHONE</h1>
                <p class="block__paragraph" style="text-align: center;">+91 0000000000</p>
                <p class="block__paragraph"  style="text-align: center;">+91 0000000000</p>
              </center>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
              <center>
                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                <h1  class="block__title">EMAIL</h1>
                <p class="block__paragraph"  style="text-align: center;">support@conex365.com</p>
              </center>
            </div>
          </div>
        </div>
      </section>
  
      <!--==========================
          Contact Area End
      ============================-->
          <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->
        <!-- JS here -->
    <%- include("./partials/incurScript") %>

      </body>
    </html>
    