<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
    rel="shortcut icon"
    type="image/x-icon"
    href="/public/Main_Page/img/logo2.jpg"
  />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>IncurAT</title>
<style>
    .label_class {
        margin: 22px 0px 0px;
    }
    h4 {
        text-align: center;
        color: #24335b;
    }
    .btn-info {
        background-color: #24335b;
        border-color: #24335b;
        font-size: 20px;
        font-weight: bold;
    }
</style>

  </head>
  <body>
      <!--Personal Details Section-->
   <section>
       <div class="container my-4 shadow" style="border-radius: 10px;">
           <div class="row">
            <div class="col-md-12 mt-4 ">
                <h4>IncurAT Application Form</h4>
            </div>
               <div class="col-md-12 ">
                <!--welcome alert-->
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    For any queries please contact <strong>+91 9995111184</strong>
                  </div>
                  <!--Detail Alert-->
                  <div class="alert alert-danger" role="alert">
                    <h6>Persoanl Details</h6>
                    <small id="" class="form-text text-muted">We'll never share your persoanl details with anyone else.</small>
                  </div>
                  <!--forms name-->
                  <form>
                    <div class="form-group">
                      <label class="label_class" for="">Full Name</label>
                      <input type="text" class="form-control" id="" aria-describedby=""  placeholder="Full Name">
                      <small id="emailHelp" class="form-text text-muted">IN BLOCK LETTERS</small>
                    </div>
                  </form>
                  <!--form address-->
                  <form>
                    <div class="form-row my-2">
                      <div class="col-6">
                        <label class="label_class" for="">Address line 1</label>
                        <input type="text" class="form-control" placeholder="Address line 1">
                      </div>
                      <div class="col-6">
                        <label class="label_class" for="">Address line 2</label>
                        <input type="text" class="form-control" placeholder="Address line 2">
                      </div>
                    </div>
                  </form>

                  <!--city/state-->
                  <form>
                    <div class="form-row my-2">
                      <div class="col-7">
                        <label class="label_class" for="">City</label>
                        <input type="text" class="form-control" placeholder="City">
                      </div>
                      <div class="col">
                        <label class="label_class" for="">State</label>
                        <input type="text" class="form-control" placeholder="State">
                      </div>
                      <div class="col">
                        <label class="label_class" for="">Zip</label>
                        <input type="text" class="form-control" placeholder="Zip">
                      </div>
                    </div>
                    <label class="label_class" for="">Mobile number</label>
                      <input type="text" class="form-control" id="" aria-describedby=""  placeholder="Mobile Number">
                      <small id="emailHelp" class="form-text text-muted">With country code</small>


                    <!--email-->
                    
                      <div class="form-group">
                        <label class="label_class" for="">Email address</label>
                        <input type="email" class="form-control" id="" aria-describedby=""  placeholder="E-mail">
                        <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <!--dob and gender-->
                      <div class="container" style="margin-bottom: 30px;">
                          <div class="row">

                          
                      <div class="col-md-6 my-2">
                      <label class="label_class" for="">Gender</label>
                      <div class="d-flex">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="male" id="male" value="">
                        <label class="form-check-label" for="male">
                          Male
                        </label>
                      </div>
                      <div class="form-check  mx-2">
                        <input class="form-check-input" type="radio" name="female" id="female" value="">
                        <label class="form-check-label" for="female">
                          Female
                        </label>
                      </div>
                      <div class="form-check  mx-2">
                        <input class="form-check-input" type="radio" name="others" id="others" value="">
                        <label class="form-check-label" for="others">
                          Others
                        </label>
                      </div>
  
                      </div>
                      
                        </div>
                        <div class="col-md-6 my-2">
                            <label class="label_class" for="">DOB:</label>
                            <input type="date" id="dob" name="dob">
                        </div>
                    </div>
                    
                    
                    </div>

               </div>
           </div>
       </div>
   </section>
   <!--Academic-->
   <section>
    <div class="container my-4 shadow" style="border-radius: 10px;">
        <div class="row">
            <div class="col-md-12 ">
                <!--Detail Alert-->
                <div class="alert alert-danger mt-5" role="alert">
                    <h6>Academic Details</h6>
                    <small id="" class="form-text text-muted">Enter Last completed course details</small>
                  </div>
                  <form>
                    <div class="form-group">
                      <label class="label_class" for="">Board/University</label>
                      <input type="text" class="form-control" id="" aria-describedby=""  placeholder="Board/University">
                      
                    </div>
                    <div class="form-group">
                        <label class="label_class" for="">School/College</label>
                        <input type="text" class="form-control" id="" aria-describedby=""  placeholder="School/College">
                       
                      </div>
                      <div class="form-group">
                        <label class="label_class" for="">Stream</label>
                        <input type="text" class="form-control" id="" aria-describedby=""  placeholder="Stream">
                      </div>
                  </form>
                  <form>
                    <div class="form-row my-2">
                      <div class="col-7">
                        <label class="label_class" for="">Register Number</label>
                        <input type="text" class="form-control" placeholder="PRN">
                      </div>
                      <div class="col">
                        <label class="label_class" for="">Persentage of Marks</label>
                        <input type="text" class="form-control" placeholder="Marks secured in  %">
                      </div>
                      <div class="col">
                        <label class="label_class" for="">Year of completion</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Year</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                          </select>
                      </div>
                    </div>
                </form>
                <div class="form-group">
                    <label class="label_class" for="">Remarks</label>
                    <input type="text" class="form-control" id="" aria-describedby=""  placeholder="Remarks if any">
                  </div>
                  <div class="alert alert-danger mb-5 d-flex justify-content-between " role="alert">
                   Before submission please validate details
                   <button type="button" class="btn btn-info">Done</button>
                  </div>
            </div>
        </div> 

   </section>

  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>