<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Incur || Conex 365</title>
    <meta
      name="description"
      content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/incur.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-179940933-1");
    </script>
  </head>

  <body>
        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->
        <div class="bradcam_area breadcam_bg overlay">
          <h3>Contact Us</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1435 315"
            style="display: block;"
          >
            <path
              fill="#ffffff"
              fill-opacity="1"
              d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
            235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
            ></path>
          </svg>
        </div>
    
        <!--==========================
            Bradcam Area End
        ============================-->    <!--==========================
        Contact Area Start
    ============================-->

    <section class="contact-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-xl-6 col-lg-6" data-aos="zoom-in">
              <center>
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
  
                <h1 class="block__title">ADDRESS</h1>
              </center>
              <div class="row">
                <div class="col-xl-6 col-lg-6">
                  <address>
                    <h3 class="block__pre-title">Headquarters</h3>
                    <p class="block__paragraph">ConeX365<br>EduCorp Consulting<br>
                    NRA-37<br>
                    Ramavarmapuram P.O,<br>
                    Thrissur,<br>Kerala
                    680631</p>
                  </address>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <address>
                    <h3 class="block__pre-title">Annex</h3>
                    <p class="block__paragraph">ConeX365 <br>EduCorp Consulting<br>
                    Innerspace Coworking,<br>
                    SRM Road, Kaloor, Kochi<br>682018</p>
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
              <center>
                <i
                  class="fa fa-volume-control-phone fa-5x"
                  aria-hidden="true"
                ></i>
                <h1  class="block__title">PHONE</h1>
                <p class="block__paragraph" style="text-align: center;">+91 9995111132</p>
                <p class="block__paragraph"  style="text-align: center;">+91 9995111184</p>
              </center>
            </div>
            <div class="col-md-3 col-xl-3 col-lg-3" data-aos="zoom-in">
              <center>
                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                <h1  class="block__title">EMAIL</h1>
                <p class="block__paragraph"  style="text-align: center;">support@conex365.com</p>
              </center>
            </div>
          </div>
        </div>
      </section>
  
      <!--==========================
          Contact Area End
      ============================-->
          <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->
        <!-- JS here -->
        <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/public/Main_Page/js/vendor/jquery.min.js"></script>
        <script src="/public/Main_Page/js/bootstrap.min.js"></script>
        <script src="/public/Main_Page/js/plugins.js"></script>
        <script src="/public/Main_Page/js/main.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="/public/Main_Page/js/mobile-nav.js"></script>
        <script>
          AOS.init();
        </script>
        <script type="text/javascript">
          $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
              0: {
                items: 1,
              },
              600: {
                items: 2,
              },
              1000: {
                items: 3,
              },
            },
          });
        </script>
      </body>
    </html>
    