<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Incur || Conex 365</title>
    <meta
      name="description"
      content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/incur.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- <script>
      $(document).ready(function () {
        $("#myModal").modal("show");
      });
    </script> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-179940933-1");
    </script>
  </head>

  <body>
    <!--==========================
      Pop Up Start
    ============================-->

    <!-- <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
              style="color: red"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <picture>
              <center>
                <img
                  src="/public/Main_Page/img/popup.jpeg"
                  alt="popup_image"
                  style="max-width: 100%"
                />
              </center>
            </picture> -->
          
            <!--<p class="blink">20% cashback to previous Digital Marketing Workshop Attendees</p>-->
<!--
            <script type="text/javascript">
              const finaldate = new Date("October 09, 2020 23:59:59").getTime();
              console.log(finaldate);

              // countdown
              let timer = setInterval(function () {
                // get today's date
                const today = new Date().getTime();

                // get the difference
                const diff = finaldate - today;

                // math
                let days = Math.floor(diff / (1000 * 60 * 60 * 24));
                let hours = Math.floor(
                  (diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                );
                let minutes = Math.floor(
                  (diff % (1000 * 60 * 60)) / (1000 * 60)
                );
                let seconds = Math.floor((diff % (1000 * 60)) / 1000);

                // display
                document.getElementById("timer").innerHTML =
                  '<div class="days"> \
                      <div class="numbers">' +
                  days +
                  '</div>days</div> \
                    <div class="hours"> \
                      <div class="numbers">' +
                  hours +
                  '</div>hours</div> \
                    <div class="minutes"> \
                      <div class="numbers">' +
                  minutes +
                  '</div>minutes</div> \
                    <div class="seconds"> \
                      <div class="numbers">' +
                  seconds +
                  "</div>seconds</div> \
                    </div>";
              }, 1000);
            </script>

            <div class="timer_container">
              <h1>Registration Ends in</h1>
              <div id="timer"></div>
            </div>-->



          <!-- </div>
        
          <div class="modal-footer">
            <a href="https://surveyheart.com/form/5fbb97085ff09d0211866550" target="_blank" class="boxed-btn2">Register Now!</a> -->

            
            
            <!-- <a href="/content/incur/services/incur/marketing" class="btn_prime">Click Here!</a>
            <h5 class="popup_footer">
                to know more
            </h5> -->
            


          <!-- </div>
        </div>
      </div>
    </div>
   -->
    <!--==========================
      Pop Up End
    ============================-->

        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->
        <div class="bradcam_area breadcam_bg overlay">
          <h3>WORLD'S FIRST VIRTUAL SKILL PARK</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1435 315"
            style="display: block;"
          >
            <path
              fill="#ffffff"
              fill-opacity="1"
              d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
            235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
            ></path>
          </svg>
        </div>
    
        <!--==========================
            Bradcam Area End
        ============================-->
        <div class="container">
        <div class="alert alert-warning" role="alert">
         <marquee behavior="alternate" direction="right"><a href="/public/Main_Page/pdf/InCur Admission Results Phase 3.pdf" style="font-weight: bold;">InCur Phase 3 Results Published. Click here</a><blink><i class="fa fa-bell" aria-hidden="true" style="color: red;margin-left: 5px;"></i></blink></marquee>
        </div>
        </div>
    <!--==========================
        About incur Start
    ============================-->
    <section class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6">
            <p class="block__paragraph">
              Incur is the World’s first Industry Readiness Skill Certificate
              Program aiming to bridge the skill gap between Academia and
              Industry for UG students in their final year with the intention to
              provide them an exposure from experts hailing from Industry Giants
              and to give them the skill-up they need in order to thrive in the
              Industry.<br>
              We've often been staring at the skill-gap between Industry and Academia from a distance. 
<br>
But we've looked a lot closer at the issue and we believe that in an era of customization, education should 
be customized for students, not by academicians, but by industry experts, to give them the skills they actually require. 
            </p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <img
              src="/public/Main_Page/img/incur/about_incur.jpg"
              alt=""
              class="about_incur"
              data-aos="flip-right"
            />
          </div>
        </div>
      </div>
    </section>
    <!--==========================
        Why us incur Start
    ============================-->
      <div class="block-5 space-between-blocks">
        <div class="container">
          <!-- HEADER -->
          <div class="col-lg-8 col-xl-7 mx-auto text-center mb-5">
            <h3 class="block__title mb-2">WHY INCUR ?</h3>
            <p>
              InCur is a one-of-a-kind programme which is a groundbreaking concept 
              intended to sky-rocket the students emerging out of Academia into the 
              stratosphere of the Industry.
            </p>
            <h1 class="block__title" style="margin-top: 20px;">
              Why you need it is <span class="highlight">inherent in the concept.</span>
            </h1>
          </div>
          <div
            class="row align-items-center flex-column-reverse flex-lg-row px-2"
          >
            <!-- LEFT CONTENT -->
            <div class="col-lg-4">
              <div class="card-2 d-flex flex-row flex-lg-row-reverse" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-handshake-o"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  <h3 class="card-2__title mb-2">Learn the Skills that Matter</h3>
                  <p class="card-2__paragraph">
                    You need it to learn the "Skills that Matter" - not the paragraphs 
                    that you've been mugging up, or the papers you have been reading. 
                  </p>
                </div>
              </div>
              <div class="card-2 d-flex flex-row flex-lg-row-reverse" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-graduation-cap"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  
                  <h3 class="card-2__title mb-2">Receive a Letter Of Recommendation</h3>
                  <p class="card-2__paragraph">
                    Receive a letter of recommendation from our industry experts upon showing 
                    a consistent quality performance. 
                  </p>
                </div>
              </div>
              <div class="card-2 d-flex flex-row flex-lg-row-reverse" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-bell"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  <h3 class="card-2__title mb-2">Customized Education</h3>
                  <p class="card-2__paragraph">
                    Customized education experience for the first 
                    time ever from companies like Parle, ESAF, L&T, Cadbury and more
                  </p>
                </div>
              </div>
            </div>
            <!-- IMAGE -->
            <div class="col-lg-4 my-5 text-center">
              <img src="/public/Main_Page/img/incur/why.png" class="w-75" />
            </div>
            <!-- RIGHT CONTENT -->
            <div class="col-lg-4">
              <div class="card-2 d-flex" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-smile-o"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  <h3 class="card-2__title mb-2">Personality and Soft Skills</h3>
                  <p class="card-2__paragraph">
                    Your personality and soft skills are also thoroughly sharpened 
                    by our soft-skill Industry trainer in addition to the course 
                    training you're receiving from a Panel of the best 5 Elite Industry tycoons.
                  </p>
                </div>
              </div>
              <div class="card-2 d-flex" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-industry"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  <h3 class="card-2__title mb-2">Industry Ready</h3>
                  <p class="card-2__paragraph">
                    The idea is to give you practical skills plus a practical environment to practise it in, so that you are "INDUSTRY-READY".
                  </p>
                </div>
              </div>
              <div class="card-2 d-flex" data-aos="fade-up">
                <div>
                  <span class="card-2__symbol mx-auto">
                    <i class="fa fa-eye"></i>
                  </span>
                </div>
                <div class="px-2"></div>
                <div>
                  <h3 class="card-2__title mb-2">Continuous Evaluation</h3>
                  <p class="card-2__paragraph">
                    Continuous evaluation process is to be carried out to ensure candidate isn't left too far behind.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--==========================
        Why us End
    ============================-->

    <!-- incur_structure_start -->
    <section class="section-padding">
    <div class="incur_structure">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="text-center">
              <h3 class="block__title mb-3">Incur Structure</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="structure_nav">
              <nav>
                <ul class="nav" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="syllubus-tab"
                      data-toggle="tab"
                      href="#syllubus"
                      role="tab"
                      aria-controls="syllubus"
                      aria-selected="true"
                      >Syllabus</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="live_task-tab"
                      data-toggle="tab"
                      href="#live_task"
                      role="tab"
                      aria-controls="live_task"
                      aria-selected="false"
                      >Live Task-Based Training</a
                    >
                  </li>

                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="assesment-tab"
                      data-toggle="tab"
                      href="#assesment"
                      role="tab"
                      aria-controls="assesment"
                      aria-selected="false"
                      >Continuous Assessment</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="30_day-tab"
                      data-toggle="tab"
                      href="#30_day"
                      role="tab"
                      aria-controls="30_day"
                      aria-selected="false"
                      >30-Day Live Project</a
                    >
                  </li>
                  
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="interview-tab"
                      data-toggle="tab"
                      href="#interview"
                      role="tab"
                      aria-controls="interview"
                      aria-selected="false"
                      >Mock Interview</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="job-tab1"
                      data-toggle="tab"
                      href="#job"
                      role="tab"
                      aria-controls="job"
                      aria-selected="false"
                      >Job Offers</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="all_courses">
        <div class="container">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="syllubus"
              role="tabpanel"
              aria-labelledby="syllubus-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    Incur is designed in a way to make students learn directly
                    from the industry experts. Hence, the syllabus is structured
                    by a panel of eminent industry experts. The trainers’ panel
                    consists of five well-experienced industry experts plus a
                    soft skill trainer to provide a holistic development of an
                    industry-demanding skillset.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/syllabus.svg"
                    alt=""
                    class="structure_img"
                  />
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="live_task"
              role="tabpanel"
              aria-labelledby="live_task-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    The industry experts focus on delivering and training the
                    students based on the demands of industry and the soft skill
                    trainer works on improving the necessary soft skills that
                    are needed for any industry. Incur is a 30-hour live task
                    based, continuously assessed programme where the students
                    are assessed directly by industry experts throughout the
                    programme to scope out a perfect repertoire of skills, with
                    continuous mentoring.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/live_task.svg"
                    alt=""
                    class="structure_img"
                  />
                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="interview"
              role="tabpanel"
              aria-labelledby="interview-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    A mock interview is conducted for students to test their
                    skills and knowledge. The industry experts and soft skills
                    trainer assesses their performance, and suggests ways to
                    improve and get more out of the training.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/interview.svg"
                    alt=""
                    class="structure_img"
                  />
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="30_day"
              role="tabpanel"
              aria-labelledby="30_day-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    Best and outperforming students in assessments and mock
                    interview are offered a 30 day Live Project by best FMCG,
                    FMCD, and other companies in India that matches their skills
                    and interests. The stipend is paid or unpaid which is under
                    the discretion of the company. Through this 30 day Live
                    Project, students get an opportunity to apply their
                    knowledge and skills directly in a real world set- up, work
                    along with industry people, learn through experience and
                    face practical work situations that inculcates dominant
                    skills and subject knowledge. This is a huge bonus for their
                    resume, that they can show-off in any interview and ace it
                    with their new and enforced skills.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/30_day.svg"
                    alt=""
                    class="structure_img"
                    style="max-width: 90%;"
                  />
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="assesment"
              role="tabpanel"
              aria-labelledby="assesment-tab"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    An assessment is conducted daily at the end of training
                    programme to test the skills of students. Post the
                    assessment, further training and suggestions are given to
                    students based on their performance by the industry experts.
                    We aim to take it one day at a time.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/assessment.svg"
                    alt=""
                    class="structure_img"
                  />
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="job"
              role="tabpanel"
              aria-labelledby="job-tab1"
            >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <p class="block__paragraph">
                    Best and outstanding performance of students in 30 day live
                    project earns them a chance to be directly absorbed by the
                    company for a full- time job. Best performing students are
                    offered job opportunities by the company itself.
                  </p>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <img
                    src="/public/Main_Page/img/incur/job.svg"
                    alt=""
                    class="structure_img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="whatsapp">
      <ul data-toggle="tooltip" data-placement="top" title="Chat With Us">
        <li><a href="https://wa.me/919995111184" target="_blank"><i class="fa fa-commenting-o"></i>Chat With Us</a></li>
      </ul>
    </div>
    <!-- incur_structure_end-->
    <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->

    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="/public/Main_Page/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/public/Main_Page/js/mobile-nav.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>
