<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Incur || Conex 365</title>
    <meta
      name="description"
      content="India's leading training service provider. Attend the workshops by national and international experts with very cheap cost."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/Main_Page/img/logo2.jpg"
    />
    <!-- Place favicon.ico in the root directory -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- CSS here -->
    <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/public/Main_Page/css/incur.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-179940933-1");
    </script>
  </head>

  <body>

        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->
        <section class="section-padding">
        <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <h1 class="block__title" style="text-align: left;">
                  INDUSTRY CURATED SKILL PROGRAM (ICSP) IN MARKETING AND BUSINESS DEVELOPMENT
                </h1>
                <p class="block__paragraph">
                  The course is intended to impart the skills required for Business Development associates and Associates of
                  Customer Acquisition.
                  Rigorous training in areas such as Decision Science and B2B/B2C skills, Negotiation skills, Distribution
                  Channel Management etc. shall be imparted onto our students by a panel of Industry experts who's sole focus
                  is to inculcate the skills required in the Industry Setting.
                </p>
                <a href="/content/incur/services/incur/apply" class="btn_prime">APPLY NOW</a>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="/public/Main_Page/img/incur/Marketing/market.jpg" alt="" class="about_incur"
                   />
              </div>
            </div>
          </div>
          <div class="details">
            <div class="container">
              <div class="row">
                <!--Duration-->
                
                  <div class="details_main_box container fluid">
                    <div class="row">
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Duration</h3>
                            <h6>Five weeks<br>Thirty hours</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Mode</h3>
                            <h6>Online<br>Live Task Based Learning</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Timing</h3>
                            <h6>30 Hours, 6 Hours Each Weekend</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Trainers</h3>
                            <h6>5 Industry Experts + 1 Soft-Skill Trainer</h6>
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
        </section>
      


<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img class="detail_img"
                src="/public/Main_Page/img/incur/Marketing/student_benefits.svg" alt=""/>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h7 class="block__title" style="margin-bottom: 30px;">Student Benefits</h7>
                <div class="text-left block__paragraph">
                  <P>Unbiased knowledge from Industry experts.</P>
                  <P>Acquiring prioritized skill-based education.</P>
                  <P>A clear perspective of the industry by proper
                    training from well experienced industry
                    experts.
                  </P>
                  <p>Self-analysis of skills and imbibed experience
                    for constant self-updation and evolution for
                    the industry.</p>
                  <p>Low-cost Fast-track training to be industryready.
                  </p>
                  <p>Opportunity to work on 30-day Live Industry.</p>
                  <p>Job opportunities from Elite Companies.</p>
                  <p>80% higher chance of employment.</p>
                  <p>Specialized Certificate to stand out from 98% of the crowd and create worth.</p>
                  <P>Learning based solely on industry demands.</P>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h7 class="block__title" style="margin-bottom: 30px;" >What do we have for Organisations</h7>
                <div class="text-left block__paragraph">
                    <p>Fast-track recruitment of candidates possessing high-demand industry skills prepared for the Industry,
                      by the Industry</p>
                    <p>Low/Zero-Cost training needed for screened candidates</p>
                    <p>Zero recruitment effort</p>
                    <p>Candidates suited and cut out to the requirements of the organisation</p>
                    <p>Wide candidate pool to choose from</p>
                    <P>Candidates with a good personality score guaranteed (INCUR carries out a psychometric test before
                      initial admission to the course) to serve the organisation upon recruitment.
                    </P>
                  </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img  class="detail_img" src="/public/Main_Page/img/incur/Marketing/rgo.svg"
                alt="">
            </div>
        </div>
        <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img  class="detail_img"
                src="/public/Main_Page/img/incur/Marketing/take_away.svg" alt="">
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-6">
                <h8 class="block__title" style="margin-bottom: 30px;">Key Takeaways from INCUR</h8>
                <div class="text-left block__paragraph">
                  <p>Industry on-demand skill possession</p>
                  <p>30-day Live Project opportunity for outperforming students in mock interview</p>
                  <p>Certificate of completion of internship
                  </p>
                  <p>Letter of recommendation (LoR) from industry coach, based on performance
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>


        <section id="ab-serv2" class="section-padding">
            <div class="container">
              <div class="row ">
                <div class="col-12 text-center">
                  <h2 class="block__title" >Speakers</h2>
                  <p class="block__pre-title" >Our Trainers are from top industries</p>
                </div>
                <!--speker 1-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/dennis.jpeg" alt="img">
                      <h5 class="text-center mt-4">Mr. Dennis Thomas</h5>
                      <p class="card-text pb-1">Assistant Vice President Learning & Development, ESAF Bank</p>
                      <ul class="list-inline text-center">
      
                        <a href="https://www.linkedin.com/in/dennis-thomas-491a0b144/" target="_blank"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 2-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/chetan_dubey.jpeg" alt="img">
                      <h5 class="text-center mt-4">Mr. Chetan Dubey</h5>
                      <p class="card-text pb-1">Brand manager at India's leading FMCG</p>
                      <ul class="list-inline text-center">
      
                        <a href="https://www.linkedin.com/in/chetan-dubey-3393a954/" target="_blank"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 3-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/ajeesh_g.jpg" alt="img">
                      <h5 class="text-center mt-4">Dr. Ajeesh G Mannadiar</h5>
                      <p class="card-text pb-1">Project Manager - Composites at Larsen & Toubro , Coimbatore
                      </p>
                      <ul class="list-inline text-center">
      
                        <a href="https://www.linkedin.com/in/dr-ajeesh-g-mannadiar-91420267/" target="_blank"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 4-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/vaibhav.jpeg" alt="img">
                      <h5 class="text-center mt-4">Mr. Vaibhav Manke</h5>
                      <p class="card-text pb-1">National Key Accounts Head at Panasonic</p>
                      <ul class="list-inline text-center">
      
                        <a href="https://www.linkedin.com/in/vaibhav-manke-81b4416/" target="_blank"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 5-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/dummy-male.jpg" alt="img">
                      <h5 class="text-center mt-4">Mr. Vishnu Vasudhevan</h5>
                      <p class="card-text pb-1">Senior Sales Officer, Mondelez International</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 6-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/Main_Page/img/incur/Marketing/anumol.jpeg" alt="img">
                      <h5 class="text-center mt-4">Ms. Anmol Seghal</h5>
                      <p class="card-text pb-1">Training Professional, Soft Skills Trainer</p>
                      <ul class="list-inline text-center">
      
                        <a href="https://www.linkedin.com/in/anmol-sehgal-3a9b4bb6/" target="_blank"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
                    </div>
                  </div>
                </div>
      
          </section>
      


        <section id="course_syllubus">
            <div class="container">
              <header class="section-header">
                <h3 class="block__title">Syllabus</h3>
                <h6 class="block__pre-title">Speakers with there syllubus</h6>
              </header>
        
              <ul id="course_syllubus_list">
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Dr. Ajeesh G Mannadiar
                    <i class="fa fa-minus"></i></a>
                  <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Business Development<br>
                      Project/Programme Management<br>
                      Market Research and Intelligience<br>
                      Decision Making and Decision Science</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq2">Mr. Chetan Dubey <i class="fa fa-minus"></i></a>
                  <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Marketing Management<br>
                      Digital Marketing<br>
                      Integrated Marketing Communication and STPD<br>
                      Market Research/Need-gap analysis</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq3">Mr. Vaibhav Manke
                    <i class="fa fa-minus"></i></a>
                  <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Sales Management<br>
                      Business Communication<br>
                      Customer Relationship Management<br>
                      Basic Computer Skills</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq4">Mr. Dennis Thomas <i class="fa fa-minus"></i></a>
                  <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Selling Skills-B2B/B2C<br>
                      Customer Experience Management<br>
                      Effective Corporate Communication<br>
                      Corporate Etiquette</p>
        
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq5">Mr. Vishnu Vasudhevan <i class="fa fa-minus"></i></a>
                  <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Selling and Negotiation Skills<br>
                      Distribution/Channel Management<br>
                      Sales Report<br>
                      Sales Strategy</p>
        
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq6">Ms. Anmol Seghal <i class="fa fa-minus"></i></a>
                  <div id="faq6" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Verbal and Non-verbal Communication</li>
                      Goal Setting<br>
                      Emotional Intelligence and Empathy<br>
                      Team Management and Motivation<br>
                      Business Etiquette<br>
                      Interview Skills<br>
                      Mock Interview<br></p>
        
                    </ul>
                  </div>
                </li>
        
        
        
              </ul>
        
            </div>
            <center style="margin-top: 40px;">
              <a href="/content/incur/services/incur/apply" class="btn_prime">APPLY NOW</a>
            </center>
          </section>
    <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->

    <!-- JS here -->
    <script src="/public/Main_Page/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/public/Main_Page/js/vendor/jquery.min.js"></script>
    <script src="/public/Main_Page/js/bootstrap.min.js"></script>
    <script src="/public/Main_Page/js/plugins.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/public/Main_Page/js/mobile-nav.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
    </script>
  </body>
</html>