        <%- include("./partials/incurHead") %>

  <body>

        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->
        <div class="bradcam_area breadcam_bg overlay">
        
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 315"
            style="display: block"
          >
            <path
              fill="#ffffff"
              fill-opacity="1"
              d="M0,192L80,170.7C160,149,320,107,480,122.7C640,139,800,213,960,224C1120,
            235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
            ></path>
          </svg>
        </div>
    
        <!--==========================
            Bradcam Area End
        ============================-->
        <section class="section-padding">
        <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                <h1 class="block__title" style="text-align: left;">
                  INDUSTRY CURATED SKILL PROGRAM (ICSP) IN MARKETING AND BUSINESS DEVELOPMENT
                </h1>
                <p class="block__paragraph">
                  The course is intended to impart the skills required for Business Development associates and Associates of
                  Customer Acquisition.
                  Rigorous training in areas such as Decision Science and B2B/B2C skills, Negotiation skills, Distribution
                  Channel Management etc. shall be imparted onto our students by a panel of Industry experts whose sole focus
                  is to inculcate the skills required in the Industry Setting.
                </p>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <a href="#" style="margin-top: 10px;" class="btn_prime">APPLY NOW</a> 
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <a href="https://drive.google.com/file/d/1XzSM8mWrYvEpGd73rpJG6xoPMPNG6EVn/view?usp=sharing" target="_blank" style="margin-top: 10px;" class="btn_prime">DOWNLOAD BROCHURE</a> 
                  </div>
                </div>
                
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="/public/img/incur/Marketing/market.jpg" style="margin-top: 10px;" alt="" class="about_incur"
                   />
              </div>
            </div>
          </div>
          <div class="details">
            <div class="container">
              <div class="row">
                <!--Duration-->
                
                  <div class="details_main_box container fluid">
                    <div class="row">
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Duration</h3>
                            <h6>Five weeks<br>Thirty hours</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Mode</h3>
                            <h6>Online<br>Live Task Based Learning</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Timing</h3>
                            <h6>30 Hours, 6 Hours Each Weekend</h6>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      
                        <div class="card m-3 details_card">
                          <div class="card-body text-center">
                            <h3 class="block__title">Trainers</h3>
                            <h6>5 Industry Experts + 1 Soft-Skill Trainer</h6>
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
               
              </div>
            </div>
          </div>
        </section>
      


<section class="section-padding">
  <div class="container">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-xl-12">
          <div class="text-center">
              <h3 class="details_heading">Stand Out with InCur's Certificate</h3>
          </div>
      </div>
  </div>
      <div class="row">
          
          <div class="col-xl-6 col-lg-6 col-md-6">
              
              <div class="text-left certi_margin block__paragraph">
                <P>Complete all the modules successfully to obtain this certificate of
                   recognition and add it to your wall of fame or share with your LinkedIn connections.</p>
                <p>InCur certificates serve as a testament to the knowledge & skills you have gained.</p>
                <P>Increase your credibility by adding it to your resume and sharing it with your LinkedIn network. (you need to complete all the modules successfully to obtain this certificate of recognition)</P>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6">
            <img class="detail_img"
            src="/public/img/incur/Marketing/incurCertificate.png" alt=""/>
        </div>
      </div>
      </div>
      <section style="background: url(/public/img/incur/Marketing/coursebg.jpg);">
    <div class="container">
      <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
        <div class="col-xl-12">
            <div class="text-center">
                <h3 class="details_heading">Student Benefits</h3>
            </div>
        </div>
    </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6">
                <img class="detail_img"
                src="/public/img/incur/Marketing/benefits.png" alt=""/>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2"></div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                
                <div class="text-left block__paragraph">
                  <P>Unbiased knowledge from Industry experts.</P>
                  <P>Acquiring prioritized skill-based education.</P>
                  <P>A clear perspective of the industry by proper
                    training from well experienced industry
                    experts.
                  </P>
                  
                  <p>Low-cost Fast-track training to be industry ready.
                  </p>
                  <p>Opportunity to work on 30-day Live Industry.</p>
                  <p>Job opportunities from Elite Companies.</p>
                  <p>80% higher chance of employment.</p>
                  <p>Specialized Certificate to stand out from 98% of the crowd and create worth.</p>
                  <P>Learning based solely on industry demands.</P>
                </div>
            </div>
        </div>
        </div>
        
        <div class="container">
          <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
            <div class="col-xl-12">
                <div class="text-center">
                    <h3 class="details_heading">What do we have for Organisations</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="text-left orgo_margin">
                    <p>Fast-track recruitment of candidates possessing high-demand industry skills prepared for the Industry,
                      by the Industry</p>
                    <p>Low/Zero-Cost training needed for screened candidates</p>
                    <p>Zero recruitment effort</p>
                    <p>Candidates suited and cut out to the requirements of the organisation</p>
                    <p>Wide candidate pool to choose from</p>
                   
                    </P>
                  </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2"></div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img  class="detail_img" src="/public/img/incur/Marketing/organization.png"
                alt="">
            </div>
        </div>
        </div>
        </section>
        <div class="container">
          <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
            <div class="col-xl-12">
                <div class="text-center">
                    <h3 class="details_heading">Key Takeaways from INCUR</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img  class="detail_img"
                src="/public/img/incur/Marketing/takeaways.png" alt="">
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-6">
              
                <div class="text-left take_margin block__paragraph">
                  <p>Industry on-demand skill possession</p>
                  <p>30-day Live Project opportunity for outperforming students in mock interview</p>
                  <p>Certificate of completion of internship
                  </p>
                  <p>Letter of recommendation (LoR) from industry coach, based on performance
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>


        <section id="ab-serv2" class="section-padding">
            <div class="container">
              <div class="row ">
                <div class="col-12 text-center">
                  <h2 class="block__title" >Coaches</h2>
                  <p class="block__pre-title" >Our Trainers are from top industries</p>
                </div>
                <!--speker 1-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Mr. Sample Sample</h5>
                      <p class="card-text pb-1">Assistant Vice President Learning & Development,<br> ESAF Bank</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 2-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Mr. Sample <br>Sample</h5>
                      <p class="card-text pb-1">Marketing and Brand Management Expert, Consultant and Lecturer</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 3-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Dr. Sample Sample</h5>
                      <p class="card-text pb-1">Project Manager - Composites at Larsen & Toubro ,<br> Coimbatore
                      </p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 4-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Mr. Sample Sample</h5>
                      <p class="card-text pb-1">National Key Accounts Head at Panasonic</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 5-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Mr. Sample Sample</h5>
                      <p class="card-text pb-1">Senior Sales Officer, Mondelez International</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
      
                    </div>
                  </div>
                </div>
      
                <!--speker 6-->
                <div class="col-lg-4 col-md-6">
                  <div class="card shadow" style="width: 18rem; border-radius: 15px;" >
                    <div class="card-body">
                      <img class="img-fluid spk-img rounded-circle" 
                        src="/public/img/sample.png" alt="img">
                      <h5 class="text-center speaker_name">Ms. Sample Sample</h5>
                      <p class="card-text pb-1">Training Professional, Soft Skills Trainer</p>
                      <ul class="list-inline text-center">
      
                        <a href="#"><i
                            class="fa fa-2x fa-linkedin"></i></a>
                      </ul>
                    </div>
                  </div>
                </div>
      
          </section>
      
<div class="container">
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-xl-12">
        <div class="text-center">
            <h3 class="details_heading">Payment Structure</h3>
        </div>
    </div>
</div>
  <!--Table-->
<table class="table table-striped w-auto">

  <!--Table head-->
  <thead>
    <tr>
      
      <th>Registration Fee</th>
      <th>Portal Processing</th>
      <th>Course Fee</th>

    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info">
      <td><i class="fa fa-inr" aria-hidden="true"></i>2300/-</td>
      <td><i class="fa fa-inr" aria-hidden="true"></i>2700/-</td>
      <td><i class="fa fa-inr" aria-hidden="true"></i>6999/-</td>

    </tr>
    
    
  </tbody>
  <!--Table body-->


</table>
<!--Table-->
</div>

        <section id="course_syllubus">
            <div class="container">
              <header class="section-header">
                <h3 class="block__title">Syllabus</h3>
                <h6 class="block__pre-title">Speakers with their syllabus</h6>
              </header>
        
              <ul id="course_syllubus_list">
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Dr. Sample Sample
                    <i class="fa fa-minus"></i></a>
                  <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Business Development<br>
                      Project/Programme Management<br>
                      Market Research and Intelligience<br>
                      Decision Making and Decision Science</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq2">Mr. Sample Sample <i class="fa fa-minus"></i></a>
                  <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Marketing Management<br>
                      Digital Marketing<br>
                      Integrated Marketing Communication and STPD<br>
                      Market Research/Need-gap analysis</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq3">Sample Sample
                    <i class="fa fa-minus"></i></a>
                  <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Sales Management<br>
                      Business Communication<br>
                      Customer Relationship Management<br>
                      Basic Computer Skills</p>
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq4">Sample Sample <i class="fa fa-minus"></i></a>
                  <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Selling Skills-B2B/B2C<br>
                      Customer Experience Management<br>
                      Effective Corporate Communication<br>
                      Corporate Etiquette</p>
        
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq5">Sample Sample <i class="fa fa-minus"></i></a>
                  <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Selling and Negotiation Skills<br>
                      Distribution/Channel Management<br>
                      Sales Report<br>
                      Sales Strategy</p>
        
                    </ul>
                  </div>
                </li>
        
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq6">Sample Sample <i class="fa fa-minus"></i></a>
                  <div id="faq6" class="collapse" data-parent="#course_syllubus_list">
                    <ul class="ul_collapse">
                      <p class="block__paragraph" style="margin-left: 15px;">Verbal and Non-verbal Communication</li>
                      Goal Setting<br>
                      Emotional Intelligence and Empathy<br>
                      Team Management and Motivation<br>
                      Business Etiquette<br>
                      Interview Skills<br>
                      Mock Interview<br></p>
        
                    </ul>
                  </div>
                </li>
        
        
        
              </ul>
        
            </div>
            <center style="margin-top: 40px;">
              <a href="#" class="btn_prime">APPLY NOW</a>
            </center>
          </section>
    <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->

    <!-- JS here -->
    <%- include("./partials/incurScript") %>

  </body>
</html>
