<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="/public/img/logo2.jpg" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>InCur</title>
  <style>
    .label_class {
      margin: 22px 0px 0px;
    }

    h4 {
      text-align: center;
      color: #24335b;
    }

    .btn-info {
      background-color: #24335b;
      border-color: #24335b;
      font-size: 20px;
      font-weight: bold;
    }
  </style>

</head>

<body onload="onloadMethod()">
  <!--Personal Details Section-->
  <section>
    <div class="container my-4 shadow" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-12 mt-4 ">
          <h4>ICSP Registration Form</h4>
        </div>
        <div class="col-md-12 ">
          <!--welcome alert-->
        
          <!--Detail Alert-->
          <div class="alert alert-info" role="alert">
            <h6>Personal Details</h6>
            <small id="" class="form-text text-muted">We'll never share your persoanl details with anyone else.</small>
          </div>
          <div class="alert alert-danger" role="alert" id="emailAlert">
          </div>
          <!--forms name-->
          <form>
            <div class="form-group">
              <label class="label_class" for="">Full Name</label>
              <input type="text" class="form-control" id="Name" aria-describedby="" placeholder="Full Name">
              <small id="emailHelp" class="form-text text-muted">IN BLOCK LETTERS</small>
            </div>
          </form>
          <!--form address-->
          <form>
            <div class="form-row my-2">
              <div class="col-6">
                <label class="label_class" for="">Address line 1</label>
                <input type="text" class="form-control" placeholder="Address line 1" id="Address1">
              </div>
              <div class="col-6">
                <label class="label_class" for="">Address line 2</label>
                <input type="text" class="form-control" placeholder="Address line 2" id="Address2">
              </div>
            </div>
          </form>

          <!--city/state-->
          <form>
            <div class="form-row my-2">
              <div class="col-7">
                <label class="label_class" for="">City</label>
                <input type="text" class="form-control" placeholder="City" id="City">
              </div>
              <div class="col">
                <label class="label_class" for="">State</label>
                <input type="text" class="form-control" placeholder="State" id="State">
              </div>
              <div class="col">
                <label class="label_class" for="">Zip</label>
                <input type="text" class="form-control" placeholder="Zip" id="Zip">
              </div>
            </div>
            <label class="label_class" for="">Mobile number</label>
            <input type="text" class="form-control" id="Number" aria-describedby="" placeholder="Mobile Number">
            <small id="emailHelp" class="form-text text-muted">With country code</small>


            <!--email-->

            <div class="form-group">
              <label class="label_class" for="">Email address</label>
              <input type="email" class="form-control" id="Email" aria-describedby="" placeholder="E-mail">
              <small id="" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!--dob and gender-->
            <div class="container" style="margin-bottom: 30px;">
              <div class="row">


                <div class="col-md-6 my-2">
                  <label class="label_class" for="">Gender</label>
                  <div class="d-flex">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="Gender" value="Male">
                      <label class="form-check-label" for="male">
                        Male
                      </label>
                    </div>
                    <div class="form-check  mx-2">
                      <input class="form-check-input" type="radio" name="gender" id="Gender" value="Female">
                      <label class="form-check-label" for="female">
                        Female
                      </label>
                    </div>
                    <div class="form-check  mx-2">
                      <input class="form-check-input" type="radio" name="gender" id="Gender" value="Others">
                      <label class="form-check-label" for="others">
                        Others
                      </label>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 my-2">
                  <label class="label_class" for="">DOB:</label>
                  <input type="date" id="DOB" name="dob">
                </div>
              </div>


            </div>

        </div>
      </div>
    </div>
  </section>
  <!--Academic-->
  <section>
    <div class="container my-4 shadow" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-12 ">
          <!--Detail Alert-->
          <div class="alert alert-info mt-5" role="alert">
            <h6>Academic Details</h6>
            <small id="" class="form-text text-muted">Enter Last completed course details</small>
          </div>
          <form>
            <div class="form-group">
              <label class="label_class" for="">Board/University</label>
              <input type="text" class="form-control" id="University" aria-describedby=""
                placeholder="Board/University">

            </div>
            <div class="form-group">
              <label class="label_class" for="">School/College</label>
              <input type="text" class="form-control" id="College" aria-describedby="" placeholder="School/College">

            </div>
            <div class="form-group">
              <label class="label_class" for="">Stream</label>
              <input type="text" class="form-control" id="Stream" aria-describedby="" placeholder="Stream">
            </div>
          </form>
          <form>
            <div class="form-row my-2">
              <div class="col">
                <label class="label_class" for="">Percentage of Marks</label>
                <input type="text" class="form-control" placeholder="Marks secured in  %" id="Percentage">
              </div>
              <div class="col">
                <label class="label_class" for="">Year of completion</label>
                <select class="custom-select mr-sm-2" id="YearOfCompletion">
                  <option selected>Year</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2020">2022</option>
                  <option value="2021">2023</option>
                </select>
              </div>
            </div>
          </form>
          <div class="form-group">
            <label class="label_class" for="">Remarks</label>
            <input type="text" class="form-control" id="Remarks" aria-describedby="" placeholder="Remarks if any">
          </div>
          <div class="alert alert-info mb-5 d-flex justify-content-between " role="alert">
            Before submission please validate details
            
          </div>
          <center>
          <button type="button" class="btn btn-info" onclick="Register()">Submit</button>
          </center>
        </div>
      </div>
      </form>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Incur Registration</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Thank You For registering in Incur. Please check your mail regarding the registration process and
              further queries. For any support..Please contact our support team
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

  </section>

  <script src="/public/scripts/login/IncurRegistration.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>
