<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Marketing and Business Development</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <link rel="shortcut icon" type="image/x-icon" href="/public/Main_Page/img/logo2.jpg" />
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/public/Main_Page/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/public/Main_Page/css/incur.css" />
  <!-- <link rel="stylesheet" href="css/responsive.css"> -->
  <style>
    
    #ab-serv2 p {
      padding-bottom: 60px;
      text-align: center;
    }

    #ab-serv2 .card {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    #ab-serv2 .card:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
      overflow: hidden;
    }

    #ab-serv2 .card a {
      color: #1e272e;
      margin: 5px;
    }

    #ab-serv2 .card a:hover {
      color: black;
    }

    .spk-img {
      width: 200px;
      margin-left: 20px;
    }

    .parallax {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: white;
    }

    h7 {
      font-size: 60px;
      text-align: center;
      text-transform: uppercase;
    }

    h8 {
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
    }

    h9 {
      font-size: 45px;
      text-align: center;
      text-transform: uppercase;
    }
  </style>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179940933-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-179940933-1");
  </script>
</head>

<body>
        <!-- header-start -->
        <%- include("./partials/incurHeader") %>
        <!-- header-end -->


  <!--==========================
        About incur Start
    ============================-->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <h1 class="block__title" style="text-align: left;">
            INDUSTRY CURATED SKILL PROGRAM (ICSP) IN MARKETING AND BUSINESS DEVELOPMENT
          </h1>
          <p class="block__paragraph">
            The course is intended to impart the skills required for Business Development associates and Associates of
            Customer Acquisition.
            Rigorous training in areas such as Decision Science and B2B/B2C skills, Negotiation skills, Distribution
            Channel Management etc. shall be imparted onto our students by a panel of Industry experts who's sole focus
            is to inculcate the skills required in the Industry Setting.
          </p>
          <a href="/incur/apply" class="btn_prime">APPLY NOW</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <img src="/public/Main_Page/img/incur/Marketing/market.jpg" alt="" class="about_incur"
            data-aos="flip-right" />
        </div>
      </div>
    </div>

    <div class="details">
      <div class="container">
        <div class="row">
          <!--Duration-->
          <section class="details_main_box">
            <div class="container fluid">
              <div class="row">

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card m-3 details_card">
                    <div class="card-body text-center">
                      <h3 class="block__title">Duration</h3>
                      <h6>Five weeks<br>Thirty hours</h6>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">

                  <div class="card m-3 details_card">
                    <div class="card-body text-center">
                      <h3 class="block__title">Mode</h3>
                      <h6>Online<br>Live Task Based Learning</h6>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">

                  <div class="card m-3 details_card">
                    <div class="card-body text-center">
                      <h3 class="block__title">Timing</h3>
                      <h6>30 Hours, 6 Hours Each Weekend</h6>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">

                  <div class="card m-3 details_card">
                    <div class="card-body text-center">
                      <h3 class="block__title">Trainers</h3>
                      <h6>5 Industry Experts + 1 Soft-Skill Trainer</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>


  <!--paralx-->
  <section>
    <div class="parallax" style="background-image: url(/public/Main_Page/img/incur/Marketing/student_benefits.svg);">
      <h7 class="block__title" data-aos="fade-right">Student Benefits</h7>
    </div>

    <div class="parallax" style="background-color:whitesmoke;">
      <div class="container fluid py-4" style="background-color:whitesmoke;">
        <div class="row">
          <div class="col-md-6">
            <div class="svg">
              <img data-aos="fade-down-right" class="img-fluid"
                src="/public/Main_Page/img/incur/Marketing/student_benefits.svg" alt="">
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-left">

            <div class="text-left block__paragraph">
              <P>Unbiased knowledge from Industry experts.</P>
              <P>Acquiring prioritized skill-based education.</P>
              <P>A clear perspective of the industry by proper
                training from well experienced industry
                experts.
              </P>
              <p>Self-analysis of skills and imbibed experience
                for constant self-updation and evolution for
                the industry.</p>
              <p>Low-cost Fast-track training to be industryready.
              </p>
              <p>Opportunity to work on 30-day Live Industry.</p>
              <p>Job opportunities from Elite Companies.</p>
              <p>80% higher chance of employment.</p>
              <p>Specialized Certificate to stand out from 98% of the crowd and create worth.</p>
              <P>Learning based solely on industry demands.</P>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax" style="background-image: url(/public/Main_Page/img/incur/Marketing/rgo.svg);">
      <h9 class="block__title" data-aos="fade-left">What do we have for Organisations</h9>
    </div>

    <div class="parallax" style="background-color:whitesmoke;">
      <div class="container fluid py-4" style="background-color:whitesmoke;">
        <div class="row">
          <div class="col-md-7" data-aos="fade-right">

            <div class="text-left block__paragraph">

              <p>Fast-track recruitment of candidates possessing high-demand industry skills prepared for the Industry,
                by the Industry</p>
              <p>Low/Zero-Cost training needed for screened candidates</p>
              <p>Zero recruitment effort</p>
              <p>Candidates suited and cut out to the requirements of the organisation</p>
              <p>Wide candidate pool to choose from</p>
              <P>Candidates with a good personality score guaranteed (INCUR carries out a psychometric test before
                initial admission to the course) to serve the organisation upon recruitment.
              </P>
            </div>
          </div>
          <div class="col-md-5">
            <div class="svg">
              <img data-aos="fade-down-left" class="img-fluid" src="/public/Main_Page/img/incur/Marketing/rgo.svg"
                alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax" style="background-image: url(/public/Main_Page/img/incur/Marketing/take_away.svg);">
      <h8 class="block__title" data-aos="fade-right">Key Takeaways from INCUR</h8>
    </div>
    <div class="parallax" style="background-color:whitesmoke;">
      <div class="container fluid py-4" style="background-color:whitesmoke;">
        <div class="row">
          <div class="col-md-6">
            <div class="svg">
              <img data-aos="fade-down-right" class="img-fluid"
                src="/public/Main_Page/img/incur/Marketing/take_away.svg" alt="">
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-left">

            <div class="text-left block__paragraph">
              <p>Industry on-demand skill possession</p>
              <p>30-day Live Project opportunity for outperforming students in mock interview</p>
              <p>Certificate of completion of internship
              </p>
              <p>Letter of recommendation (LoR) from industry coach, based on performance
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>
    </div>
  </section>

  <!--speaker section-->
  <section class="mb-5">
    <section id="ab-serv2">
      <div class="container">
        <div class="row ">
          <div class="col-12 text-center">
            <h2 class="block__title" data-aos="fade-up">Speakers</h2>
            <p class="block__pre-title" data-aos="fade-up">Our Trainers are from top industries</p>
          </div>
          <!--speker 1-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="fade-right">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="flip-right"
                  src="/public/Main_Page/img/incur/Marketing/dennis.jpeg" alt="img">
                <h5 class="text-center mt-4">Mr. Dennis Thomas</h5>
                <p class="card-text pb-1">Assistant Vice President Learning & Development, ESAF Bank</p>
                <ul class="list-inline text-center">

                  <a href="https://www.linkedin.com/in/dennis-thomas-491a0b144/" target="_blank"><i
                      class="fa fa-2x fa-linkedin"></i></a>
                </ul>

              </div>
            </div>
          </div>

          <!--speker 2-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="flip-right">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="fade-up"
                  src="/public/Main_Page/img/incur/Marketing/chetan_dubey.jpeg" alt="img">
                <h5 class="text-center mt-4">Mr. Chetan Dubey</h5>
                <p class="card-text pb-1">Brand manager at India's leading FMCG</p>
                <ul class="list-inline text-center">

                  <a href="https://www.linkedin.com/in/chetan-dubey-3393a954/" target="_blank"><i
                      class="fa fa-2x fa-linkedin"></i></a>
                </ul>

              </div>
            </div>
          </div>

          <!--speker 3-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="fade-left">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="flip-left"
                  src="/public/Main_Page/img/incur/Marketing/ajeesh_g.jpg" alt="img">
                <h5 class="text-center mt-4">Dr. Ajeesh G Mannadiar</h5>
                <p class="card-text pb-1">Project Manager - Composites at Larsen & Toubro , Coimbatore
                </p>
                <ul class="list-inline text-center">

                  <a href="https://www.linkedin.com/in/dr-ajeesh-g-mannadiar-91420267/" target="_blank"><i
                      class="fa fa-2x fa-linkedin"></i></a>
                </ul>

              </div>
            </div>
          </div>

          <!--speker 4-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="fade-right">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="flip-right"
                  src="/public/Main_Page/img/incur/Marketing/vaibhav.jpeg" alt="img">
                <h5 class="text-center mt-4">Mr. Vaibhav Manke</h5>
                <p class="card-text pb-1">National Key Accounts Head at Panasonic</p>
                <ul class="list-inline text-center">

                  <a href="https://www.linkedin.com/in/vaibhav-manke-81b4416/" target="_blank"><i
                      class="fa fa-2x fa-linkedin"></i></a>
                </ul>

              </div>
            </div>
          </div>

          <!--speker 5-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="flip-left">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="fade-down"
                  src="/public/Main_Page/img/incur/Marketing/dummy-male.jpg" alt="img">
                <h5 class="text-center mt-4">Mr. Vishnu Vasudhevan</h5>
                <p class="card-text pb-1">Senior Sales Officer, Mondelez International</p>
                <ul class="list-inline text-center">

                  <a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                </ul>

              </div>
            </div>
          </div>

          <!--speker 6-->
          <div class="col-lg-4 col-md-6">
            <div class="card shadow" style="width: 18rem; border-radius: 15px;" data-aos="fade-left">
              <div class="card-body">
                <img class="img-fluid spk-img rounded-circle" data-aos="flip-left"
                  src="/public/Main_Page/img/incur/Marketing/anumol.jpeg" alt="img">
                <h5 class="text-center mt-4">Ms. Anmol Seghal</h5>
                <p class="card-text pb-1">Training Professional, Soft Skills Trainer</p>
                <ul class="list-inline text-center">

                  <a href="https://www.linkedin.com/in/anmol-sehgal-3a9b4bb6/" target="_blank"><i
                      class="fa fa-2x fa-linkedin"></i></a>
                </ul>
              </div>
            </div>
          </div>

    </section>
  </section>

  <section id="course_syllubus">
    <div class="container">
      <header class="section-header">
        <h3 class="block__title">Syllabus</h3>
        <h6 class="block__pre-title">Speakers with there syllubus</h6>
      </header>

      <ul id="course_syllubus_list">

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">Dr. Ajeesh G Mannadiar
            <i class="fa fa-minus"></i></a>
          <div id="faq1" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Business Development<br>
              Project/Programme Management<br>
              Market Research and Intelligience<br>
              Decision Making and Decision Science</p>
            </ul>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq2">Mr. Chetan Dubey <i class="fa fa-minus"></i></a>
          <div id="faq2" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Marketing Management<br>
              Digital Marketing<br>
              Integrated Marketing Communication and STPD<br>
              Market Research/Need-gap analysis</p>
            </ul>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq3">Mr. Vaibhav Manke
            <i class="fa fa-minus"></i></a>
          <div id="faq3" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Sales Management<br>
              Business Communication<br>
              Customer Relationship Management<br>
              Basic Computer Skills</p>
            </ul>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq4">Mr. Dennis Thomas <i class="fa fa-minus"></i></a>
          <div id="faq4" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Selling Skills-B2B/B2C<br>
              Customer Experience Management<br>
              Effective Corporate Communication<br>
              Corporate Etiquette</p>

            </ul>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq5">Mr. Vishnu Vasudhevan <i class="fa fa-minus"></i></a>
          <div id="faq5" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Selling and Negotiation Skills<br>
              Distribution/Channel Management<br>
              Sales Report<br>
              Sales Strategy</p>

            </ul>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq6">Ms. Anmol Seghal <i class="fa fa-minus"></i></a>
          <div id="faq6" class="collapse" data-parent="#course_syllubus_list">
            <ul class="ul_collapse">
              <p class="block__paragraph" style="margin-left: 15px;">Verbal and Non-verbal Communication</li>
              Goal Setting<br>
              Emotional Intelligence and Empathy<br>
              Team Management and Motivation<br>
              Business Etiquette<br>
              Interview Skills<br>
              Mock Interview<br></p>

            </ul>
          </div>
        </li>



      </ul>

    </div>
    <center style="margin-top: 40px;">
      <a href="/incur/apply" class="btn_prime">APPLY NOW</a>
    </center>
  </section>



  <!--==========================
      Syllubus Section End
    ============================-->
     <!-- footer-start -->
    <%- include("./partials/incurFooter") %>
    <!-- footer-end -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({ duration: 1000 });
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>